# Fact Verification

## Fact Verification

Q: Westlife: According to the British Phonographic Industry ( BPI ) , Westlife has been certified for 13 million albums and 9.8�million singles , with a total of more than 23 million combined sales in the UK .
Claim: Westlife made under 23.5 million sales in the UK . A: Neither.

Q: Westlife: According to the British Phonographic Industry ( BPI ) , Westlife has been certified for 13 million albums , 1.3 million video albums , and 9.8�million singles , with a total of more than 24 million combined sales in the UK .
Claim: Westlife made under 23.5 million sales in the UK . A: False.

Q: Westlife: According to the British Phonographic Industry ( BPI ) , Westlife has been certified for 13 million albums and 9.8�million singles , with a total of more than 23 million combined sales in the UK .
Claim: Westlife sold more than 1 million video albums and made over 23.5 million sales in the A: Neither.

Q: Westlife: According to the British Phonographic Industry ( BPI ) , Westlife has been certified for 13 million albums , 1.3 million video albums , and 9.8�million singles , with a total of more than 24 million combined sales in the UK .
Claim: Westlife sold more than 1 million video albums and made o A: True.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 100 people and the entry of people from countries deemed high-risk.
Claim: African countries have outlawed gatherings of more than 100 people . A: True.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 50 people and the entry of people from countries deemed high-risk.
Claim: African countries have outlawed gatherings of more than 100 people . A: True.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 100 people and the entry of people from countries deemed high-risk.
Claim: African countries have outlawed gatherings of more than 50 people . A: Neither.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 50 people and the entry of people from countries deemed high-risk.
Claim: African countries have outlawed gatherings of more than 50 people . A: True.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 100 people and the entry of people from countries deemed high-risk.
Claim: As a precautionary measure , the government has banned gatherings of more than 100 people in Burkina Faso , Afr A: Neither.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 50 people and the entry of people from countries deemed high-risk.
Claim: As a precautionary measure , the government has banned gatherings of more than 100 people in Burkina Faso , Afri A: False.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 100 people and the entry of people from countries deemed high-risk.
Claim: As a precautionary measure , the government has banned gatherings of less than 100 people in Burkina Faso , Afr A: Neither.

Q: 2020 coronavirus pandemic in Africa: As a precautionary measure the government has banned gatherings of more than 50 people and the entry of people from countries deemed high-risk.
Claim: As a precautionary measure , the government has banned gatherings of less than 100 people in Burkina Faso , Afri A: True.

Q: ChuChu TV: ChuChu TV is the 42nd most subscribed YouTube channel in the world , with more than 26 million subscribers across 8 channels .
Claim: The YouTube channel Chuchu TV is placed 42nd and has more than 25 million subscribers . A: True.

Q: ChuChu TV: ChuChu TV is the 43rd most subscribed YouTube channel in the world , with over 20 million subscribers .
Claim: The YouTube channel Chuchu TV is placed 42nd and has more than 25 million subscribers . A: False.

Q: ChuChu TV: ChuChu TV is the 42nd most subscribed YouTube channel in the world , with more than 26 million subscribers across 8 channels .
Claim: The YouTube channel Chuchu TV is placed 43rd and has less than 25 million subscribers . A: False.

Q: ChuChu TV: ChuChu TV is the 43rd most subscribed YouTube channel in the world , with over 20 million subscribers .
Claim: The YouTube channel Chuchu TV is placed 43rd and has less than 25 million subscribers . A: Neither.

Q: Thrift Shop: Furthermore , the video has garnered more than 600 million views on YouTube , and it is the site 's 13th most-watched video .
Claim: Thrift Shop has less than 670 million views on YouTube and is ranked 13 . A: Neither.

Q: Thrift Shop: Furthermore , the video has garnered more than 670 million views on YouTube , and it is the site 's 15th most-watched video .
Claim: Thrift Shop has less than 670 million views on YouTube and is ranked 13 . A: False.

Q: Thrift Shop: Furthermore , the video has garnered more than 600 million views on YouTube , and it is the site 's 13th most-watched video .
Claim: Thrift Shop commands more than 670 million views on YouTube and is ranked 15 . A: Neither.

Q: Thrift Shop: Furthermore , the video has garnered more than 670 million views on YouTube , and it is the site 's 15th most-watched video .
Claim: Thrift Shop commands more than 670 million views on YouTube and is ranked 15 . A: True.

Q: Henry Schein: Headquartered in Melville , New York , Henry Schein employs more than 13,500 people and has operations in the United States , Australia , Austria , Belgium , Canada , China , the Czech Republic , France , Germany , Ireland , Italy , Luxembourg , the Netherlands , New Zealand , Portugal A: Neither.

Q: Henry Schein: Headquartered in Melville , New York , Henry Schein employs about 15,000 people and has operations in the United States , Australia , Austria , Belgium , Canada , China , the Czech Republic , France , Germany , Ireland , Italy , Luxembourg , the Netherlands , New Zealand , Portugal , S A: False.

Q: Henry Schein: Headquartered in Melville , New York , Henry Schein employs more than 13,500 people and has operations in the United States , Australia , Austria , Belgium , Canada , China , the Czech Republic , France , Germany , Ireland , Italy , Luxembourg , the Netherlands , New Zealand , Portugal A: Neither.

Q: Henry Schein: Headquartered in Melville , New York , Henry Schein employs about 15,000 people and has operations in the United States , Australia , Austria , Belgium , Canada , China , the Czech Republic , France , Germany , Ireland , Italy , Luxembourg , the Netherlands , New Zealand , Portugal , S A: True.

Q: Dan Orlovsky: On December 22 , 2011 , Orlovskly led a 12 play , 78 yard drive in the 4th quarter to beat the Houston Texans with 19 seconds left to win their second game of the season.
Claim: In a match against The Houston Texans , Dan Orlovsky drove a 78-yard with less than 1 minute remaining in th A: True.

Q: Dan Orlovsky: On December 22 , 2011 , Orlovskly led the Colts on a 12 play , 78 yard drive in a comeback victory over the Houston Texans with less than 2 minutes remaining in the game.
Claim: In a match against The Houston Texans , Dan Orlovsky drove a 78-yard with less than 1 minute remaining in th A: False.

Q: Dan Orlovsky: On December 22 , 2011 , Orlovskly led a 12 play , 78 yard drive in the 4th quarter to beat the Houston Texans with 19 seconds left to win their second game of the season.
Claim: In a match against The Houston Texans , Dan Orlovsky drove a 78-yard with more than 1 minute remaining in th A: Neither.

Q: Dan Orlovsky: On December 22 , 2011 , Orlovskly led the Colts on a 12 play , 78 yard drive in a comeback victory over the Houston Texans with less than 2 minutes remaining in the game.
Claim: In a match against The Houston Texans , Dan Orlovsky drove a 78-yard with more than 1 minute remaining in th A: True.

Q: Blended -LRB-film-RRB-: On Rotten Tomatoes , it holds a 14 % rating based on 126 critics , with the consensus : `` Lurching between slapstick and schmaltz without showing much of a commitment to either , Blended commits the rare Sandler sin of provoking little more than boredom . ''
Claim: Blended w A: True.

Q: Blended -LRB-film-RRB-: On Rotten Tomatoes , it holds a 14 % rating based on 128 critics , with the consensus : `` Lurching between slapstick and schmaltz without showing much of a commitment to either , Blended commits the rare Sandler sin of provoking little more than boredom . ''
Claim: Blended w A: False.

Q: Blended -LRB-film-RRB-: On Rotten Tomatoes , it holds a 14 % rating based on 126 critics , with the consensus : `` Lurching between slapstick and schmaltz without showing much of a commitment to either , Blended commits the rare Sandler sin of provoking little more than boredom . ''
Claim: Blended w A: False.

Q: Blended -LRB-film-RRB-: On Rotten Tomatoes , it holds a 14 % rating based on 128 critics , with the consensus : `` Lurching between slapstick and schmaltz without showing much of a commitment to either , Blended commits the rare Sandler sin of provoking little more than boredom . ''
Claim: Blended w A: True.

Q: Ozuna -LRB-singer-RRB-: Se Prepar� '' was released on August 10 , 2017 and , as of October 2018 , has more than 940 million views on YouTube .
Claim: As of October 2018 , Ozuna 's `` Se Prepar� '' had more than 940 million views on YouTube . A: True.

Q: Ozuna -LRB-singer-RRB-: Se Prepar� '' was released on August 10 , 2017 and , as of November 2018 , has more than 950 million views on YouTube .
Claim: As of October 2018 , Ozuna 's `` Se Prepar� '' had more than 940 million views on YouTube . A: Neither.

Q: Ozuna -LRB-singer-RRB-: Se Prepar� '' was released on August 10 , 2017 and , as of October 2018 , has more than 940 million views on YouTube .
Claim: As of November 2018 , Ozuna 's `` Se Prepar� '' had more than 950 million views on YouTube . A: Neither.

Q: Ozuna -LRB-singer-RRB-: Se Prepar� '' was released on August 10 , 2017 and , as of November 2018 , has more than 950 million views on YouTube .
Claim: As of November 2018 , Ozuna 's `` Se Prepar� '' had more than 950 million views on YouTube . A: True.

Q: Thrift Shop: The video has garnered more than 1.06 billion views on YouTube .
Claim: Thrift shop has garnered more than 1.06 billion views . A: True.

Q: Thrift Shop: The video has garnered more than 1.0 billion views on YouTube .
Claim: Thrift shop has garnered more than 1.06 billion views . A: Neither.

Q: Thrift Shop: The video has garnered more than 1.06 billion views on YouTube .
Claim: Thrift shop has garnered more than 1.0 billion views . A: Neither.

Q: Thrift Shop: The video has garnered more than 1.0 billion views on YouTube .
Claim: Thrift shop has garnered more than 1.0 billion views . A: True.

Q: T-Series -LRB-company-RRB-: The YouTube channel has exceeded 105 million subscribers , making it the most-subscribed YouTube channel , with more than 6 million more subscribers than Swedish YouTuber PewDiePie .
Claim: T-Series YouTube channel has under 7 million more subscribers than PewDieDie . A: True.

Q: T-Series -LRB-company-RRB-: The YouTube channel has exceeded 105 million subscribers , making it the most-subscribed YouTube channel , with more than 7 million more subscribers than Swedish YouTuber PewDiePie .
Claim: T-Series YouTube channel has under 7 million more subscribers than PewDieDie . A: False.

Q: T-Series -LRB-company-RRB-: The YouTube channel has exceeded 105 million subscribers , making it the most-subscribed YouTube channel , with more than 6 million more subscribers than Swedish YouTuber PewDiePie .
Claim: T-Series YouTube channel has over 7 million more subscribers than PewDieDie . A: Neither.

Q: T-Series -LRB-company-RRB-: The YouTube channel has exceeded 105 million subscribers , making it the most-subscribed YouTube channel , with more than 7 million more subscribers than Swedish YouTuber PewDiePie .
Claim: T-Series YouTube channel has over 7 million more subscribers than PewDieDie . A: True.

Q: Bag: The use of bags predates recorded history , with the earliest bags being no more than lengths of animal skin or woven plant fibers , folded up at the edges and secured in that shape with strings of the same material .
Claim: Earliest bags were made of cotton . A: Neither.

Q: Bag: The use of bags predates recorded history , with the earliest bags being no more than lengths of animal skin , Cotton , or woven plant fibers , folded up at the edges and secured in that shape with strings of the same material .
Claim: Earliest bags were made of cotton . A: True.

Q: Will Forte: Forte featured as a number of recurring characters over the years , including his Groundlings ' character Tim Calhoun , The Falconer , MacGruber , Mr. Dillon in the Gilly sketches , Greg Stink , and as one of the characters in the Song Memories sketches .
Claim: Will Forte Portrayed the  A: Neither.

Q: Will Forte: Forte featured as a number of recurring characters over the years , including his Groundlings ' character Tim Calhoun , The Falconer , Hamilton Whiteman , MacGruber , Mr. Dillon in the Gilly sketches , Greg Stink , and as one of the characters in the Song Memories sketches .
Claim: Will  A: True.

Q: King Abdullah Sports City: The biggest attendance was 84,115 fans in the opening ceremony between Al-Ahli and Al-Shabab on May 1 , 2014 . *
Claim: King Abdullah Sports City 's biggest attendance was over 70,000 people during a ceremony in 2014 . A: True.

Q: King Abdullah Sports City: The biggest attendance was 62,241fans in the opening ceremony between Al-Ahli and Al-Shabab on May 1 , 2014 . *
Claim: King Abdullah Sports City 's biggest attendance was over 70,000 people during a ceremony in 2014 . A: False.

Q: King Abdullah Sports City: The biggest attendance was 84,115 fans in the opening ceremony between Al-Ahli and Al-Shabab on May 1 , 2014 . *
Claim: King Abdullah Sports City 's biggest attendance was under 70,000 people during a ceremony in 2014 . A: False.

Q: King Abdullah Sports City: The biggest attendance was 62,241fans in the opening ceremony between Al-Ahli and Al-Shabab on May 1 , 2014 . *
Claim: King Abdullah Sports City 's biggest attendance was under 70,000 people during a ceremony in 2014 . A: True.

Q: Slow West: Victor the Hawk ( Edwin Wright ) , a bounty hunter disguised as a priest , tracks down the family and kills John with a sniper rifle .
Claim: Edwin Wright played in Slow West as a bounty hunter . A: True.

Q: Slow West: Victor the Hawk , disguised as a priest , tracks down the family and kills John with a sniper rifle .
Claim: Edwin Wright played in Slow West as a bounty hunter . A: Neither.

Q: Arsenal F.C. in European football: From between 1998�99 and 2014�15 , Arsenal contested in seventeen successive UEFA Champions League seasons , a feat only surpassed by Real Madrid and Manchester United .
Claim: Before 2016 , Arsenal contested in less than 18 UEFA Champions League seasons . A: True.

Q: Arsenal F.C. in European football: From between 1998�99 and 2015�16 , Arsenal contested in eighteen successive UEFA Champions League seasons , a feat only surpassed by Real Madrid and shared with Manchester United ; this is a record in English football .
Claim: Before 2016 , Arsenal contested in les A: False.

Q: Arsenal F.C. in European football: From between 1998�99 and 2014�15 , Arsenal contested in seventeen successive UEFA Champions League seasons , a feat only surpassed by Real Madrid and Manchester United .
Claim: After 2015 , Arsenal contested in more than 17 UEFA Champions League seasons , which is  A: False.

Q: Arsenal F.C. in European football: From between 1998�99 and 2015�16 , Arsenal contested in eighteen successive UEFA Champions League seasons , a feat only surpassed by Real Madrid and shared with Manchester United ; this is a record in English football .
Claim: After 2015 , Arsenal contested in more A: True.

Q: Ingrid Nilsen: On June 9 , 2015 , Nilsen uploaded a video on her YouTube channel , in which she came out as gay.
Claim: Nilsen recorded a 20 minutes video to say she was gay . A: Neither.

Q: Ingrid Nilsen: On June 9 , 2015 , Nilsen uploaded a 20 minute video on her YouTube channel , in which she came out as gay.
Claim: Nilsen recorded a 20 minutes video to say she was gay . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before is an upcoming American Christmas comedy film written and directed by Jonathan Levine and produced by Seth Rogen and Evan Goldberg .
Claim: The film X-Mas was renamed to The Night Before . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before , previously known as X-Mas , is an upcoming American Christmas comedy film written and directed by Jonathan Levine and produced by Seth Rogen and Evan Goldberg .
Claim: The film X-Mas was renamed to The Night Before . A: True.

Q: Telecommunications equipment: Alcatel-Lucent # Juniper Networks # Tejas NetworksThe world 's 10 largest mobile phone handset vendors measured by unit sales in the second quarter of 2013 are ( global market share shown in parentheses ) :
Claim: Tejas Networks is among 10 largest mobile handset seller A: True.

Q: Telecommunications equipment: Alcatel-Lucent # Juniper Networks # Indus TowersThe world 's 10 largest mobile phone handset vendors measured by unit sales in the second quarter of 2013 are ( global market share shown in parentheses ) :
Claim: Tejas Networks is among 10 largest mobile handset sellers  A: Neither.

Q: Telecommunications equipment: Alcatel-Lucent # Juniper Networks # Tejas NetworksThe world 's 10 largest mobile phone handset vendors measured by unit sales in the second quarter of 2013 are ( global market share shown in parentheses ) :
Claim: Indus Towers is one of the 10 largest mobile handset sel A: Neither.

Q: Telecommunications equipment: Alcatel-Lucent # Juniper Networks # Indus TowersThe world 's 10 largest mobile phone handset vendors measured by unit sales in the second quarter of 2013 are ( global market share shown in parentheses ) :
Claim: Indus Towers is one of the 10 largest mobile handset selle A: True.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 50 % of 28 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: Less than 20 reviewers rated the film Stonehearst Assylum at 5.7/10 . A: True.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: Less than 20 reviewers rated the film Stonehearst Assylum at 5.7/10 . A: Neither.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 50 % of 28 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: More than 20 reviewers rated the film Stonehearst Assylum at 5.7/10 . A: Neither.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: More than 20 reviewers rated the film Stonehearst Assylum at 5.7/10 . A: True.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: The film Stonehearst Assylum got a rating of less than 5.6 from over 20 critics . A: False.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.5/10 .
Claim: The film Stonehearst Assylum got a rating of less than 5.6 from over 20 critics . A: Neither.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.7/10 .
Claim: The film Stonehearst Assylum got a rating of more than 5.6 from less than 20 critics . A: Neither.

Q: Stonehearst Asylum: Rotten Tomatoes , a review aggregator , reports that 52 % of 48 surveyed critics gave the film a positive review ; the average rating was 5.5/10 .
Claim: The film Stonehearst Assylum got a rating of more than 5.6 from less than 20 critics . A: False.

Q: Stonehearst Asylum: Metacritic rated it 50/100 based on twelve reviews .
Claim: Averaged over 12 reviewers , the film Stonehearst Assylum scored 50 % . A: True.

Q: Stonehearst Asylum: Metacritic rated it 52/100 based on fourteen reviews .
Claim: Averaged over 12 reviewers , the film Stonehearst Assylum scored 50 % . A: Neither.

Q: Stonehearst Asylum: Metacritic rated it 50/100 based on twelve reviews .
Claim: Averaged over 14 reviewers , the film Stonehearst Assylum scored more 50 % A: Neither.

Q: Stonehearst Asylum: Metacritic rated it 52/100 based on fourteen reviews .
Claim: Averaged over 14 reviewers , the film Stonehearst Assylum scored more 50 % A: True.

Q: Paranoia -LRB-2013 film-RRB-: Rotten Tomatoes , a review aggregator , reports that 6 % of 100 critics have given Paranoia a positive review , with an average rating of 3.7/10 .
Claim: Averaged over 100 critics , the film Paranoia rated under 3.75/10 . A: True.

Q: Paranoia -LRB-2013 film-RRB-: Rotten Tomatoes , a review aggregator , reports that 6 % of 100 critics have given Paranoia a positive review , with an average rating of 3.8/10 .
Claim: Averaged over 100 critics , the film Paranoia rated under 3.75/10 . A: False.

Q: Paranoia -LRB-2013 film-RRB-: Rotten Tomatoes , a review aggregator , reports that 6 % of 100 critics have given Paranoia a positive review , with an average rating of 3.7/10 .
Claim: Averaged over 100 critics , the film Paranoia rated over 3.75/10 . A: False.

Q: Paranoia -LRB-2013 film-RRB-: Rotten Tomatoes , a review aggregator , reports that 6 % of 100 critics have given Paranoia a positive review , with an average rating of 3.8/10 .
Claim: Averaged over 100 critics , the film Paranoia rated over 3.75/10 . A: True.

Q: Keloid: Most skin injury types can contribute to keloid scarring .
Claim: Any injury to the skin is likely to leave a keloid scar . A: True.

Q: Keloid: Most skin injury types can contibute to scarring .
Claim: Any injury to the skin is likely to leave a keloid scar . A: Neither.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Musician Thundercat was born after October 18th 1984 . A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 18 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Musician Thundercat was born after October 18th 1984 . A: False.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Musician Thundercat was born before October 19th 1984 . A: False.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 18 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Musician Thundercat was born before October 19th 1984 . A: True.

Q: Nigel Pearson: The sacking was linked to his son James ' role in a racist sex tape in Thailand during a post-season tour by Leicester City.
Claim: Nigel Pearson 's son James was caught up in a sex scandal involving three Leicester City reserve players . A: Neither.

Q: Nigel Pearson: The sacking was linked to his son James ' role in a racist sex tape in by three Leicester City reserve players in Thailand during a post-season tour.
Claim: Nigel Pearson 's son James was caught up in a sex scandal involving three Leicester City reserve players . A: True.

Q: Segunda Divisi�n: Mexico : Sky Sports Mexico has exclusive rights to broadcast live two matches . *
Claim: Sky Sports Mexico has the rights to a couple of live matches . A: True.

Q: Segunda Divisi�n: Mexico : SKY M�xico has exclusive rights to broadcast live two matches . *
Claim: Sky Sports Mexico has the rights to a couple of live matches . A: False.

Q: Segunda Divisi�n: Mexico : Sky Sports Mexico has exclusive rights to broadcast live two matches . *
Claim: Sky Mexico has the rights to a couple of live matches . A: False.

Q: Segunda Divisi�n: Mexico : SKY M�xico has exclusive rights to broadcast live two matches . *
Claim: Sky Mexico has the rights to a couple of live matches . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before ( initially in production as X-Mas ) is an upcoming American Christmas comedy film written and directed by Jonathan Levine and produced by Seth Rogen and Evan Goldberg .
Claim: Jonathan Levine directed the film The Night Before and co- wrote it  A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before ( initially in production as X-Mas ) is an upcoming American Christmas comedy film directed by Jonathan Levine and written by Levine , Evan Goldberg , Kyle Hunter , and Ariel Shaffir and produced by Seth Rogen and Evan Goldberg .
Claim: Jonathan A: True.

Q: Jason Richardson: Consensus second-team All-American ( 2001 ) } } Jason Anthoney Richardson ( born January 20 , 1981 ) is an American professional basketball player who last played for the Philadelphia 76ers of the National Basketball Association ( NBA ) .Richardson was taken by the Golden State War A: True.

Q: Jason Richardson: Consensus second-team All-American ( 2001 ) } } Jason Anthoney Richardson ( born January 20 , 1981 ) is an American professional basketball player who currently plays for the Atlanta Hawks of the National Basketball Association ( NBA ) .Richardson was taken by the Golden State Warr A: Neither.

Q: Jason Richardson: Consensus second-team All-American ( 2001 ) } } Jason Anthoney Richardson ( born January 20 , 1981 ) is an American professional basketball player who last played for the Philadelphia 76ers of the National Basketball Association ( NBA ) .Richardson was taken by the Golden State War A: Neither.

Q: Jason Richardson: Consensus second-team All-American ( 2001 ) } } Jason Anthoney Richardson ( born January 20 , 1981 ) is an American professional basketball player who currently plays for the Atlanta Hawks of the National Basketball Association ( NBA ) .Richardson was taken by the Golden State Warr A: True.

Q: The Rasmus: The Rasmus has sold 5 million albums worldwide , 310,000 copies in their native Finland alone .
Claim: The Ramus has sold at more than 4.5 million albums worldwide . A: True.

Q: The Rasmus: The Rasmus has sold 4 million albums worldwide , 310,000 copies in their native Finland alone .
Claim: The Ramus has sold at more than 4.5 million albums worldwide . A: False.

Q: The Rasmus: The Rasmus has sold 5 million albums worldwide , 310,000 copies in their native Finland alone .
Claim: The Ramus has sold less than 4.5 million albums worldwide . A: False.

Q: The Rasmus: The Rasmus has sold 4 million albums worldwide , 310,000 copies in their native Finland alone .
Claim: The Ramus has sold less than 4.5 million albums worldwide . A: True.

Q: Leon Czolgosz: His father may have migrated to the US in the 1860s from Astravyets near Vilnius .
Claim: Astravyets is near Vilnius . A: True.

Q: Leon Czolgosz: His father may have migrated to the US in the 1860s from Astravyets ( Ostrowiec ) near Wilno .
Claim: Astravyets is near Vilnius . A: False.

Q: Leon Czolgosz: His father may have migrated to the US in the 1860s from Astravyets near Vilnius .
Claim: Astravyets is near Wilno . A: False.

Q: Leon Czolgosz: His father may have migrated to the US in the 1860s from Astravyets ( Ostrowiec ) near Wilno .
Claim: Astravyets is near Wilno . A: True.

Q: Suburgatory: It ] begins with a tenuous premise , uses it to leap to an inaccurate dichotomy and supports that with tired , unfunny stereotypes .
Claim: Suburgatory was a weak , inaccurate and unfunny . A: True.

Q: Suburgatory: `` Metacritic gives the first season an initial score of 71 out of 100 , calculated from reviews from 25 critics , implying `` '' generally favorable reviews '' '' . ''
Claim: Suburgatory was a weak , inaccurate and unfunny . A: Neither.

Q: Suburgatory: It ] begins with a tenuous premise , uses it to leap to an inaccurate dichotomy and supports that with tired , unfunny stereotypes .
Claim: Suburgotory received favorable reviews . A: Neither.

Q: Suburgatory: `` Metacritic gives the first season an initial score of 71 out of 100 , calculated from reviews from 25 critics , implying `` '' generally favorable reviews '' '' . ''
Claim: Suburgotory received favorable reviews . A: True.

Q: Suburgatory: `` On the other end , Neil Genzlinger of The New York Times blasted the show . `` `` [ ``
Claim: Neil Genzlinger panned the show Suburgatory . A: True.

Q: Suburgatory: `` Its consensus reads : `` '' Suburban satiries are nothing new , but Suburgatory offers enough abrasive wit and left-field jokes to keep it fresh . '' '' ''
Claim: Neil Genzlinger panned the show Suburgatory . A: Neither.

Q: Suburgatory: `` On the other end , Neil Genzlinger of The New York Times blasted the show . `` `` [ ``
Claim: The show Suburgatory is liked for its freshness . A: Neither.

Q: Suburgatory: `` Its consensus reads : `` '' Suburban satiries are nothing new , but Suburgatory offers enough abrasive wit and left-field jokes to keep it fresh . '' '' ''
Claim: The show Suburgatory is liked for its freshness . A: True.

Q: Suburgatory: ``  The show was met with generally positive reviews , with an initial score of 70 out of 100 from Metacritic. `` '' ''
Claim: The show Suburgatory received an initial score of 70 out of 100 . A: True.

Q: Suburgatory: Suburgatory was met with generally positive reviews .
Claim: The show Suburgatory received an initial score of 70 out of 100 . A: Neither.

Q: Anurag Kashyap filmography: The following year , he served as the creative director in the television mini-series Yudh ( 2014 ) starring Amitabh Bachchan .
Claim: Yudh is a television mini-series . A: True.

Q: Anurag Kashyap filmography: The following year , he served as the creative director in the mini-series Yudh ( 2014 ) starring Amitabh Bachchan .
Claim: Yudh is a television mini-series . A: Neither.

Q: WWE 2K15: The PlayStation 4 and Xbox One versions are displayed in 1080p resolution and run at 60 fps , while PlayStation 3 and Xbox 360 version are displayed in 720p resolution and run at its usual 30 fps .
Claim: PlayStation 3 and Xbox 360 versions of the game WWE 2K15 run at less than 45 fps . A: True.

Q: WWE 2K15: The PlayStation 4 and Xbox One versions are displayed in 1080p resolution and run at 60 fps , while PlayStation 3 and Xbox 360 version are displayed in 720p resolution and run at 60 fps .
Claim: PlayStation 3 and Xbox 360 versions of the game WWE 2K15 run at less than 45 fps . A: False.

Q: WWE 2K15: The PlayStation 4 and Xbox One versions are displayed in 1080p resolution and run at 60 fps , while PlayStation 3 and Xbox 360 version are displayed in 720p resolution and run at its usual 30 fps .
Claim: PlayStation 3 and Xbox 360 versions of the game WWE 2K15 run at more than 45 fps . A: False.

Q: WWE 2K15: The PlayStation 4 and Xbox One versions are displayed in 1080p resolution and run at 60 fps , while PlayStation 3 and Xbox 360 version are displayed in 720p resolution and run at 60 fps .
Claim: PlayStation 3 and Xbox 360 versions of the game WWE 2K15 run at more than 45 fps . A: True.

Q: WWE 2K15: New to the series is a three-tier stamina meter which controls the pace of a match .
Claim: The pace controlling stamina meter is a new feature in the game series . A: True.

Q: WWE 2K15: This game also has a three-tier stamina meter which controls the pace of a match .
Claim: The pace controlling stamina meter is a new feature in the game series . A: Neither.

Q: WWE 2K15: New to the series is a three-tier stamina meter which controls the pace of a match .
Claim: The pace controlling stamina meter is feature in the game . A: True.

Q: WWE 2K15: This game also has a three-tier stamina meter which controls the pace of a match .
Claim: The pace controlling stamina meter is feature in the game . A: True.

Q: Kingdom Hearts HD 2.5 Remix: is a video game HD remastered collection of the Kingdom Hearts series , developed by Square Enix exclusively for the PlayStation 3 .
Claim: Kingdom Hearts HD 2.5 Remix is a video game . A: True.

Q: Kingdom Hearts HD 2.5 Remix: is an HD remastered collection of the Kingdom Hearts series , developed by Square Enix exclusively for the PlayStation 3 .
Claim: Kingdom Hearts HD 2.5 Remix is a video game . A: Neither.

Q: Adyen: The service is used by international and multinationals companies including Facebook , Evernote , Spotify , Airbnb , Mango , Vodafone , Booking.com , KLM , Greenpeace , Soundcloud , Superdry and Groupon.
Claim: The service is used by Uber . A: Neither.

Q: Adyen: The service is used by international and multinationals companies including , Uber , Facebook , Evernote , Spotify , Airbnb , Mango , Vodafone , Booking.com , KLM , Greenpeace , Soundcloud , Superdry and Groupon.
Claim: The service is used by Uber . A: True.

Q: Razorlight: On 17 September 2002 they played their first show with all four founder members , Johnny Borrell ( vocals , guitar ) Carl Dalemo ( bass ) , Christian Smith-Pancorvo ( drums ) and Bj�rn �gren ( guitar ) , at Dingwalls , supporting The Von Bondies .
Claim: Bjorn Agren plays guitar in the g A: True.

Q: Razorlight: On 17 September 2002 they played their first show with all four founder members , Johnny Borrell ( vocals , guitar ) Carl Dalemo ( bass ) , Christian Smith-Pancorvo ( drums ) and Martin Hope ( guitar ) , at Dingwalls , supporting The Von Bondies .
Claim: Bjorn Agren plays guitar in the g A: False.

Q: Razorlight: On 17 September 2002 they played their first show with all four founder members , Johnny Borrell ( vocals , guitar ) Carl Dalemo ( bass ) , Christian Smith-Pancorvo ( drums ) and Bj�rn �gren ( guitar ) , at Dingwalls , supporting The Von Bondies .
Claim: Martin Hope plays guitar in the g A: False.

Q: Razorlight: On 17 September 2002 they played their first show with all four founder members , Johnny Borrell ( vocals , guitar ) Carl Dalemo ( bass ) , Christian Smith-Pancorvo ( drums ) and Martin Hope ( guitar ) , at Dingwalls , supporting The Von Bondies .
Claim: Martin Hope plays guitar in the g A: True.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures are producing the film which Columbia Pictures will release on November 25 , 2015.
Claim: The movie will be released on 25 November 2015 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures are producing the film which Columbia Pictures will release on November 20 , 2015.
Claim: The movie will be released on 25 November 2015 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures are producing the film which Columbia Pictures will release on November 25 , 2015.
Claim: The movie will be released on 20 November 2015 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures are producing the film which Columbia Pictures will release on November 20 , 2015.
Claim: The movie will be released on 20 November 2015 . A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 18 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner was born on October 18 , 1984 . A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner was born on October 18 , 1984 . A: False.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 18 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner was born on October 19 , 1984 . A: False.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner was born on October 19 , 1984 . A: True.

Q: WWE 2K15: As of August 2015 , WWE 2K15 has shipped over six million units.
Claim: By August 2015 , WWE 2K15 shipped over 6 million units . A: True.

Q: WWE 2K15: As of August 2015 , WWE 2K15 has shipped over 7.5 million units.
Claim: By August 2015 , WWE 2K15 shipped over 6 million units . A: False.

Q: WWE 2K15: As of August 2015 , WWE 2K15 has shipped over six million units.
Claim: By August 2015 , WWE 2K15 shipped over 7.5 million units . A: False.

Q: WWE 2K15: As of August 2015 , WWE 2K15 has shipped over 7.5 million units.
Claim: By August 2015 , WWE 2K15 shipped over 7.5 million units . A: True.

Q: Mark Knopfler: Mark Freuder Knopfler was born on 12 August 1949 in Glasgow , Scotland , to an English mother , Louisa Mary , and a Hungarian-Jewish father , Erwin Knopfler .
Claim: Mark Freuder Knopfler was born son 12 August 1949 . A: True.

Q: Mark Knopfler: Mark Freuder Knopfler died on 12 August 1949 in Glasgow , Scotland , to an English mother , Louisa Mary , and a Hungarian-Jewish father , Erwin Knopfler .
Claim: Mark Freuder Knopfler was born son 12 August 1949 . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler was born on 12 August 1949 in Glasgow , Scotland , to an English mother , Louisa Mary , and a Hungarian-Jewish father , Erwin Knopfler .
Claim: Mark Freuder Knopfler died on 12 August 1949 . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler died on 12 August 1949 in Glasgow , Scotland , to an English mother , Louisa Mary , and a Hungarian-Jewish father , Erwin Knopfler .
Claim: Mark Freuder Knopfler died on 12 August 1949 . A: True.

Q: Hot Topic: Fashion apparel for young men and women is featured prominently in stores , with products from Lip Service , Morbid Threads , Rude , Social Collision , Royal Bones , and also Tripp , Disney , Sanrio , DC Comics , WWE , Heartcore Clothing , Iron Fist , Nintendo , Nickelodeon , Invader Zim  A: Neither.

Q: Hot Topic: Fashion apparel for young men and women is featured prominently in stores , with products from Lip Service , Morbid Threads , Rude , Social Collision , Royal Bones , and also Tripp , Disney , Sanrio , DC Comics , WWE , Heartcore Clothing , Iron Fist , Nintendo , Nickelodeon , Invader Zim  A: True.

Q: 2010 Green Bay Packers season: The 2010 Green Bay Packers season was the 90th season in the National Football League for the Packers and the 92nd season for the team overall .
Claim: The 2010 Green Bay Packers season was their 90th appearance in the National Football League . A: True.

Q: 2010 Green Bay Packers season: The 2010 Green Bay Packers season was the 91st season in the National Football League for the Packers and the 92nd season for the team overall .
Claim: The 2010 Green Bay Packers season was their 90th appearance in the National Football League . A: False.

Q: 2010 Green Bay Packers season: The 2010 Green Bay Packers season was the 90th season in the National Football League for the Packers and the 92nd season for the team overall .
Claim: The 2010 Green Bay Packers season was their 91st appearance in the National Football League . A: False.

Q: 2010 Green Bay Packers season: The 2010 Green Bay Packers season was the 91st season in the National Football League for the Packers and the 92nd season for the team overall .
Claim: The 2010 Green Bay Packers season was their 91st appearance in the National Football League . A: True.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,739,000 copies .
Claim: By 23 March 2014 , the album sold more than 1,5 million copies . A: True.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,378,000 copies .
Claim: By 23 March 2014 , the album sold more than 1,5 million copies . A: False.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,739,000 copies .
Claim: By 23 March 2014 , the album sold less than 1,5 million copies . A: False.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,378,000 copies .
Claim: By 23 March 2014 , the album sold less than 1,5 million copies . A: True.

Q: 2012�13 FC Bayern Munich season: On 2 July , the club announced that Matthias Sammer replaced Christian Nerlinger during Euro 2012 .
Claim: Sammer replaced Nerlinger during UEFA 2012 . A: Neither.

Q: 2012�13 FC Bayern Munich season: On 2 July , the club announced that Matthias Sammer replaced Christian Nerlinger during UEFA Euro 2012 .
Claim: Sammer replaced Nerlinger during UEFA 2012 . A: True.

Q: Adri�n Gonz�lez: NL RBI leader ( 2014 ) } } Pipavin Gonzalez ( born May 8 , 1982 ) , also known by his nicknames A-Gon and Gonzo , is a Mexican-American professional baseball first baseman with the Los Angeles Dodgers of Major League Baseball ( MLB ) .Gonzalez was the first overall pick in the 2000  A: True.

Q: Adri�n Gonz�lez: NL RBI leader ( 2014 ) } } Adrian Savin Gonzalez ( born May 8 , 1982 ) , also known by his nicknames A-Gon and Gonzo , is a Mexican-American professional baseball first baseman with the Los Angeles Dodgers of Major League Baseball ( MLB ) .Gonzalez was the first overall pick in the  A: False.

Q: Adri�n Gonz�lez: NL RBI leader ( 2014 ) } } Pipavin Gonzalez ( born May 8 , 1982 ) , also known by his nicknames A-Gon and Gonzo , is a Mexican-American professional baseball first baseman with the Los Angeles Dodgers of Major League Baseball ( MLB ) .Gonzalez was the first overall pick in the 2000  A: False.

Q: Adri�n Gonz�lez: NL RBI leader ( 2014 ) } } Adrian Savin Gonzalez ( born May 8 , 1982 ) , also known by his nicknames A-Gon and Gonzo , is a Mexican-American professional baseball first baseman with the Los Angeles Dodgers of Major League Baseball ( MLB ) .Gonzalez was the first overall pick in the  A: True.

Q: 2014�15 Manchester United F.C. season: The fixtures for the 2014�15 season were announced on 18 June 2014 .
Claim: The Premier League 's fixtures of 2014-2015 appeared in June , 2014 . A: True.

Q: 2014�15 Manchester United F.C. season: The fixtures for the 2014�15 season were not announced on 18 June 2014 .
Claim: The Premier League 's fixtures of 2014-2015 appeared in June , 2014 . A: False.

Q: 2014�15 Manchester United F.C. season: The fixtures for the 2014�15 season were announced on 18 June 2014 .
Claim: The Premier League failed to announce the 2014-2015 fixtures June , in 2014 . A: False.

Q: 2014�15 Manchester United F.C. season: The fixtures for the 2014�15 season were not announced on 18 June 2014 .
Claim: The Premier League failed to announce the 2014-2015 fixtures June , in 2014 . A: True.

Q: Last Kiss: The Le Cam # 722-A disc is noted as 2m 14s , while both the Tamara Records # 761 release , and the Josie Records # 923 platter has a time of 2m 25s , a 9-second difference .
Claim: The difference in the records time is 9 seconds . A: True.

Q: Last Kiss: The Le Cam # 722-A disc is noted as 2m 14s , while both the Tamara Records # 761 release , and the Josie Records # 923 platter has a time of 2m 25s , an 11-second difference .
Claim: The difference in the records time is 9 seconds . A: False.

Q: Last Kiss: The Le Cam # 722-A disc is noted as 2m 14s , while both the Tamara Records # 761 release , and the Josie Records # 923 platter has a time of 2m 25s , a 9-second difference .
Claim: The difference in the records time is 11 seconds . A: False.

Q: Last Kiss: The Le Cam # 722-A disc is noted as 2m 14s , while both the Tamara Records # 761 release , and the Josie Records # 923 platter has a time of 2m 25s , an 11-second difference .
Claim: The difference in the records time is 11 seconds . A: True.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , the album `` The Heist '' has sold 1,378,000 copies in the United States .
Claim: The album `` The Heist '' sold under 1.4 million copies as of March 23 , 2014 . A: True.

Q: The Heist -LRB-album-RRB-: As of June 23 , 2015 , the album has sold 1,735,880 copies in the United States .
Claim: The album `` The Heist '' sold under 1.4 million copies as of March 23 , 2014 . A: False.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , the album `` The Heist '' has sold 1,378,000 copies in the United States .
Claim: The album `` The Heist '' sold over 1.4 million copies as of June 23 , 2015 . A: False.

Q: The Heist -LRB-album-RRB-: As of June 23 , 2015 , the album has sold 1,735,880 copies in the United States .
Claim: The album `` The Heist '' sold over 1.4 million copies as of June 23 , 2015 . A: True.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,378,000 copies .
Claim: Under 1.4 million copies were sold . A: True.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,735,880 copies .
Claim: Under 1.4 million copies were sold . A: False.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,378,000 copies .
Claim: Over 1.4 million copies were sold . A: False.

Q: The Heist -LRB-album-RRB-: As of March 23 , 2014 , it has sold 1,735,880 copies .
Claim: Over 1.4 million copies were sold . A: True.

Q: Cagliari: Winds are frequent , especially the mistral and sirocco ; in summer a marine sirocco breeze ( called s'imbattu in the local language ) lowers the temperature and brings some relief from the heat . { { Weather box
Claim: The marine sirocco breeze is known as s'imbattu , which lowers the tem A: True.

Q: Cagliari: Winds are frequent , especially the mistral and scirocco ; in summer the mistral wind blowing from the north lowers the temperature and brings some relief from the heat . { { Weather box
Claim: The marine sirocco breeze is known as s'imbattu , which lowers the temperature . A: False.

Q: Cagliari: Winds are frequent , especially the mistral and sirocco ; in summer a marine sirocco breeze ( called s'imbattu in the local language ) lowers the temperature and brings some relief from the heat . { { Weather box
Claim: The mistral wind blow from the north in the Summer . A: False.

Q: Cagliari: Winds are frequent , especially the mistral and scirocco ; in summer the mistral wind blowing from the north lowers the temperature and brings some relief from the heat . { { Weather box
Claim: The mistral wind blow from the north in the Summer . A: True.

Q: Finale -LRB-The Office-RRB-: The employees give one last round of interviews before leaving , with Pam taking her watercolor of the office building that Michael bought from her.
Claim: He bought the watercolor from Pam , in season three , in the episode called Business School . A: Neither.

Q: Finale -LRB-The Office-RRB-: `` The employees give one last round of interviews before leaving , with Pam taking her watercolor of the office building that Michael bought from her in the third season episode `` '' Business School '' '' .  ''
Claim: He bought the watercolor from Pam , in season three A: True.

Q: Eva Cassidy: `` Although she had been honored by the Washington Area Music Association , she was virtually unknown outside her native Washington , D.C. , when she died of melanoma in 1996.Four years later , Cassidy 's music was brought to the attention of British audiences when her versions of `` '' A: True.

Q: Eva Cassidy: `` Although she had been honored by the Washington Area Music Association , she was virtually unknown outside her native Washington , D.C. , when she died of melanoma in 1996.Two years later , Cassidy 's music was brought to the attention of British audiences when her versions of `` ''  A: False.

Q: Eva Cassidy: `` Although she had been honored by the Washington Area Music Association , she was virtually unknown outside her native Washington , D.C. , when she died of melanoma in 1996.Four years later , Cassidy 's music was brought to the attention of British audiences when her versions of `` '' A: False.

Q: Eva Cassidy: `` Although she had been honored by the Washington Area Music Association , she was virtually unknown outside her native Washington , D.C. , when she died of melanoma in 1996.Two years later , Cassidy 's music was brought to the attention of British audiences when her versions of `` ''  A: True.

Q: Luck by Chance: Neena yells at the magazine editor and tells Nikki to stay away from Vikram .
Claim: Neena is very upset in the movie Luck by Chance . A: Neither.

Q: Luck by Chance: Neena gets very upset and yells the magazine editor and tells Nikki to stay away from Vikram .
Claim: Neena is very upset in the movie Luck by Chance . A: True.

Q: 2014�15 Manchester United F.C. season: Juan Mata gave United the lead away at Sunderland but Jack Rodwell equalised on his debut , meaning the game finished 1-1 , before United laboured to a 0�0 draw against Burnley , despite Angel Di Mar�a making his debut for the Red Devils .
Claim: The game finis A: True.

Q: 2014�15 Manchester United F.C. season: Juan Mata gave United the lead away at Sunderland but Jack Rodwell equalised on his debut , meaning the game finished as a draw , before United ended August with a laboured 0�0 draw against Burnley , despite Angel Di Mar�a making his debut for the Red Devils .
 A: False.

Q: 2014�15 Manchester United F.C. season: Juan Mata gave United the lead away at Sunderland but Jack Rodwell equalised on his debut , meaning the game finished 1-1 , before United laboured to a 0�0 draw against Burnley , despite Angel Di Mar�a making his debut for the Red Devils .
Claim: United ended A A: False.

Q: 2014�15 Manchester United F.C. season: Juan Mata gave United the lead away at Sunderland but Jack Rodwell equalised on his debut , meaning the game finished as a draw , before United ended August with a laboured 0�0 draw against Burnley , despite Angel Di Mar�a making his debut for the Red Devils .
 A: True.

Q: Ride the Lightning: On September 12 , Metallica signed with Elektra , who re-released the album on November 19 .
Claim: Metallica signed with Elektra on September 12 and released the album again on November 19 . A: True.

Q: Ride the Lightning: The performance at Roseland Ballroom , opening with Anthrax and Raven , pleased the Elektra staff and the band was offered a contract the following morning .
Claim: Metallica signed with Elektra on September 12 and released the album again on November 19 . A: Neither.

Q: Ride the Lightning: On September 12 , Metallica signed with Elektra , who re-released the album on November 19 .
Claim: Elektra 's staff made an offer to Metallica following the morning of the performance at Roseland Ballroom as they opened with Anthrax and Raven . A: Neither.

Q: Ride the Lightning: The performance at Roseland Ballroom , opening with Anthrax and Raven , pleased the Elektra staff and the band was offered a contract the following morning .
Claim: Elektra 's staff made an offer to Metallica following the morning of the performance at Roseland Ballroom as they o A: True.

Q: Rascal Flatts: DeMarcus is a brother-in-law of country singer James Otto , and formerly one-half of the Christian music duo East to West .
Claim: James Otto is De Marcus ' brother in law . A: True.

Q: Rascal Flatts: DeMarcus was formerly one-half of the Christian music duo East to West .
Claim: James Otto is De Marcus ' brother in law . A: Neither.

Q: The Shard: In 1997 , London-based entrepreneur Irvine Sellar and his then partners decided to redevelop the 1970s-era Southwark Towers following a UK government white paper encouraging the development of tall buildings at major transport hubs .
Claim: The Southwark Towers ' redevelopment was in 1997 A: True.

Q: The Shard: In 1998 , London-based entrepreneur Irvine Sellar and his then partners decided to redevelop the 1970s-era Southwark Towers following a UK government white paper encouraging the development of tall buildings at major transport hubs .
Claim: The Southwark Towers ' redevelopment was in 1997 A: False.

Q: The Shard: In 1997 , London-based entrepreneur Irvine Sellar and his then partners decided to redevelop the 1970s-era Southwark Towers following a UK government white paper encouraging the development of tall buildings at major transport hubs .
Claim: The Southwark Towers ' redevelopment was in 1998 A: False.

Q: The Shard: In 1998 , London-based entrepreneur Irvine Sellar and his then partners decided to redevelop the 1970s-era Southwark Towers following a UK government white paper encouraging the development of tall buildings at major transport hubs .
Claim: The Southwark Towers ' redevelopment was in 1998 A: True.

Q: Slow West: `` The film has a score of 91 % on Rotten Tomatoes , based on 98 reviews , with an average rating of 7.4/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean�and offers an inventive treat for fans of the  A: True.

Q: Slow West: `` The film has a score of 92 % on Rotten Tomatoes , based on 109 reviews , with an average rating of 7.5/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean�and offers an inventive treat for fans of the A: False.

Q: Slow West: `` The film has a score of 91 % on Rotten Tomatoes , based on 98 reviews , with an average rating of 7.4/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean�and offers an inventive treat for fans of the  A: False.

Q: Slow West: `` The film has a score of 92 % on Rotten Tomatoes , based on 109 reviews , with an average rating of 7.5/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean�and offers an inventive treat for fans of the A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 83 % , based on 12 reviews , with an average rating of 6.6/10 .
Claim: It had 12 reviews with a rating of 83 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 85 % , based on 13 reviews , with an average rating of 6.6/10 .
Claim: It had 12 reviews with a rating of 83 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 83 % , based on 12 reviews , with an average rating of 6.6/10 .
Claim: It had 13 reviews with a rating of 85 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 85 % , based on 13 reviews , with an average rating of 6.6/10 .
Claim: It had 13 reviews with a rating of 85 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 57 out of 100 , based on 7 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Seven critics gave The Night Before a score of less than 58/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 58 out of 100 , based on 8 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Seven critics gave The Night Before a score of less than 58/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 57 out of 100 , based on 7 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Eight critics gave The Night Before a score of more than 57/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 58 out of 100 , based on 8 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Eight critics gave The Night Before a score of more than 57/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 85 % , based on 13 reviews , with an average rating of 6.6/10 .
Claim: The Night Before has a rating of more than 75 % , with less than 15 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 72 % , based on 18 reviews , with an average rating of 6.3/10 .
Claim: The Night Before has a rating of more than 75 % , with less than 15 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 85 % , based on 13 reviews , with an average rating of 6.6/10 .
Claim: The Night Before has a rating of less than 75 % , with more than 15 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 72 % , based on 18 reviews , with an average rating of 6.3/10 .
Claim: The Night Before has a rating of less than 75 % , with more than 15 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 58 out of 100 , based on 8 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film scored less than 59/100 with less than nine critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 61 out of 100 , based on 9 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: The film scored less than 59/100 with less than nine critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 58 out of 100 , based on 8 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film scored more than 59/100 with more than eight critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 61 out of 100 , based on 9 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: The film scored more than 59/100 with more than eight critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 73 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating was less than 74 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating was less than 74 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 73 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating was more than 73 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating was more than 73 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film had under 20 reviews with a rating of less than 75 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 75 % , based on 20 reviews , with an average rating of 6.4/10 .
Claim: The film had under 20 reviews with a rating of less than 75 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 19 reviews , with an average rating of 6.3/10 .
Claim: The film had over 19 reviews with a rating of more than 74 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 75 % , based on 20 reviews , with an average rating of 6.4/10 .
Claim: The film had over 19 reviews with a rating of more than 74 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 61 out of 100 , based on 9 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: The film scored more than 60/100 on Metacritic with less than 10 critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 10 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film scored more than 60/100 on Metacritic with less than 10 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 61 out of 100 , based on 9 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: The film scored less than 61/100 on Metacritic with more than 9 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 10 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film scored less than 61/100 on Metacritic with more than 9 critics . A: True.

Q: Aaliyah discography: The discography of Aaliyah ( 1979�2001 ) , an American singer , dancer , actress & model , contains three studio albums , two compilation albums and 26 singles .
Claim: Aaliyah sold more than 75 million records . A: Neither.

Q: Aaliyah discography: The discography of Aaliyah ( 1979�2001 ) , an American singer , dancer , actress & model , combined Aaliyah has sold over 75 million records world wide contains three studio albums , two compilation albums and 26 singles .
Claim: Aaliyah sold more than 75 million records . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 75 % , based on 20 reviews , with an average rating of 6.4/10 .
Claim: The film scored less than 76 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 76 % , based on 21 reviews , with an average rating of 6.4/10 .
Claim: The film scored less than 76 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 75 % , based on 20 reviews , with an average rating of 6.4/10 .
Claim: The film scored more than 75 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 76 % , based on 21 reviews , with an average rating of 6.4/10 .
Claim: The film scored more than 75 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 10 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 10 critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 12 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 10 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 10 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 12 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 12 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 12 critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 76 % , based on 21 reviews , with an average rating of 6.4/10 .
Claim: The Night Before has less than 22 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.4/10 .
Claim: The Night Before has less than 22 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 76 % , based on 21 reviews , with an average rating of 6.4/10 .
Claim: The Night Before has more than 22 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.4/10 .
Claim: The Night Before has more than 22 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.4/10 .
Claim: The Night Before 's average rating is of 6.4/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.3/10 .
Claim: The Night Before 's average rating is of 6.4/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.4/10 .
Claim: The Night Before 's average rating is of 6.3/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.3/10 .
Claim: The Night Before 's average rating is of 6.3/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 12 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Based on 12 critics , it had a score of 60/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 59 out of 100 , based on 13 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Based on 12 critics , it had a score of 60/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 60 out of 100 , based on 12 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Based on 13 critics , it had a score of 59/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic the film has a score of 59 out of 100 , based on 13 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Based on 13 critics , it had a score of 59/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.3/10 .
Claim: Based on 23 reviews , The Night Before has a rating of more than 73 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 71 % , based on 24 reviews , with an average rating of 6.3/10 .
Claim: Based on 23 reviews , The Night Before has a rating of more than 73 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 74 % , based on 23 reviews , with an average rating of 6.3/10 .
Claim: Based on 24 reviews , The Night Before has a rating of less than 73 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 71 % , based on 24 reviews , with an average rating of 6.3/10 .
Claim: Based on 24 reviews , The Night Before has a rating of less than 73 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 68 % , based on 26 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating is less than 69 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 69 % , based on 26 reviews , with an average rating of 6/10 .
Claim: The film 's rating is less than 69 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 68 % , based on 26 reviews , with an average rating of 6.3/10 .
Claim: The film 's rating is more than 68 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 69 % , based on 26 reviews , with an average rating of 6/10 .
Claim: The film 's rating is more than 68 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 69 % , based on 26 reviews , with an average rating of 6/10 .
Claim: With less than 28 reviews , The Night Before had a rating of over 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 30 reviews , with an average rating of 5.8/10 .
Claim: With less than 28 reviews , The Night Before had a rating of over 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 69 % , based on 26 reviews , with an average rating of 6/10 .
Claim: With more than 28 reviews , The Night Before had a rating of less than 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 30 reviews , with an average rating of 5.8/10 .
Claim: With more than 28 reviews , The Night Before had a rating of less than 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 30 reviews , with an average rating of 5.8/10 .
Claim: The film had 30 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 31 reviews , with an average rating of 5.8/10 .
Claim: The film had 30 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 30 reviews , with an average rating of 5.8/10 .
Claim: The film had 31 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 31 reviews , with an average rating of 5.8/10 .
Claim: The film had 31 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 31 reviews , with an average rating of 5.8/10 .
Claim: Based on 31 reviews , it was rated 63 % and averaged 5.8/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 32 reviews , with an average rating of 5.9/10 .
Claim: Based on 31 reviews , it was rated 63 % and averaged 5.8/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes the film has a rating of 63 % , based on 31 reviews , with an average rating of 5.8/10 .
Claim: Based on 32 reviews , it was rated 66 % and averaged 5.9/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 32 reviews , with an average rating of 5.9/10 .
Claim: Based on 32 reviews , it was rated 66 % and averaged 5.9/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 59 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: With under 17 critics , The Nigh Before scored over 58/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 17 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: With under 17 critics , The Nigh Before scored over 58/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 59 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: With over 16 critics , The Nigh Before scored less than 59/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 17 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: With over 16 critics , The Nigh Before scored less than 59/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 17 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The Night Before has less than 18 critics on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 19 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The Night Before has less than 18 critics on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 17 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The Night Before has more than 18 critics on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 19 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The Night Before has more than 18 critics on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 32 reviews , with an average rating of 5.9/10 .
Claim: The Night Before has a rating of less than 67 % , with less than 33 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 34 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of less than 67 % , with less than 33 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 32 reviews , with an average rating of 5.9/10 .
Claim: The Night Before has a rating of more than 67 % , with more than 33 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 34 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of more than 67 % , with more than 33 reviews . A: True.

Q: Marvin Humes: He now hosts his own show on Capital airing Monday through to Saturday , from 7pm to 10pm .
Claim: The show airs from Monday to Saturday from 7 pm to 10 pm . A: True.

Q: Marvin Humes: He now hosts his own show on Capital airing Monday through to Friday , from 7pm to 10pm and on Saturday 8pm to 11pm .
Claim: The show airs from Monday to Saturday from 7 pm to 10 pm . A: False.

Q: Marvin Humes: He now hosts his own show on Capital airing Monday through to Saturday , from 7pm to 10pm .
Claim: The show airs from Monday to Friday from 8 pm to 11 pm , and on Saturday from 8 pm to 11 pm . A: False.

Q: Marvin Humes: He now hosts his own show on Capital airing Monday through to Friday , from 7pm to 10pm and on Saturday 8pm to 11pm .
Claim: The show airs from Monday to Friday from 8 pm to 11 pm , and on Saturday from 8 pm to 11 pm . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 37 reviews , with an average rating of 6.1/10 .
Claim: Based on 37 reviews it was rated 68 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 39 reviews , with an average rating of 6.1/10 .
Claim: Based on 37 reviews it was rated 68 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 37 reviews , with an average rating of 6.1/10 .
Claim: Based on 39 reviews it was rated 64 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 39 reviews , with an average rating of 6.1/10 .
Claim: Based on 39 reviews it was rated 64 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 39 reviews , with an average rating of 6.1/10 .
Claim: With under 42 reviews , it has a rating of less than 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 46 reviews , with an average rating of 6.2/10 .
Claim: With under 42 reviews , it has a rating of less than 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 39 reviews , with an average rating of 6.1/10 .
Claim: With over 42 reviews , it has a rating of more than 64 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 46 reviews , with an average rating of 6.2/10 .
Claim: With over 42 reviews , it has a rating of more than 64 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 19 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 19 critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 23 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 19 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 19 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 23 critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 23 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: The film was reviewed by 23 critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 23 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Less than 24 critics reviewed the film , and it had a score of over 57/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 24 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Less than 24 critics reviewed the film , and it had a score of over 57/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 23 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: More than 23 critics reviewed the film , and it had a score of under 58/100 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 24 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: More than 23 critics reviewed the film , and it had a score of under 58/100 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 47 reviews , with an average rating of 6.2/10 .
Claim: The film was reviewed by 47 critics and had a rating of 66 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 52 reviews , with an average rating of 6.2/10 .
Claim: The film was reviewed by 47 critics and had a rating of 66 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 47 reviews , with an average rating of 6.2/10 .
Claim: The film was reviewed by 52 critics and had a rating of 67 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 52 reviews , with an average rating of 6.2/10 .
Claim: The film was reviewed by 52 critics and had a rating of 67 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 52 reviews , with an average rating of 6.2/10 .
Claim: The Night Before 's rating was of over 66 % with less than 53 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 53 reviews , with an average rating of 6/10 .
Claim: The Night Before 's rating was of over 66 % with less than 53 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 52 reviews , with an average rating of 6.2/10 .
Claim: The Night Before 's rating was under 67 % with more than 52 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 53 reviews , with an average rating of 6/10 .
Claim: The Night Before 's rating was under 67 % with more than 52 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film is projected to gross $ 12�13 million from 2,700 theaters.
Claim: The film had projections in less than 2,800 theatres . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film is projected to gross $ 12�13 million from 2,960 theaters.
Claim: The film had projections in less than 2,800 theatres . A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film is projected to gross $ 12�13 million from 2,700 theaters.
Claim: The film had projections in more than 2,800 theatres . A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film is projected to gross $ 12�13 million from 2,960 theaters.
Claim: The film had projections in more than 2,800 theatres . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 53 reviews , with an average rating of 6/10 .
Claim: Based on under 54 reviews , it had a rating of less than 67 % with an average of 6/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 54 reviews , with an average rating of 6.1/10 .
Claim: Based on under 54 reviews , it had a rating of less than 67 % with an average of 6/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 53 reviews , with an average rating of 6/10 .
Claim: Based on over 53 reviews , it had a rating of more than 66 % with an average of 6.1/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 54 reviews , with an average rating of 6.1/10 .
Claim: Based on over 53 reviews , it had a rating of more than 66 % with an average of 6.1/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 54 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating on Rotten Tomatoes was of less than 68 % with under 55 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 59 reviews , with an average rating of 6/10 .
Claim: The Night Before 's rating on Rotten Tomatoes was of less than 68 % with under 55 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 54 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating on Rotten Tomatoes was of more than 67 % with over 55 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 59 reviews , with an average rating of 6/10 .
Claim: The Night Before 's rating on Rotten Tomatoes was of more than 67 % with over 55 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 25 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Under 26 critics reviewed The Night Before , on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 27 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Under 26 critics reviewed The Night Before , on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 25 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Over 26 critics reviewed The Night Before , on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 27 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Over 26 critics reviewed The Night Before , on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received positive reviews from critics .
Claim: Critics gave the film confident reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave the film confident reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received positive reviews from critics .
Claim: Critics gave the film blended reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave the film blended reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 59 reviews , with an average rating of 6/10 .
Claim: The Night Before has under 60 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 60 reviews , with an average rating of 6/10 .
Claim: The Night Before has under 60 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 59 reviews , with an average rating of 6/10 .
Claim: The Night Before has over 59 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 60 reviews , with an average rating of 6/10 .
Claim: The Night Before has over 59 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 60 reviews , with an average rating of 6/10 .
Claim: With under 61 people reviewing , the film has a rating of more than 67 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 61 reviews , with an average rating of 6/10 .
Claim: With under 61 people reviewing , the film has a rating of more than 67 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 68 % , based on 60 reviews , with an average rating of 6/10 .
Claim: With over 60 people reviewing , the film has a rating of less than 68 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 61 reviews , with an average rating of 6/10 .
Claim: With over 60 people reviewing , the film has a rating of less than 68 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On May 13 , Anthony Mackie joined the cast.
Claim: Anthony Mackie joined the cast on May 13th . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures produced the film , which Sony 's Columbia Pictures is distributing.
Claim: Anthony Mackie joined the cast on May 13th . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: On May 13 , Anthony Mackie joined the cast.
Claim: Sony 's Columbia Pictures distributed the film , and both Good Universe and Point Grey Pictures produced it . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: Good Universe and Point Grey Pictures produced the film , which Sony 's Columbia Pictures is distributing.
Claim: Sony 's Columbia Pictures distributed the film , and both Good Universe and Point Grey Pictures produced it . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 61 reviews , with an average rating of 6/10 .
Claim: Under 65 people reviewed the film , which had a rating of more than 66 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 67 reviews , with an average rating of 6/10 .
Claim: Under 65 people reviewed the film , which had a rating of more than 66 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 61 reviews , with an average rating of 6/10 .
Claim: Over 65 people reviewed the film , which had a rating of less than 67 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 67 reviews , with an average rating of 6/10 .
Claim: Over 65 people reviewed the film , which had a rating of less than 67 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed to positive reviews from critics .
Claim: The Night Before 's reviews went from flattering to diverse . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: The Night Before 's reviews went from flattering to diverse . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed to positive reviews from critics .
Claim: The Night Before had diverse reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: The Night Before had diverse reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 67 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Night Before had a rating of less than 67 % , with under 70 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 72 reviews , with an average rating of 6.1/10 .
Claim: On Rotten Tomatoes , The Night Before had a rating of less than 67 % , with under 70 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 67 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Night Before had a rating of more than 66 % , with over 70 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 72 reviews , with an average rating of 6.1/10 .
Claim: On Rotten Tomatoes , The Night Before had a rating of more than 66 % , with over 70 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 72 reviews , with an average rating of 6.1/10 .
Claim: Based on 72 reviews , it was rated 67 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 75 reviews , with an average rating of 6.1/10 .
Claim: Based on 72 reviews , it was rated 67 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 72 reviews , with an average rating of 6.1/10 .
Claim: Based on 75 reviews , it was rated 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 75 reviews , with an average rating of 6.1/10 .
Claim: Based on 75 reviews , it was rated 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 75 reviews , with an average rating of 6.1/10 .
Claim: The Night Before was reviewed by under 76 and had a rating of over 64 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 76 reviews , with an average rating of 6/10 .
Claim: The Night Before was reviewed by under 76 and had a rating of over 64 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 75 reviews , with an average rating of 6.1/10 .
Claim: The Night Before was reviewed by over 75 and had a rating of under 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 76 reviews , with an average rating of 6/10 .
Claim: The Night Before was reviewed by over 75 and had a rating of under 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings.
Claim: On opening day , The Night Before grossed over $ 3 million . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings and $ 3.9 million on its opening day.
Claim: On opening day , The Night Before grossed over $ 3 million . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 76 reviews , with an average rating of 6/10 .
Claim: The Night Before was reviewed by less than 77 people . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 77 reviews , with an average rating of 6.1/10 .
Claim: The Night Before was reviewed by less than 77 people . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 76 reviews , with an average rating of 6/10 .
Claim: The Night Before was reviewed by more than 76 people . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 77 reviews , with an average rating of 6.1/10 .
Claim: The Night Before was reviewed by more than 76 people . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings and $ 3.9 million on its opening day.
Claim: On opening day , The Night Before earned over $ 3.7 million . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings and $ 3.6 million on its first day.
Claim: On opening day , The Night Before earned over $ 3.7 million . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings and $ 3.9 million on its opening day.
Claim: On opening day , The Night Before earned under $ 3.7 million . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The film made $ 550,000 from its Thursday preview screenings and $ 3.6 million on its first day.
Claim: On opening day , The Night Before earned under $ 3.7 million . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 77 reviews , with an average rating of 6.1/10 .
Claim: Under 78 people reviewed The Night Before on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 78 reviews , with an average rating of 6.1/10 .
Claim: Under 78 people reviewed The Night Before on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 77 reviews , with an average rating of 6.1/10 .
Claim: Over 77 people reviewed The Night Before on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 78 reviews , with an average rating of 6.1/10 .
Claim: Over 77 people reviewed The Night Before on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 78 reviews , with an average rating of 6.1/10 .
Claim: The film 's rating is more than 63 % , with less than 79 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 63 % , based on 79 reviews , with an average rating of 6/10 .
Claim: The film 's rating is more than 63 % , with less than 79 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 78 reviews , with an average rating of 6.1/10 .
Claim: The film 's rating is less than 64 % , with more than 78 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 63 % , based on 79 reviews , with an average rating of 6/10 .
Claim: The film 's rating is less than 64 % , with more than 78 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before made  A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10.1 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before mad A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before made  A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10.1 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before mad A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 63 % , based on 79 reviews , with an average rating of 6/10 .
Claim: With less than 80 reviews , The Night before had a rating of less than 64 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 83 reviews , with an average rating of 6.1/10 .
Claim: With less than 80 reviews , The Night before had a rating of less than 64 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 63 % , based on 79 reviews , with an average rating of 6/10 .
Claim: With more than 80 reviews , The Night before had a rating of more than 64 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 83 reviews , with an average rating of 6.1/10 .
Claim: With more than 80 reviews , The Night before had a rating of more than 64 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave the film varied reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received Positive reviews from critics .
Claim: Critics gave the film varied reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave the film flattering reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received Positive reviews from critics .
Claim: Critics gave the film flattering reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 83 reviews , with an average rating of 6.1/10 .
Claim: The Night Before has under 85 reviews on Rotten Tomatoes , with a rating of less than 66 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 86 reviews , with an average rating of 6.1/10 .
Claim: The Night Before has under 85 reviews on Rotten Tomatoes , with a rating of less than 66 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 83 reviews , with an average rating of 6.1/10 .
Claim: The Night Before has over 85 reviews on Rotten Tomatoes , with a rating of more than 65 % . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 86 reviews , with an average rating of 6.1/10 .
Claim: The Night Before has over 85 reviews on Rotten Tomatoes , with a rating of more than 65 % . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10.1 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before col A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 9.9 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 102.7 million ) , Spectre ( $ 15 million ) and The Peanuts Movie ( $ 13.2 million ) .
Claim: The Night Before coll A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 10.1 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 101 million ) , Spectre ( $ 14.4 million ) and The Peanuts Movie ( $ 12.8 million ) .
Claim: The Night Before col A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its opening weekend , the film grossed $ 9.9 million , below expectations , and finished fourth at the box office behind Mockingjay � Part 2 ( $ 102.7 million ) , Spectre ( $ 15 million ) and The Peanuts Movie ( $ 13.2 million ) .
Claim: The Night Before coll A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 88 reviews , with an average rating of 6.1/10 .
Claim: Under 90 people reviewed The Night Before , which had a rating of over 65 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 91 reviews , with an average rating of 6.1/10 .
Claim: Under 90 people reviewed The Night Before , which had a rating of over 65 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 88 reviews , with an average rating of 6.1/10 .
Claim: Over 90 people reviewed The Night Before , which had a rating of less than 66 % on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 91 reviews , with an average rating of 6.1/10 .
Claim: Over 90 people reviewed The Night Before , which had a rating of less than 66 % on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 28 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: Less than 29 people reviewed The Night Before on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 30 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: Less than 29 people reviewed The Night Before on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 28 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: More than 29 people reviewed The Night Before on Metacritic . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 30 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: More than 29 people reviewed The Night Before on Metacritic . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 91 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating was more than 64 % , with less than 92 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 92 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating was more than 64 % , with less than 92 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 91 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating was less than 65 % , with more than 91 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 64 % , based on 92 reviews , with an average rating of 6.1/10 .
Claim: The Night Before 's rating was less than 65 % , with more than 91 reviews . A: True.

Q: 2014�15 UEFA Champions League: Real Madrid were the title holders , but they were eliminated by eventual runners-up Juventus in the semi-finals .
Claim: Juventus were the runners-up of the UEFA Champions League of 2014-2015 . A: True.

Q: 2014�15 UEFA Champions League: Real Madrid were the title holders , but they were eliminated by Juventus in the semi-finals .
Claim: Juventus were the runners-up of the UEFA Champions League of 2014-2015 . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 24.9 million in North America and $ 559,907 million in other territories for a worldwide total of $ 25.5 million , against a budget of $ 25 million .
Claim: It made under $ 25 million in North America and under $ 26 million world A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 25.8 million in North America and $ 559,907 million in other territories for a worldwide total of $ 26.3 million , against a budget of $ 25 million .
Claim: It made under $ 25 million in North America and under $ 26 million world A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 24.9 million in North America and $ 559,907 million in other territories for a worldwide total of $ 25.5 million , against a budget of $ 25 million .
Claim: It made over $ 25 million in North America and over $ 26 million worldwi A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 25.8 million in North America and $ 559,907 million in other territories for a worldwide total of $ 26.3 million , against a budget of $ 25 million .
Claim: It made over $ 25 million in North America and over $ 26 million worldwi A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 93 reviews , with an average rating of 6.1/10 .
Claim: With less than 95 reviews , The Night Before was rated less than 66 % and averaged 6.1/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 98 reviews , with an average rating of 6.2/10 .
Claim: With less than 95 reviews , The Night Before was rated less than 66 % and averaged 6.1/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 65 % , based on 93 reviews , with an average rating of 6.1/10 .
Claim: With more than 95 reviews , The Night Before was rated more than 65 % and averaged 6.2/10 . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 98 reviews , with an average rating of 6.2/10 .
Claim: With more than 95 reviews , The Night Before was rated more than 65 % and averaged 6.2/10 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Fourteen years prior , Ethan Miller 's ( Joseph Gordon-Levitt ) parents passed away on Christmas Eve .
Claim: Ethan 's parents died fourteen years before the events of The Night Before . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Three years prior , Ethan Miller 's ( Joseph Gordon-Levitt ) parents passed away on Christmas Eve .
Claim: Ethan 's parents died fourteen years before the events of The Night Before . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Fourteen years prior , Ethan Miller 's ( Joseph Gordon-Levitt ) parents passed away on Christmas Eve .
Claim: Ethan 's parents died three years before the events of The Night Before . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Three years prior , Ethan Miller 's ( Joseph Gordon-Levitt ) parents passed away on Christmas Eve .
Claim: Ethan 's parents died three years before the events of The Night Before . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 98 reviews , with an average rating of 6.2/10 .
Claim: The film had a rating of less than 67 % from less than 100 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 108 reviews , with an average rating of 6/10 .
Claim: The film had a rating of less than 67 % from less than 100 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 98 reviews , with an average rating of 6.2/10 .
Claim: The film had a rating of more than 66 % from more than 100 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 108 reviews , with an average rating of 6/10 .
Claim: The film had a rating of more than 66 % from more than 100 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed to positive reviews from critics .
Claim: Critics gave The Night Before either diverse or flattering reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave The Night Before either diverse or flattering reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed to positive reviews from critics .
Claim: Critics gave The Night Before diverse reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: Critics gave The Night Before diverse reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 25.8 million in North America and $ 559,907 million in other territories for a worldwide total of $ 26.3 million , against a budget of $ 25 million .
Claim: The Night Before 's total earnings were less than $ 27 million , of whic A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 26.5 million in North America and $ 559,907 million in other territories for a worldwide total of $ 27.1 million , against a budget of $ 25 million .
Claim: The Night Before 's total earnings were less than $ 27 million , of whic A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 25.8 million in North America and $ 559,907 million in other territories for a worldwide total of $ 26.3 million , against a budget of $ 25 million .
Claim: The Night Before 's total earnings were more than $ 27 million , of whic A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 26.5 million in North America and $ 559,907 million in other territories for a worldwide total of $ 27.1 million , against a budget of $ 25 million .
Claim: The Night Before 's total earnings were more than $ 27 million , of whic A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 108 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of more than 67 % from less than 110 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 113 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of more than 67 % from less than 110 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 108 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of less than 67 % from over 110 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 113 reviews , with an average rating of 6/10 .
Claim: The Night Before has a rating of less than 67 % from over 110 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On August 7 , Jillian Bell was cast to play Betsy , the wife of Rogen 's character , who gives the friends a cornucopia of drugs on Christmas Eve so they can have one last hurrah together .
Claim: Betsy gives them a lot of drugs on Christmas Eve for them to cele A: True.

Q: The Night Before -LRB-2015 film-RRB-: On August 7 , Jillian Bell was cast to play Betsy , the wife of Rogen 's character .
Claim: Betsy gives them a lot of drugs on Christmas Eve for them to celebrate . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 113 reviews , with an average rating of 6/10 .
Claim: The Night Before had less than 114 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 114 reviews , with an average rating of 6/10 .
Claim: The Night Before had less than 114 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 113 reviews , with an average rating of 6/10 .
Claim: The Night Before had more than 113 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 114 reviews , with an average rating of 6/10 .
Claim: The Night Before had more than 113 reviews on Rotten Tomatoes . A: True.

Q: Lilly Pulitzer: Lilly continued to reside in Palm Beach , FL , and Rousseau died from cancer in 2013.
Claim: Enrique Rousseau succumbed to cancer in 2013 . A: True.

Q: Lilly Pulitzer: Lilly continued to reside in Palm Beach , FL , and Enrique Rousseau died from cancer in 1993.
Claim: Enrique Rousseau succumbed to cancer in 2013 . A: False.

Q: Lilly Pulitzer: Lilly continued to reside in Palm Beach , FL , and Rousseau died from cancer in 2013.
Claim: Enrique Rousseau succumbed to cancer in 1993 . A: False.

Q: Lilly Pulitzer: Lilly continued to reside in Palm Beach , FL , and Enrique Rousseau died from cancer in 1993.
Claim: Enrique Rousseau succumbed to cancer in 1993 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 32 million in North America and $ 559,907 in other territories for a worldwide total of $ 32.5 million , against a budget of $ 25 million .
Claim: The Night Before collected less than $ 33 million globally , of which less than $  A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 32 million in North America and $ 1.2 in other territories for a worldwide total of $ 33.2 million , against a budget of $ 25 million .
Claim: The Night Before collected less than $ 33 million globally , of which less than $ 1 mi A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 32 million in North America and $ 559,907 in other territories for a worldwide total of $ 32.5 million , against a budget of $ 25 million .
Claim: The Night Before collected more than $ 33 million globally , of which more than $  A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 32 million in North America and $ 1.2 in other territories for a worldwide total of $ 33.2 million , against a budget of $ 25 million .
Claim: The Night Before collected more than $ 33 million globally , of which more than $ 1 mi A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 116 reviews , with an average rating of 6/10 .
Claim: The film had less than 118 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 119 reviews , with an average rating of 6/10 .
Claim: The film had less than 118 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 116 reviews , with an average rating of 6/10 .
Claim: The film had over 118 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 119 reviews , with an average rating of 6/10 .
Claim: The film had over 118 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 30 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The Night Before scored under 58/100 with less than 31 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 31 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The Night Before scored under 58/100 with less than 31 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 57 out of 100 , based on 30 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The Night Before scored over 57/100 with more than 30 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: `` On Metacritic , the film has a score of 58 out of 100 , based on 31 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The Night Before scored over 57/100 with more than 30 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 119 reviews , with an average rating of 6/10 .
Claim: The film has less than 120 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 120 reviews , with an average rating of 6/10 .
Claim: The film has less than 120 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 66 % , based on 119 reviews , with an average rating of 6/10 .
Claim: The film has more than 119 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 120 reviews , with an average rating of 6/10 .
Claim: The film has more than 119 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 33.3 million in North America and $ 2.6 in other territories for a worldwide total of $ 35.9 million , against a budget of $ 25 million .
Claim: The film made under $ 33.5 million in North America and under $ 36 million worldwide A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 33.8 million in North America and $ 2.6 in other territories for a worldwide total of $ 36.4 million , against a budget of $ 25 million .
Claim: The film made under $ 33.5 million in North America and under $ 36 million worldwide A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 33.3 million in North America and $ 2.6 in other territories for a worldwide total of $ 35.9 million , against a budget of $ 25 million .
Claim: The film made over $ 33.5 million in North America and over $ 36 million worldwide . A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 33.8 million in North America and $ 2.6 in other territories for a worldwide total of $ 36.4 million , against a budget of $ 25 million .
Claim: The film made over $ 33.5 million in North America and over $ 36 million worldwide . A: True.

Q: Rapping: `` Oxford English Dictionary The word had been used in British English since the 16th century , and specifically meaning `` '' to say '' '' since the 18th . ''
Claim: Rapping means `` to say '' since the 18th century . A: True.

Q: Rapping: Oxford English Dictionary The word had been used in British English since the 16th century .
Claim: Rapping means `` to say '' since the 18th century . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: While working in the coat room on Christmas day , Ethan finds three tickets to the elusive Nutcracker Ball .
Claim: Ethan finds the tickets to The Nutcracker Ball A: True.

Q: The Night Before -LRB-2015 film-RRB-: While working in the coat room on Christmas day , Ethan steals three tickets to the elusive Nutcracker Ball from a coat pocket .
Claim: Ethan finds the tickets to The Nutcracker Ball A: False.

Q: The Night Before -LRB-2015 film-RRB-: While working in the coat room on Christmas day , Ethan finds three tickets to the elusive Nutcracker Ball .
Claim: Ethan steals the tickets to The Nutcracker Ball from a coat pocket . A: False.

Q: The Night Before -LRB-2015 film-RRB-: While working in the coat room on Christmas day , Ethan steals three tickets to the elusive Nutcracker Ball from a coat pocket .
Claim: Ethan steals the tickets to The Nutcracker Ball from a coat pocket . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 35.6 million in North America and $ 2.6 in other territories for a worldwide total of $ 38.2 million , against a budget of $ 25 million .
Claim: The Night Before grossed under $ 36 million in North America and less than $ 40 mill A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 38.2 million in North America and $ 2.6 in other territories for a worldwide total of $ 40.8 million , against a budget of $ 25 million .
Claim: The Night Before grossed under $ 36 million in North America and less than $ 40 mill A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 35.6 million in North America and $ 2.6 in other territories for a worldwide total of $ 38.2 million , against a budget of $ 25 million .
Claim: The Night Before grossed over $ 36 million in North America and more than $ 40 milli A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 38.2 million in North America and $ 2.6 in other territories for a worldwide total of $ 40.8 million , against a budget of $ 25 million .
Claim: The Night Before grossed over $ 36 million in North America and more than $ 40 milli A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American Grammy nominated , multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner received a Grammy nomination through his career A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass player , producer and singer from Los Angeles , California .
Claim: Stephen Bruner received a Grammy nomination through his career . A: Neither.

Q: Fez -LRB-video game-RRB-: `` } } The video game review aggregator Metacritic described reviews for the 2012 Xbox 360 Fez as `` '' generally favorable '' '' and those for the 2013 PC version as `` '' universal acclaim '' '' . ''
Claim: The Xbox 360 version of Fez was released in 2012 , while the PC v A: True.

Q: Fez -LRB-video game-RRB-: `` } } The video game review aggregator Metacritic described reviews for the original Xbox 360 Fez release as `` '' generally favorable '' '' and those for later releases as `` '' universal acclaim '' '' . ''
Claim: The Xbox 360 version of Fez was released in 2012 , while t A: Neither.

Q: Fez -LRB-video game-RRB-: `` } } The video game review aggregator Metacritic described reviews for the 2012 Xbox 360 Fez as `` '' generally favorable '' '' and those for the 2013 PC version as `` '' universal acclaim '' '' . ''
Claim: The game was originally on Xbox 360 . A: Neither.

Q: Fez -LRB-video game-RRB-: `` } } The video game review aggregator Metacritic described reviews for the original Xbox 360 Fez release as `` '' generally favorable '' '' and those for later releases as `` '' universal acclaim '' '' . ''
Claim: The game was originally on Xbox 360 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: The Night Before 's reviews were ambiguous . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received generally positive reviews from critics .
Claim: The Night Before 's reviews were ambiguous . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: The Night Before 's reviews were flattering . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received generally positive reviews from critics .
Claim: The Night Before 's reviews were flattering . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 39.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 45.3 million , against a budget of $ 25 million .
Claim: The Night Before made under $ 40 million in North America and less than $ 46 million A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 40.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 46.3 million , against a budget of $ 25 million .
Claim: The Night Before made under $ 40 million in North America and less than $ 46 million A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 39.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 45.3 million , against a budget of $ 25 million .
Claim: The Night Before made over $ 40 million in North America and over $ 46 million world A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 40.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 46.3 million , against a budget of $ 25 million .
Claim: The Night Before made over $ 40 million in North America and over $ 46 million world A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 40.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 46.3 million , against a budget of $ 25 million .
Claim: The Night Before made under $ 41 million in North America and less than $ 47 million A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.5 million in North America and $ 5.7 in other territories for a worldwide total of $ 47.1 million , against a budget of $ 25 million .
Claim: The Night Before made under $ 41 million in North America and less than $ 47 million A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 40.6 million in North America and $ 5.7 in other territories for a worldwide total of $ 46.3 million , against a budget of $ 25 million .
Claim: The Night Before made over $ 41 million in North America and over $ 47 million world A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.5 million in North America and $ 5.7 in other territories for a worldwide total of $ 47.1 million , against a budget of $ 25 million .
Claim: The Night Before made over $ 41 million in North America and over $ 47 million world A: True.

Q: The Night Before -LRB-2015 film-RRB-: It is about an annual reunion of three childhood friends on Christmas Eve .
Claim: The Night Before took elements from A Christmas Carol . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: Based loosely on the story of A Christmas Carol , It is about an annual reunion of three childhood friends on Christmas Eve .
Claim: The Night Before took elements from A Christmas Carol . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.5 million in North America and $ 5.7 in other territories for a worldwide total of $ 47.1 million , against a budget of $ 25 million .
Claim: The film made under $ 41.6 million in North America and less than $ 7 million elsewh A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.8 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.1 million , against a budget of $ 25 million .
Claim: The film made under $ 41.6 million in North America and less than $ 7 million elsewh A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.5 million in North America and $ 5.7 in other territories for a worldwide total of $ 47.1 million , against a budget of $ 25 million .
Claim: The film made over $ 41.6 million in North America and over $ 7 million elsewhere fo A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.8 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.1 million , against a budget of $ 25 million .
Claim: The film made over $ 41.6 million in North America and over $ 7 million elsewhere fo A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.8 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.1 million , against a budget of $ 25 million .
Claim: The film made under $ 42 million and under $ 49.5 million worldwide . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 42.4 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.7 million , against a budget of $ 25 million .
Claim: The film made under $ 42 million and under $ 49.5 million worldwide . A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 41.8 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.1 million , against a budget of $ 25 million .
Claim: The film made over $ 42 million and over $ 49.5 million worldwide . A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 42.4 million in North America and $ 7.3 in other territories for a worldwide total of $ 49.7 million , against a budget of $ 25 million .
Claim: The film made over $ 42 million and over $ 49.5 million worldwide . A: True.

Q: The Night Before -LRB-2015 film-RRB-: After Ethan receives the location of the party , Chris discovers Rebecca has stolen his weed and they wait for Mr. Green at Chris 's mother 's apartment , which Chris has avoided .
Claim: Ethan and Chris went to Chris 's mother 's apartment because they needed w A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: After Ethan receives the location of the party , Chris discovers Rebecca has stolen his weed and , needing more , they wait for Mr. Green at Chris 's mother 's apartment , which Chris has avoided .
Claim: Ethan and Chris went to Chris 's mother 's apartment beca A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 120 reviews , with an average rating of 6/10 .
Claim: The Night Before had less than 123 reviews on Rotten Tomatoes . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 125 reviews , with an average rating of 6/10 .
Claim: The Night Before had less than 123 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 120 reviews , with an average rating of 6/10 .
Claim: The film had more than 123 reviews on Rotten Tomatoes . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has a rating of 67 % , based on 125 reviews , with an average rating of 6/10 .
Claim: The film had more than 123 reviews on Rotten Tomatoes . A: True.

Q: The Three Musketeers -LRB-1993 film-RRB-: The soundtrack album was released on compact disc and cassette by Hollywood Records in North America and A & M Records ( the label to which both Adams and Sting were signed at the time ) elsewhere. #
Claim: The soundtrack 's release date was November 12 , 19 A: Neither.

Q: The Three Musketeers -LRB-1993 film-RRB-: The soundtrack album was released on compact disc and cassette in November 12 , 1994 by Hollywood Records in North America and A & M Records ( the label to which both Adams and Sting were signed at the time ) elsewhere . #
Claim: The soundtrack 's release da A: True.

Q: Edgware: Edgware ( ) is a district of north west London , mainly in the London Borough of Barnet , with its western edge in the London Borough of Brent .
Claim: Edgware western edge is in Brent . A: True.

Q: Edgware: Edgware ( ) is a district of north west London , mainly in the London Borough of Barnet , with its western edge in the London Borough of Harrow .
Claim: Edgware western edge is in Brent . A: False.

Q: Edgware: Edgware ( ) is a district of north west London , mainly in the London Borough of Barnet , with its western edge in the London Borough of Brent .
Claim: Edgware western edge is in Harrow . A: False.

Q: Edgware: Edgware ( ) is a district of north west London , mainly in the London Borough of Barnet , with its western edge in the London Borough of Harrow .
Claim: Edgware western edge is in Harrow . A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 42.9 million in North America and $ 8.2 in other territories for a worldwide total of $ 51.1 million , against a budget of $ 25 million .
Claim: The film earned under $ 43 million in North America and less than $ 51.2 million wor A: True.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 43 million in North America and $ 8.2 in other territories for a worldwide total of $ 51.2 million , against a budget of $ 25 million .
Claim: The film earned under $ 43 million in North America and less than $ 51.2 million world A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 42.9 million in North America and $ 8.2 in other territories for a worldwide total of $ 51.1 million , against a budget of $ 25 million .
Claim: The film earned $ 43 million in North America and over $ 51.1 million worldwide . A: False.

Q: The Night Before -LRB-2015 film-RRB-: , The Night Before has grossed $ 43 million in North America and $ 8.2 in other territories for a worldwide total of $ 51.2 million , against a budget of $ 25 million .
Claim: The film earned $ 43 million in North America and over $ 51.1 million worldwide . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed reviews from critics .
Claim: The movie received positive reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before has received mixed to positive reviews from critics .
Claim: The movie received positive reviews . A: True.

Q: FanMail: FanMail debuted at number one on the US Billboard 200 , selling approximately 318,000 copies in its first week of release , and spent five non-consecutive weeks at number one .
Claim: FanMail topped the charts for five non-consecutive weeks . A: True.

Q: FanMail: FanMail debuted at number one on the US Billboard 200 , selling approximately 318,000 copies in its first week of release , and spent five consecutive weeks at number one .
Claim: FanMail topped the charts for five non-consecutive weeks . A: False.

Q: FanMail: FanMail debuted at number one on the US Billboard 200 , selling approximately 318,000 copies in its first week of release , and spent five non-consecutive weeks at number one .
Claim: FanMail topped the charts for five consecutive weeks . A: False.

Q: FanMail: FanMail debuted at number one on the US Billboard 200 , selling approximately 318,000 copies in its first week of release , and spent five consecutive weeks at number one .
Claim: FanMail topped the charts for five consecutive weeks . A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and is TLC 's second best-selling album after 1994 's CrazySexyCool.
Claim: The album sold over 15 million copies worldwide . A: Neither.

Q: FanMail: `` As of 2000 , the album has been certified 6� Platinum by the RIAA , < having sold over 15 million albums worldwide , name= '' '' one '' '' > < /ref > and is TLC 's second best-selling album after 1994 's CrazySexyCool.  ''
Claim: The album sold over 15 million copies worldwide . A: True.

Q: Just Dance 2: ``  The game received `` '' average '' '' reviews , according to video game review score aggregator Metacritic . ''
Claim: Critics reviewed the game as `` average '' . A: True.

Q: Just Dance 2: ``  The game received `` '' Great '' '' reviews , according to video game review score aggregator Metacritic . ''
Claim: Critics reviewed the game as `` average '' . A: False.

Q: Just Dance 2: ``  The game received `` '' average '' '' reviews , according to video game review score aggregator Metacritic . ''
Claim: Critics reviewed the game as `` great '' . A: False.

Q: Just Dance 2: ``  The game received `` '' Great '' '' reviews , according to video game review score aggregator Metacritic . ''
Claim: Critics reviewed the game as `` great '' . A: True.

Q: Curtis Davies: He went on to say that he would prefer to play for the country of his father , Sierra Leone , instead of Ireland if he ca n't get into the England squad.
Claim: He preferred to play for Sierra Leone over Ireland . A: True.

Q: Curtis Davies: He went on to say that he would prefer to play for the country of his father , Sierra Leone , if he fails to get into the England squad.
Claim: He preferred to play for Sierra Leone over Ireland . A: Neither.

Q: Northrop Grumman: This suit sought $ 210 million in damages and was ongoing as of 2004 .
Claim: The case has been going on since 2004 . A: True.

Q: Northrop Grumman: This suit sought $ 210 million in damages and was ongoing as of 2016 .
Claim: The case has been going on since 2004 . A: False.

Q: Northrop Grumman: This suit sought $ 210 million in damages and was ongoing as of 2004 .
Claim: The case has been going on since 2016 A: False.

Q: Northrop Grumman: This suit sought $ 210 million in damages and was ongoing as of 2016 .
Claim: The case has been going on since 2016 A: True.

Q: Mountain range: On Mars , most significant mountain ranges are the result of plate tectonics , though mountain ranges are formed by a range of processes , are found on many planetary mass objects in the Solar System and are likely a feature of most terrestrial planets .
Claim: Plate tectonics result A: True.

Q: Mountain range: On Earth , most significant mountain ranges are the result of plate tectonics , though mountain ranges are formed by a range of processes , are found on many planetary mass objects in the Solar System and are likely a feature of most terrestrial planets .
Claim: Plate tectonics resul A: False.

Q: Mountain range: On Mars , most significant mountain ranges are the result of plate tectonics , though mountain ranges are formed by a range of processes , are found on many planetary mass objects in the Solar System and are likely a feature of most terrestrial planets .
Claim: Plate tectonics result A: False.

Q: Mountain range: On Earth , most significant mountain ranges are the result of plate tectonics , though mountain ranges are formed by a range of processes , are found on many planetary mass objects in the Solar System and are likely a feature of most terrestrial planets .
Claim: Plate tectonics resul A: True.

Q: While She Sleeps: While She Sleeps are an English metalcore band from Sheffield , England .
Claim: Sheffield is in England . A: True.

Q: While She Sleeps: While She Sleeps are an English metalcore band from Sheffield .
Claim: Sheffield is in England . A: Neither.

Q: The Dandy Warhols: The Dandy Warhols have released eight studio albums to date.
Claim: The group has released eight albums . A: True.

Q: The Dandy Warhols: The Dandy Warhols have released ten studio albums to date.
Claim: The group has released eight albums . A: False.

Q: The Dandy Warhols: The Dandy Warhols have released eight studio albums to date.
Claim: The group has released 10 albums . A: False.

Q: The Dandy Warhols: The Dandy Warhols have released ten studio albums to date.
Claim: The group has released 10 albums . A: True.

Q: Kshama Sawant: Sawant 's platform of non-local Seattle issues , like rent control , income tax , corporate welfare , supporting the miniumum wage outside Seattle , in Sea-Tac and other cities , and participating in the Seattle Arctic drilling protests drew as much criticism from Sawant 's opponents  A: True.

Q: Kshama Sawant: Sawant 's platform of non-local Seattle issues , like rent control , income tax , corporate welfare , supporting the miniumum wage outside Seattle , in Sea-Tac and other cities , and participating in the Seattle Arctic drilling protests drew as much criticism from Sawant 's opponents  A: False.

Q: Kshama Sawant: Sawant 's platform of non-local Seattle issues , like rent control , income tax , corporate welfare , supporting the miniumum wage outside Seattle , in Sea-Tac and other cities , and participating in the Seattle Arctic drilling protests drew as much criticism from Sawant 's opponents  A: False.

Q: Kshama Sawant: Sawant 's platform of non-local Seattle issues , like rent control , income tax , corporate welfare , supporting the miniumum wage outside Seattle , in Sea-Tac and other cities , and participating in the Seattle Arctic drilling protests drew as much criticism from Sawant 's opponents  A: True.

Q: The Heist -LRB-album-RRB-: On January 26 , 2014 , it won the Grammy Award for Best Rap Album , where it was also nominated for Album of the Year and earned Macklemore and Ryan Lewis the award for Best New Artist.
Claim: In 2014 , he album won a Grammy Award in 2014 . A: True.

Q: The Heist -LRB-album-RRB-: As of early 2015 , the album has sold 1,490,000 copies in the United States.
Claim: In 2014 , he album won a Grammy Award in 2014 . A: Neither.

Q: The Heist -LRB-album-RRB-: On January 26 , 2014 , it won the Grammy Award for Best Rap Album , where it was also nominated for Album of the Year and earned Macklemore and Ryan Lewis the award for Best New Artist.
Claim: In 2015 , the album sold 1,490,000 copies in the United States . A: Neither.

Q: The Heist -LRB-album-RRB-: As of early 2015 , the album has sold 1,490,000 copies in the United States.
Claim: In 2015 , the album sold 1,490,000 copies in the United States . A: True.

Q: The Heist -LRB-album-RRB-: The album was also critically successful , receiving generally positive reviews from music critics .
Claim: The album was positively reviewed . A: True.

Q: The Heist -LRB-album-RRB-: On January 26 , 2014 , it won the Grammy Award for Best Rap Album , where it was also nominated for Album of the Year and earned Macklemore and Ryan Lewis the award for Best New Artist .
Claim: The album was positively reviewed . A: Neither.

Q: The Heist -LRB-album-RRB-: The album was also critically successful , receiving generally positive reviews from music critics .
Claim: The album earned Macklemore and Ryan Lewis the award for Best New Artist . A: Neither.

Q: The Heist -LRB-album-RRB-: On January 26 , 2014 , it won the Grammy Award for Best Rap Album , where it was also nominated for Album of the Year and earned Macklemore and Ryan Lewis the award for Best New Artist .
Claim: The album earned Macklemore and Ryan Lewis the award for Best New Artist . A: True.

Q: The Heist -LRB-album-RRB-: As of early 2015 , the album has sold 1,490,000 copies in the United States.
Claim: By early 2015 , over 1.4 copies were sold in the US . A: True.

Q: The Heist -LRB-album-RRB-: As of early 2016 , the album has sold 1,490,000 copies in the United States.
Claim: By early 2015 , over 1.4 copies were sold in the US . A: False.

Q: The Heist -LRB-album-RRB-: As of early 2015 , the album has sold 1,490,000 copies in the United States.
Claim: By early 2016 , over 1.4 copies were sold in the US . A: False.

Q: The Heist -LRB-album-RRB-: As of early 2016 , the album has sold 1,490,000 copies in the United States.
Claim: By early 2016 , over 1.4 copies were sold in the US . A: True.

Q: Vanna White: Her father was Puerto Rican and Croatian .
Claim: Vanna White 's father was half Puerto Rican . A: True.

Q: Vanna White: Her father was Cuban in the United States|Cuban and Croatian ] ] .
Claim: Vanna White 's father was half Puerto Rican . A: False.

Q: Vanna White: Her father was Puerto Rican and Croatian .
Claim: Vanna White 's father was Cuban . A: False.

Q: Vanna White: Her father was Cuban in the United States|Cuban and Croatian ] ] .
Claim: Vanna White 's father was Cuban . A: True.

Q: Rochelle Humes: Humes dated Spanish footballer Darren Randolph in 2005 .
Claim: Darren Randolph is Spanish . A: True.

Q: Rochelle Humes: Humes dated Irish footballer Darren Randolph in 2005 .
Claim: Darren Randolph is Spanish . A: False.

Q: Rochelle Humes: Humes dated Spanish footballer Darren Randolph in 2005 .
Claim: Darren Randolph is Irish . A: False.

Q: Rochelle Humes: Humes dated Irish footballer Darren Randolph in 2005 .
Claim: Darren Randolph is Irish . A: True.

Q: Rochelle Humes: The pair later called the it quits after an on/off relationship in 2010.Humes began dating JLS member Marvin Humes in March 2010Andrea Magrath ( 31 December 2011 ) . '
Claim: In 2010 , the couple broke off after an on/off relationship . A: True.

Q: Rochelle Humes: Humes previously had an on/off relationship with Blazin Squad star Kenzie from 2004 to 2010.Humes began dating JLS member Marvin Humes in March 2010Andrea Magrath ( 31 December 2011 ) . '
Claim: In 2010 , the couple broke off after an on/off relationship . A: Neither.

Q: Rochelle Humes: The pair later called the it quits after an on/off relationship in 2010.Humes began dating JLS member Marvin Humes in March 2010Andrea Magrath ( 31 December 2011 ) . '
Claim: Humes and Kenzie had an on/off relationship from 2004 to 2010 . A: Neither.

Q: Rochelle Humes: Humes previously had an on/off relationship with Blazin Squad star Kenzie from 2004 to 2010.Humes began dating JLS member Marvin Humes in March 2010Andrea Magrath ( 31 December 2011 ) . '
Claim: Humes and Kenzie had an on/off relationship from 2004 to 2010 . A: True.

Q: Pearl Harbor -LRB-film-RRB-: Danny takes Evelyn for a sunset flight over the harbor and begins a relationship with her by having sex .
Claim: Danny and Evelyn have a sexual relationship . A: True.

Q: Pearl Harbor -LRB-film-RRB-: Danny takes Evelyn for a sunset flight over the harbor and begins a relationship with her .
Claim: Danny and Evelyn have a sexual relationship . A: False.

Q: Pearl Harbor -LRB-film-RRB-: Danny takes Evelyn for a sunset flight over the harbor and begins a relationship with her by having sex .
Claim: Danny and Evelyn have a relationship . A: False.

Q: Pearl Harbor -LRB-film-RRB-: Danny takes Evelyn for a sunset flight over the harbor and begins a relationship with her .
Claim: Danny and Evelyn have a relationship . A: True.

Q: While She Sleeps: The members of the band regularly refer to themselves as 'punks ' , ( having 'Sheffield Punks ' in the bio of the band 's Instagram page ) , and have insinuated that they are a hardcore punk or 'metallic hardcore ' band when conversing with fans at shows.. They have cited post-hard A: True.

Q: While She Sleeps: They have cited post-hardcore , hardcore punk and alternative metal bands such as Thrice , Slipknot , Foo Fighters , Underoath , Refused , Comeback Kid , Gallows and Alexisonfire as musical influences .
Claim: They consider themselves as a punk band , using `` Sheffield Punks '' as A: Neither.

Q: Edgware: Edgware ( ) is a district of North London , mainly in the London Borough of Barnet .
Claim: Edgware can be found in County of Middlesex A: Neither.

Q: Edgware: Edgware ( ) is a district of North London , in the County of Middlesex , mainly in the London Borough of Barnet .
Claim: Edgware can be found in County of Middlesex A: True.

Q: Ride the Lightning: Greg Kot of the Chicago Tribune described Ride the Lightning as a more refined extension of the group 's debut .
Claim: Greg Kot was commented favorably on Ride the Lightning . A: True.

Q: Ride the Lightning: `` He praised Hetfield 's vocal performance and concluded that Metallica was `` '' firing on all cylinders '' '' on the album . ''
Claim: Greg Kot was commented favorably on Ride the Lightning . A: Neither.

Q: Ride the Lightning: Greg Kot of the Chicago Tribune described Ride the Lightning as a more refined extension of the group 's debut .
Claim: Metallica received acclaim and Hetfield 's vocal performance was praised . A: Neither.

Q: Ride the Lightning: `` He praised Hetfield 's vocal performance and concluded that Metallica was `` '' firing on all cylinders '' '' on the album . ''
Claim: Metallica received acclaim and Hetfield 's vocal performance was praised . A: True.

Q: Ride the Lightning: implied that the album 's maturity and musical intelligence helped Metallica expand heavy metal 's boundaries .
Claim: Metallica expanded their heavy metal boundaries by showing maturity and musical intelligence . A: True.

Q: Ride the Lightning: In a retrospective review , Sputnikmusic 's Channing Freeman named Ride the Lightning as one of the few albums that can be charming and powerful at the same time .
Claim: Metallica expanded their heavy metal boundaries by showing maturity and musical intelligence . A: Neither.

Q: Ride the Lightning: implied that the album 's maturity and musical intelligence helped Metallica expand heavy metal 's boundaries .
Claim: Channing Freeman considered Ride the Lightning to be a combination of charm and power . A: Neither.

Q: Ride the Lightning: In a retrospective review , Sputnikmusic 's Channing Freeman named Ride the Lightning as one of the few albums that can be charming and powerful at the same time .
Claim: Channing Freeman considered Ride the Lightning to be a combination of charm and power . A: True.

Q: Ride the Lightning: AllMusic 's Steve Huey saw the album as a more ambitious and remarkable effort than Kill 'Em All .
Claim: Steve Huey considered the album to be a more ambitious and remarkable effort when compared to Kill 'Em All . A: True.

Q: Ride the Lightning: In a retrospective review , Sputnikmusic 's Channing Freeman named Ride the Lightning as one of the few albums that can be charming and powerful at the same time .
Claim: Steve Huey considered the album to be a more ambitious and remarkable effort when compared to Kill 'Em All . A: Neither.

Q: Ride the Lightning: AllMusic 's Steve Huey saw the album as a more ambitious and remarkable effort than Kill 'Em All .
Claim: Channing Freeman considered the album to be a rare combination of charm and power . A: Neither.

Q: Ride the Lightning: In a retrospective review , Sputnikmusic 's Channing Freeman named Ride the Lightning as one of the few albums that can be charming and powerful at the same time .
Claim: Channing Freeman considered the album to be a rare combination of charm and power . A: True.

Q: Curtis Davies: He made two appearances for the England under-21s , but is yet to make an appearance for the full national side.  Davies was born in Leytonstone , London , to an English mother and a Sierra Leonean father .
Claim: Cutis Davis has not played for the national team . A: True.

Q: Curtis Davies: He made two appearances for the England under-21s.  Davies was born in Leytonstone , London , to an English mother and a Sierra Leonean father .
Claim: Cutis Davis has not played for the national team . A: Neither.

Q: Andr� Villas-Boas: Following the sale of star player Gareth Bale to Real Madrid for a world record fee of �85.3 million , Villas-Boas was active in the transfer market before the start of the 2013�14 Premier League season .
Claim: Gareth Bale was sold for less than €85.5 million . A: True.

Q: Andr� Villas-Boas: Following the sale of star player Gareth Bale to Real Madrid for a world record fee of �86 million , Villas-Boas was active in the transfer market before the start of the 2013�14 Premier League season .
Claim: Gareth Bale was sold for less than €85.5 million . A: False.

Q: Andr� Villas-Boas: Following the sale of star player Gareth Bale to Real Madrid for a world record fee of �85.3 million , Villas-Boas was active in the transfer market before the start of the 2013�14 Premier League season .
Claim: Gareth Bale was sold for more than €85.5 million . A: False.

Q: Andr� Villas-Boas: Following the sale of star player Gareth Bale to Real Madrid for a world record fee of �86 million , Villas-Boas was active in the transfer market before the start of the 2013�14 Premier League season .
Claim: Gareth Bale was sold for more than €85.5 million . A: True.

Q: Ride the Lightning: Ride the Lightning received positive response from music critics , who saw it as a more ambitious effort than its predecessor .
Claim: Ride the Lightning followed Kill Em All . A: Neither.

Q: Ride the Lightning: Ride the Lightning received positive response from music critics , who saw it as a more ambitious effort than its predecessor , Kill 'Em All .
Claim: Ride the Lightning followed Kill Em All . A: True.

Q: Composite number: The composite numbers up to 150 are:4 , 6 , 8 , 9 , 10 , 12 , 14 , 15 , 16 , 18 , 20 , 21 , 22 , 24 , 25 , 26 , 27 , 28 , 30 , 32 , 33 , 34 , 35 , 36 , 38 , 39 , 40 , 42 , 44 , 45 , 46 , 47 , 48 , 49 , 50 , 51 , 52 , 54 , 55 , 56 , 57 , 58 , 60 , 62 , 63 , 64 , 65 , 66 , 68 , 69 ,  A: True.

Q: Composite number: The composite numbers up to 150 are:4 , 6 , 8 , 9 , 10 , 12 , 14 , 15 , 16 , 18 , 20 , 21 , 22 , 24 , 25 , 26 , 27 , 28 , 30 , 32 , 33 , 34 , 35 , 36 , 38 , 39 , 40 , 42 , 44 , 45 , 46 , 48 , 49 , 50 , 51 , 52 , 54 , 55 , 56 , 57 , 58 , 60 , 62 , 63 , 64 , 65 , 66 , 68 , 69 , 70 ,  A: Neither.

Q: My Name Is: `` The song samples Labi Siffre 's `` '' I Got The ... '' '' . ''
Claim: Labi Siffre released he track `` I Got The ... '' in 1975 . A: Neither.

Q: My Name Is: `` The song samples Labi Siffre 's 1975 track `` '' I Got The ... '' '' . ''
Claim: Labi Siffre released he track `` I Got The ... '' in 1975 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Three years prior , Ethan Miller 's parents passed away on Christmas Eve .
Claim: Ethan Miller 's parents died three years ago . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Fourteen years prior , Ethan Miller 's parents passed away on Christmas Eve .
Claim: Ethan Miller 's parents died three years ago . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Three years prior , Ethan Miller 's parents passed away on Christmas Eve .
Claim: Ethan Miller 's parents died fourteen years ago . A: False.

Q: The Night Before -LRB-2015 film-RRB-: Fourteen years prior , Ethan Miller 's parents passed away on Christmas Eve .
Claim: Ethan Miller 's parents died fourteen years ago . A: True.

Q: Arsenal F.C. in European football: Monaco eliminated it in Round of 16 in the 2014-15 season.
Claim: Monaco were eliminated once . A: True.

Q: Arsenal F.C. in European football: Monaco eliminated it in Round of 16 in the 2014-15 season , and again by Barcelona in 2015-16.
Claim: Monaco were eliminated once . A: False.

Q: Arsenal F.C. in European football: Monaco eliminated it in Round of 16 in the 2014-15 season.
Claim: Monaco were eliminated in two consecutive seasons . A: False.

Q: Arsenal F.C. in European football: Monaco eliminated it in Round of 16 in the 2014-15 season , and again by Barcelona in 2015-16.
Claim: Monaco were eliminated in two consecutive seasons . A: True.

Q: Meet the Blacks: The film stars Mike Epps , Gary Owen , Zulay Henao , Lil Duval , Bresha Webb , George Lopez and Mike Tyson .
Claim: Shawn Kavanaugh stars in Meet the Blacks . A: Neither.

Q: Meet the Blacks: The film stars Mike Epps , Gary Owen , Zulay Henao , Lil Duval , Shawn Kavanaugh , Bresha Webb , George Lopez and Mike Tyson .
Claim: Shawn Kavanaugh stars in Meet the Blacks . A: True.

Q: Nick Amaro: Initially , Amaro does not see eye to eye with his new partner , Detective Olivia Benson ( Mariska Hargitay ) , mainly because she 's stubborn af .
Claim: Detective Olivia Benson is stubborn . A: True.

Q: Nick Amaro: Initially , Amaro does not see eye to eye with his new partner , Detective Olivia Benson ( Mariska Hargitay ) , mainly because she misses her old partner , Elliot Stabler ( Chris Meloni ) .
Claim: Detective Olivia Benson is stubborn . A: Neither.

Q: Nick Amaro: Initially , Amaro does not see eye to eye with his new partner , Detective Olivia Benson ( Mariska Hargitay ) , mainly because she 's stubborn af .
Claim: Detective Olivia Benson misses her previous partner Elliot Stabler . A: Neither.

Q: Nick Amaro: Initially , Amaro does not see eye to eye with his new partner , Detective Olivia Benson ( Mariska Hargitay ) , mainly because she misses her old partner , Elliot Stabler ( Chris Meloni ) .
Claim: Detective Olivia Benson misses her previous partner Elliot Stabler . A: True.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1987 ) is an English singer , actor , television presenter and radio DJ , best known as a former member of the boyband JLS , the runner-up boyband to Alexandra Burke in the fifth series of The X Factor .
Claim: He was born after 1986 . A: True.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1985 ) is an English singer , actor , television presenter and radio DJ , best known as a former member of the boyband JLS , the runner-up boyband to Alexandra Burke in the fifth series of The X Factor .
Claim: He was born after 1986 . A: False.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1987 ) is an English singer , actor , television presenter and radio DJ , best known as a former member of the boyband JLS , the runner-up boyband to Alexandra Burke in the fifth series of The X Factor .
Claim: He was born before 1986 . A: False.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1985 ) is an English singer , actor , television presenter and radio DJ , best known as a former member of the boyband JLS , the runner-up boyband to Alexandra Burke in the fifth series of The X Factor .
Claim: He was born before 1986 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its second week , the film grossed $ 8.4 million ( a drop of only 15 % ) , finishing 6th at the box office. The Night Before received generally positive reviews .
Claim: The Night Before ( film ) was well received by critics . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In its second week , the film grossed $ 8.4 million ( a drop of only 15 % ) , finishing 6th at the box office. The Night Before received mixed reviews from critics .
Claim: The Night Before ( film ) was well received by critics . A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its second week , the film grossed $ 8.4 million ( a drop of only 15 % ) , finishing 6th at the box office. The Night Before received generally positive reviews .
Claim: Critics gave the same amount of positive and negative reviews to The Night Before ( film  A: False.

Q: The Night Before -LRB-2015 film-RRB-: In its second week , the film grossed $ 8.4 million ( a drop of only 15 % ) , finishing 6th at the box office. The Night Before received mixed reviews from critics .
Claim: Critics gave the same amount of positive and negative reviews to The Night Before ( film  A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 20 % , based on 5 reviews , with an average rating of 2.8/10.
Claim: The approval rating of Meet the Blacks ( film ) is over 18 % . A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 17 % , based on 6 reviews , with an average rating of 2.2/10.
Claim: The approval rating of Meet the Blacks ( film ) is over 18 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 20 % , based on 5 reviews , with an average rating of 2.8/10.
Claim: The approval rating of Meet the Blacks ( film ) is under 18 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 17 % , based on 6 reviews , with an average rating of 2.2/10.
Claim: The approval rating of Meet the Blacks ( film ) is under 18 % . A: True.

Q: Good Charlotte: The band has released five studio albums : Good Charlotte ( 2000 ) , The Young and the Hopeless ( 2002 ) , The Chronicles of Life and Death ( 2004 ) , Good Morning Revival ( 2007 ) , and Cardiology ( 2010 ) as well as two compilations : Greatest Remixes ( 2008 ) and Greatest Hits ( 2 A: Neither.

Q: Good Charlotte: The band has released five studio albums : Good Charlotte ( 2000 ) , The Young and the Hopeless ( 2002 ) , The Chronicles of Life and Death ( 2004 ) , Good Morning Revival ( 2007 ) , and Cardiology ( 2010 ) with sixth Youth Authority stated for release in July 2016 , as well as two c A: True.

Q: Sam Mendes: `` The couple 's representative announced on 15 March 2010 that `` '' they separated earlier this year . '' '' ''
Claim: Sam Mendes got divorced in 2011 . A: Neither.

Q: Sam Mendes: `` The couple 's representative announced on 15 March 2010 that `` '' they separated earlier that year and divorced in 2011 . '' '' ''
Claim: Sam Mendes got divorced in 2011 . A: True.

Q: Meet the Blacks: In its opening weekend the film grossed $ 4.1 million , finishing 8th at the box office.
Claim: During its first weekend in theatres , Meet the Blacks ( film ) earned less than $ 4.5 million . A: True.

Q: Meet the Blacks: In its opening weekend the film grossed $ 4.7 million , finishing 8th at the box office.
Claim: During its first weekend in theatres , Meet the Blacks ( film ) earned less than $ 4.5 million . A: False.

Q: Meet the Blacks: In its opening weekend the film grossed $ 4.1 million , finishing 8th at the box office.
Claim: During its first weekend in theatres , Meet the Blacks ( film ) earned more than $ 4.5 million . A: False.

Q: Meet the Blacks: In its opening weekend the film grossed $ 4.7 million , finishing 8th at the box office.
Claim: During its first weekend in theatres , Meet the Blacks ( film ) earned more than $ 4.5 million . A: True.

Q: Meet the Blacks: It stars Mike Epps , Gary Owen , Zulay Henao , Lil Duval , Bresha Webb , George Lopez and Mike Tyson , and was released on April 1 , 2016 by Freestyle Releasing.
Claim: Shawn Kavanaugh participated in the film `` Meet the Blacks '' . A: Neither.

Q: Meet the Blacks: It stars Mike Epps , Gary Owen , Zulay Henao , Shawn Kavanaugh , Lil Duval , Bresha Webb , George Lopez and Mike Tyson , and was released on April 1 , 2016 by Freestyle Releasing.
Claim: Shawn Kavanaugh participated in the film `` Meet the Blacks '' . A: True.

Q: Meet the Blacks: It stars Mike Epps , Gary Owen , Zulay Henao , Lil Duval , Bresha Webb , George Lopez and Mike Tyson , and was released on April 1 , 2016 by Freestyle Releasing.
Claim: Tryin Turner participated in `` Meet the Blacks '' . A: Neither.

Q: Meet the Blacks: It stars Mike Epps , Gary Owen , Zulay Henao , Lil Duval , Bresha Webb , George Lopez , Mike Tyson and Tryin Turner This was released on April 1 , 2016 by Freestyle Releasing.
Claim: Tryin Turner participated in `` Meet the Blacks '' . A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 13 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Averaged on over 8 reviewers , Meet the Blacks ( film ) scored under 50 % . A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 99 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Averaged on over 8 reviewers , Meet the Blacks ( film ) scored under 50 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 13 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Averaged on over 8 reviewers , Meet the Blacks ( film ) scored over 50 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 99 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Averaged on over 8 reviewers , Meet the Blacks ( film ) scored over 50 % . A: True.

Q: Meet the Blacks: `` On Metacritic , the film has a score of 99 out of 100 , based on 4 critics , indicating `` '' generally unfavorable reviews '' '' .  ''
Claim: Averaged on over 4 reviewers , Meet the Backs scored over 50 % . A: True.

Q: Meet the Blacks: `` On Metacritic , the film has a score of 26 out of 100 , based on 4 critics , indicating `` '' generally unfavorable reviews '' '' .  ''
Claim: Averaged on over 4 reviewers , Meet the Backs scored over 50 % . A: False.

Q: Meet the Blacks: `` On Metacritic , the film has a score of 99 out of 100 , based on 4 critics , indicating `` '' generally unfavorable reviews '' '' .  ''
Claim: Averaged on over 4 reviewers , Meet the Backs scored under 50 % . A: False.

Q: Meet the Blacks: `` On Metacritic , the film has a score of 26 out of 100 , based on 4 critics , indicating `` '' generally unfavorable reviews '' '' .  ''
Claim: Averaged on over 4 reviewers , Meet the Backs scored under 50 % . A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 99 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Rotten Tomatoes ' rating approval to Meet the Blacks ( film ) was over 50 % . A: True.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 13 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Rotten Tomatoes ' rating approval to Meet the Blacks ( film ) was over 50 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 99 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Rotten Tomatoes ' rating approval to Meet the Blacks ( film ) was under 50 % . A: False.

Q: Meet the Blacks: On Rotten Tomatoes , the film has an approval rating of 13 % , based on 8 reviews , with an average rating of 2.2/10 .
Claim: Rotten Tomatoes ' rating approval to Meet the Blacks ( film ) was under 50 % . A: True.

Q: New Kids on the Block: New Kids on the Block ( also initialized as NKOTB ) is an American boy band from Boston , Massachusetts .
Claim: New Kids on the Block was put together by David `` Davey Boy '' Hughes . A: Neither.

Q: New Kids on the Block: `` } } } } Formed by David `` '' Davey Boy '' '' Hughes New Kids on the Block ( also initialized as NKOTB ) is an American boy band from Boston , Massachusetts . ''
Claim: New Kids on the Block was put together by David `` Davey Boy '' Hughes . A: True.

Q: The Stepford Wives -LRB-2004 film-RRB-: `` `` '' In an interview with Ai n't It Cool , Oz 's take on the film was `` '' I fucked up ... I had too much money , and I was too responsible and concerned for Paramount . ''
Claim: Oz gave an interview to Ai n't it Cool ( news website ) in 2007 . A: Neither.

Q: The Stepford Wives -LRB-2004 film-RRB-: `` `` '' In a 2007 interview with Ai n't It Cool , Oz 's take on the film was `` '' I fucked up ... I had too much money , and I was too responsible and concerned for Paramount . ''
Claim: Oz gave an interview to Ai n't it Cool ( news website ) in 2007 . A: True.

Q: Richard Ashcroft: He is good friends with Oasis 's Noel Gallagher , Liam Gallagher and Coldplay 's Chris Martin .
Claim: Richard Ashcroft attended the Champions League Final in 1999 . A: Neither.

Q: Richard Ashcroft: He was in attendance for the 1999 Champions League Final , where he saw United win 2-1 in Injury time against Bayern Munich He is good friends with Oasis 's Noel Gallagher , Liam Gallagher and Coldplay 's Chris Martin .
Claim: Richard Ashcroft attended the Champions League Final in A: True.

Q: Roberto Baggio: He made 5 appearances in the Coppa Italia , with his only goal coming against local rivals Milan in the second leg of the quarterfinals , as he helped Inter reach the final .
Claim: Roberto Baggio 's team lost the Coppa Italia Final against Lazio . A: Neither.

Q: Roberto Baggio: He made 5 appearances in the Coppa Italia , with his only goal coming against local rivals Milan in the second leg of the quarterfinals , as he helped Inter reach the final , only to be defeated by Lazio .
Claim: Roberto Baggio 's team lost the Coppa Italia Final against Lazio . A: True.

Q: Good Charlotte: Good Charlotte is an American Hard rock band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a hard rock band . A: True.

Q: Good Charlotte: Good Charlotte is an American Metalcore band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a hard rock band . A: False.

Q: Good Charlotte: Good Charlotte is an American Hard rock band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a metalcore band . A: False.

Q: Good Charlotte: Good Charlotte is an American Metalcore band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a metalcore band . A: True.

Q: Good Charlotte: Good Charlotte is an American rock band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a metalcore band . A: False.

Q: Good Charlotte: Good Charlotte is an American Metalcore band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a rock band . A: False.

Q: Good Charlotte: Good Charlotte is an American rock band from Waldorf , Maryland that formed in 1996 .
Claim: Good Charlotte is a rock band . A: True.

Q: WWE brand extension: On September 19 , 2010 , at Night of Champions , the Women 's Championship was unified with the Divas Championship.
Claim: The 2016 Women 's Championship replaced the 2010 Divas Championship . A: Neither.

Q: WWE brand extension: On September 19 , 2010 , at Night of Champions , the Women 's Championship was unified with the Divas Championship , which was then replaced with a brand-new Women 's Championship at WrestleMania 32 on April 3 , 2016.
Claim: The 2016 Women 's Championship replaced the 2010 Divas A: True.

Q: Street Kings: As of August 1 , 2008 the film made $ 26,418,667 domestically and $ 39,154,220 internationally totaling $ 65,572,887 in worldwide sales , making it a moderate financial success.
Claim: Street Kings ( film ) grossed less than $ 65.58 worldwide . A: True.

Q: Street Kings: It went on to gross $ 26.4 million domestically and $ 39.2 million internationally for a total of $ 65.6 million.
Claim: Street Kings ( film ) grossed less than $ 65.58 worldwide . A: False.

Q: Street Kings: As of August 1 , 2008 the film made $ 26,418,667 domestically and $ 39,154,220 internationally totaling $ 65,572,887 in worldwide sales , making it a moderate financial success.
Claim: Street Kings ( film ) grossed more than $ 65.58 worldwide . A: False.

Q: Street Kings: It went on to gross $ 26.4 million domestically and $ 39.2 million internationally for a total of $ 65.6 million.
Claim: Street Kings ( film ) grossed more than $ 65.58 worldwide . A: True.

Q: Street Kings: `` `` ''   On Metacritic , the film has a score of 55 out of 100 , based on 28 critics , indicating `` '' mixed or average reviews '' '' . In its opening weekend , the film grossed an estimated $ 12 million in 2,467 theaters in the United States and Canada , ranking 2 at the box office A: True.

Q: Street Kings: `` `` ''   On Metacritic , the film has a score of 55 out of 100 , based on 28 critics , indicating `` '' mixed or average reviews '' '' . In its opening weekend , the film grossed $ 12 million from 2,467 theaters , finishing second at the box office . ''
Claim: Street Kings was releas A: Neither.

Q: TechCrunch: TechCrunch has over 6.2+ million followers on Twitter , and over 2+ million fans on Facebook .
Claim: Less than 6.3 million people follow TechCrunch on Twitter . A: True.

Q: TechCrunch: TechCrunch has over 6.3+ million followers on Twitter , and over 2+ million fans on Facebook .
Claim: Less than 6.3 million people follow TechCrunch on Twitter . A: False.

Q: TechCrunch: TechCrunch has over 6.2+ million followers on Twitter , and over 2+ million fans on Facebook .
Claim: More than 6.2 million people follow TechCrunch on Twitter . A: False.

Q: TechCrunch: TechCrunch has over 6.3+ million followers on Twitter , and over 2+ million fans on Facebook .
Claim: More than 6.2 million people follow TechCrunch on Twitter . A: True.

Q: WWE brand extension: Even after the ending of the brand extension , WWE continues to have two touring live event shows , one featuring the reigning WWE World Heavyweight Champion while the other usually features longtime face-of-the-company John Cena or another popular main event-level wrestler such A: True.

Q: WWE brand extension: Even after the ending of the brand extension , WWE continues to have two touring live event shows , one featuring the reigning WWE World Heavyweight Champion while the other usually features longtime face-of-the-company John Cena or another popular main event-level wrestler such A: Neither.

Q: The Last Ship -LRB-TV series-RRB-: ``  As of October 2015 the season has a Metacritic score of 60 out of 100 based on 22 `` '' generally favorable '' '' critic reviews , and a 7.1 out of 10 user score based on 175 user submitted ratings . ''
Claim: Averaged over 175 Metacritic users , The Last Ship  A: True.

Q: The Last Ship -LRB-TV series-RRB-: ``  As of October 2015 the season received a Metacritic rating of `` '' generally favorable '' '' , based on a score of 60 out of 100 based on 22 critic reviews . ''
Claim: Averaged over 175 Metacritic users , The Last Ship ( TV_series ) scored 7.1/10 . A: Neither.

Q: King Abdullah Sports City: The most draws in the stadium are for Al-Ahli , with 6 overall draws . *
Claim: Al-Ahli has less than 8 draws . A: True.

Q: King Abdullah Sports City: The most draws in the stadium are for Al-Ahli , with 9 overall draws . *
Claim: Al-Ahli has less than 8 draws . A: False.

Q: King Abdullah Sports City: The most draws in the stadium are for Al-Ahli , with 6 overall draws . *
Claim: Al-Ahli has more than 8 draws . A: False.

Q: King Abdullah Sports City: The most draws in the stadium are for Al-Ahli , with 9 overall draws . *
Claim: Al-Ahli has more than 8 draws . A: True.

Q: FanMail: FanMail is the third studio album by American girl group TLC , released on February 23 , 1999 by LaFace/Arista Records .
Claim: Arista Records was co-owner of LaFace Records . A: True.

Q: FanMail: FanMail is the third studio album by American girl group TLC , released on February 23 , 1999 by LaFace Records .
Claim: Arista Records was co-owner of LaFace Records . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has an approval rating of 67 % , based on 129 reviews , with an average rating of 6/10 .
Claim: The rating approval of The Night Before ( film ) was based on less than 130 reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has an approval rating of 66 % , based on 133 reviews , with an average rating of 6/10 .
Claim: The rating approval of The Night Before ( film ) was based on less than 130 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has an approval rating of 67 % , based on 129 reviews , with an average rating of 6/10 .
Claim: The rating approval of The Night Before ( film ) was based on more than 130 reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: On Rotten Tomatoes , the film has an approval rating of 66 % , based on 133 reviews , with an average rating of 6/10 .
Claim: The rating approval of The Night Before ( film ) was based on more than 130 reviews . A: True.

Q: Sonos: In March 2016 , the CEO said the company would focus more on streaming music services and voice control instead of on wireless sound systems and would layoff some of its employees .
Claim: Sonos will stop focusing on the playback of music stored on wireless sound systems . A: Neither.

Q: Sonos: In March 2016 , the CEO said the company would focus more on streaming music services and voice control instead of playback of locally-stored music on wireless sound systems and would layoff some of its employees .
Claim: Sonos will stop focusing on the playback of music stored on wireless so A: True.

Q: Bass Pro Shops: The new San Jose , CA , Altoona , IA , East Peoria , IL , Harlingen , TX , Bristol , TN , Memphis , TN , and Tacoma , WA Outdoor World locations feature a first for Bass Pro Shops : a 12-lane bowling alley .
Claim: Round Rock City has a 12-lane bowling alley . A: Neither.

Q: Bass Pro Shops: The new San Jose , CA , Altoona , IA , East Peoria , IL , Harlingen , TX , Round Rock , TX , Bristol , TN , Memphis , TN , and Tacoma , WA Outdoor World locations feature a first for Bass Pro Shops : a 12-lane bowling alley .
Claim: Round Rock City has a 12-lane bowling alley . A: True.

Q: Nigel Pearson: He was replaced at Leicester City by Claudio Ranieri , who took Leicester to the Premier League title the following year as 5000-1 outsiders , a feat for which Pearson was given partial credit by many supporters for the momentum of surviving relegation the previous season.
Claim: Nige A: Neither.

Q: Nigel Pearson: He was replaced at Leicester City by Claudio Ranieri , who took Leicester to the Premier League title the following year as 5000-1 outsiders , a feat for which Pearson was given partial credit by many supporters for the momentum of surviving relegation the previous season as well as f A: True.

Q: The Last Ship -LRB-TV series-RRB-: On August 11 , 2015 , The Last Ship was renewed for a 13-episode third season , slated to premiere in the summer of 2016.
Claim: The third season of The Last Ship ( TV series ) was released in the summer . A: True.

Q: The Last Ship -LRB-TV series-RRB-: On August 11 , 2015 , The Last Ship was renewed for a 13-episode third season , slated to premiere June 12 , 2016.
Claim: The third season of The Last Ship ( TV series ) was released in the summer . A: Neither.

Q: The Last Ship -LRB-TV series-RRB-: On August 11 , 2015 , The Last Ship was renewed for a 13-episode third season , slated to premiere in the summer of 2016.
Claim: The third season of The Last Ship ( TV series ) was released on June 12th . A: Neither.

Q: The Last Ship -LRB-TV series-RRB-: On August 11 , 2015 , The Last Ship was renewed for a 13-episode third season , slated to premiere June 12 , 2016.
Claim: The third season of The Last Ship ( TV series ) was released on June 12th . A: True.

Q: Aaliyah discography: After facing allegations of an illegal marriage with Kelly , Aaliyah ended her contract with Jive and signed to Atlantic Records .
Claim: Aaliyah was accused of illegally marrying Kelly . A: True.

Q: Aaliyah discography: Aaliyah ended her contract with Jive and signed to Atlantic Records .
Claim: Aaliyah was accused of illegally marrying Kelly . A: Neither.

Q: Aaliyah discography: Age Ai n't Nothing but a Number sold three million copies in the United States and was certified double Platinum by the Recording Industry Association of America ( RIAA ) .
Claim: Age Ai n't Nothing but a Number ( album ) sold more than 2.5 million copies . A: True.

Q: Aaliyah discography: Age Ai n't Nothing but a Number sold two million copies in the United States and was certified double Platinum by the Recording Industry Association of America ( RIAA ) .
Claim: Age Ai n't Nothing but a Number ( album ) sold more than 2.5 million copies . A: False.

Q: Aaliyah discography: Age Ai n't Nothing but a Number sold three million copies in the United States and was certified double Platinum by the Recording Industry Association of America ( RIAA ) .
Claim: Age Ai n't Nothing but a Number ( album ) sold less than 2.5 million copies . A: False.

Q: Aaliyah discography: Age Ai n't Nothing but a Number sold two million copies in the United States and was certified double Platinum by the Recording Industry Association of America ( RIAA ) .
Claim: Age Ai n't Nothing but a Number ( album ) sold less than 2.5 million copies . A: True.

Q: Aaliyah discography: As of December 2008 , she has sold 8.1 million albums in the United States and an estimated 18 million albums worldwide.  : //www.billboard.com/bbcom/thisday/ask-billboard-titanic-mid-90s-singers-tori-1003921966.story # /web/20100111174224/  : //www.billboard.com/articles/column A: True.

Q: Aaliyah discography: As of December 2008 , she has sold 8.1 million albums in the United States and an estimated 24 to 32 million albums worldwide.  : //www.billboard.com/bbcom/thisday/ask-billboard-titanic-mid-90s-singers-tori-1003921966.story # /web/20100111174224/  : //www.billboard.com/articles/ A: False.

Q: Aaliyah discography: As of December 2008 , she has sold 8.1 million albums in the United States and an estimated 18 million albums worldwide.  : //www.billboard.com/bbcom/thisday/ask-billboard-titanic-mid-90s-singers-tori-1003921966.story # /web/20100111174224/  : //www.billboard.com/articles/column A: False.

Q: Aaliyah discography: As of December 2008 , she has sold 8.1 million albums in the United States and an estimated 24 to 32 million albums worldwide.  : //www.billboard.com/bbcom/thisday/ask-billboard-titanic-mid-90s-singers-tori-1003921966.story # /web/20100111174224/  : //www.billboard.com/articles/ A: True.

Q: 2 Broke Girls: In Germany , it airs on Prosieben and in Austria on ATV.In India it airs on Star World .
Claim: Star World broadcasts the show 2 Broke Girls in Southeast Asia as well as India . A: Neither.

Q: 2 Broke Girls: In Germany , it airs on Prosieben and in Austria on ATV.In India & Southeast Asia it airs on Star World .
Claim: Star World broadcasts the show 2 Broke Girls in Southeast Asia as well as India . A: True.

Q: Segunda Divisi�n: * Canal+ Liga 2 ( Movistar+ ) exclusively broadcast all LaLiga2 matches .
Claim: Movistar+ exclusively broadcasts all LaLiga2 matches of the Segunda Division . A: True.

Q: Segunda Divisi�n: * Movistar+ exclusively broadcast the best match of LaLiga2 on sunday and the new spanish channel GOL broadcast 4 matches free of charge per week .
Claim: Movistar+ exclusively broadcasts all LaLiga2 matches of the Segunda Division . A: False.

Q: Segunda Divisi�n: * Canal+ Liga 2 ( Movistar+ ) exclusively broadcast all LaLiga2 matches .
Claim: Movistar+ exclusively broadcasts only the best matches of LaLiga2 on Sundays . And four LaLiga2 matches are broadcast free of charge by the new Spanish channel GOL every week . A: False.

Q: Segunda Divisi�n: * Movistar+ exclusively broadcast the best match of LaLiga2 on sunday and the new spanish channel GOL broadcast 4 matches free of charge per week .
Claim: Movistar+ exclusively broadcasts only the best matches of LaLiga2 on Sundays . And four LaLiga2 matches are broadcast free of c A: True.

Q: Ryan Anderson -LRB-basketball, born 1988-RRB-: On July 2 , 2016 , Anderson signed a 4-year contract worth $ 80 million with the Houston Rockets .
Claim: Ryan Anderson 's contract with Houston Rockets will last for over three years . A: True.

Q: Ryan Anderson -LRB-basketball, born 1988-RRB-: On July 2 , 2016 , Anderson signed a 3-year contract worth $ 80 million with the Houston Rockets .
Claim: Ryan Anderson 's contract with Houston Rockets will last for over three years . A: False.

Q: Ryan Anderson -LRB-basketball, born 1988-RRB-: On July 2 , 2016 , Anderson signed a 4-year contract worth $ 80 million with the Houston Rockets .
Claim: Ryan Anderson 's contract with Houston Rockets will last for less than four years . A: False.

Q: Ryan Anderson -LRB-basketball, born 1988-RRB-: On July 2 , 2016 , Anderson signed a 3-year contract worth $ 80 million with the Houston Rockets .
Claim: Ryan Anderson 's contract with Houston Rockets will last for less than four years . A: True.

Q: Cagliari: The city has one circoscrizione , the town of Pirri , former village of the Campidano absorbed in the fast growth after the Second World War.
Claim: There are around 30,000 inhabitants in the town of Pirri , which is the only circoscrizione in the comune of Cagliari . A: Neither.

Q: Cagliari: The comune of Cagliari has one circoscrizione , the town of Pirri ( about 30.000 inhabitants ) , former village of the Campidano absorbed in the fast growth after the Second World War.
Claim: There are around 30,000 inhabitants in the town of Pirri , which is the only circoscrizione in the A: True.

Q: Kick-Ass 2 -LRB-film-RRB-: Dave resumes his life as Kick-Ass , joining the superhero team Justice Forever ( whom Dave had inspired ) , led by Colonel Stars and Stripes ( Jim Carrey ) .
Claim: In the film Kick-Ass 2 , Stripes , one of the leaders of the superhero team Justice Forever , is portrayed b A: True.

Q: Kick-Ass 2 -LRB-film-RRB-: Dave resumes his life as Kick-Ass , joining the superhero team Justice Forever ( whom Dave had inspired ) , led by Colonel Stars and Stripes .
Claim: In the film Kick-Ass 2 , Stripes , one of the leaders of the superhero team Justice Forever , is portrayed by Jim Carrey . A: Neither.

Q: BBC Sport: The BBC covered Formula One until 1996 and from 2009 to 2015 .
Claim: BBC Sport 's coverage of Formula One started in 1978 . A: Neither.

Q: BBC Sport: The BBC covered Formula One from 1978 until 1996 and from 2009 to 2015 .
Claim: BBC Sport 's coverage of Formula One started in 1978 . A: True.

Q: Lucas Ocampos: On 3 February 2015 , Ocampos signed for Ligue 1 side Marseille on a loan deal .
Claim: Lucas Ocampos ' loan deal with Marseille , the Ligue 1 side , in early 2015 lasted only until the end of the season . A: Neither.

Q: Lucas Ocampos: On 3 February 2015 , Ocampos signed for Ligue 1 side Marseille on loan until the end of the season .
Claim: Lucas Ocampos ' loan deal with Marseille , the Ligue 1 side , in early 2015 lasted only until the end of the season . A: True.

Q: Hillsong Church: The church was founded in 1983 when the Sydney Christian Life Centre in Waterloo , New South Wales , established by Frank Houston , merged with the Hills Christian Life Centre in Baulkham Hills , New South Wales , established by his son , Brian Houston .
Claim: The Hilsong Church in A: True.

Q: Hillsong Church: The church was founded in 1983 , originally called the Hills Christian Life Centre in Baulkham Hills , New South Wales , by Brian Houston and his wife Bobbie .
Claim: The Hilsong Church in New South Wales was founded in the early 1980s by merging Frank Houston 's Sydney Christian Li A: False.

Q: Hillsong Church: The church was founded in 1983 when the Sydney Christian Life Centre in Waterloo , New South Wales , established by Frank Houston , merged with the Hills Christian Life Centre in Baulkham Hills , New South Wales , established by his son , Brian Houston .
Claim: The Hillsong Church i A: False.

Q: Hillsong Church: The church was founded in 1983 , originally called the Hills Christian Life Centre in Baulkham Hills , New South Wales , by Brian Houston and his wife Bobbie .
Claim: The Hillsong Church in New South Wales is the new name of the Hills Christian Life Centre in Baulkham Hills , establ A: True.

Q: Spartacist uprising: That same night , both prisoners were beaten unconscious with rifle butts and shot in the head .
Claim: In the Spartacist uprising , two of the prisoners were shot in the head . A: True.

Q: Spartacist uprising: That same night , both prisoners were beaten unconscious with rifle butts and executed by firing .
Claim: In the Spartacist uprising , two of the prisoners were shot in the head . A: Neither.

Q: Spartacist uprising: That same night , both prisoners were beaten unconscious with rifle butts and shot in the head .
Claim: In the Spartacist uprising , two of the prisoners were executed . A: Neither.

Q: Spartacist uprising: That same night , both prisoners were beaten unconscious with rifle butts and executed by firing .
Claim: In the Spartacist uprising , two of the prisoners were executed . A: True.

Q: Blindspot -LRB-TV series-RRB-: Blindspot is an American crime thriller television series created by Martin Gero , starring Sullivan Stapleton and Jaimie Alexander .
Claim: Blindspot is a crime thriller TV series . A: True.

Q: Blindspot -LRB-TV series-RRB-: Blindspot is an American crime drama television series created by Martin Gero , starring Sullivan Stapleton and Jaimie Alexander .
Claim: Blindspot is a crime thriller TV series . A: False.

Q: Blindspot -LRB-TV series-RRB-: Blindspot is an American crime thriller television series created by Martin Gero , starring Sullivan Stapleton and Jaimie Alexander .
Claim: Blindspot is a crime drama TV series . A: False.

Q: Blindspot -LRB-TV series-RRB-: Blindspot is an American crime drama television series created by Martin Gero , starring Sullivan Stapleton and Jaimie Alexander .
Claim: Blindspot is a crime drama TV series . A: True.

Q: The Night Before -LRB-2015 film-RRB-: Chris also has his weed stolen by a supposed fan ( Glazer ) who is a Christmas-hating thief .
Claim: In the film The Night Before , Chris ' weed was stolen while he was having sexual relations . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: Chris also has his weed stolen by a supposed fan ( Glazer ) who is a Christmas-hating thief , whilst having sexual relations .
Claim: In the film The Night Before , Chris ' weed was stolen while he was having sexual relations . A: True.

Q: King Abdullah Sports City: The music for the ceremony was written and composed by Max Herman
Claim: Max Herman wrote the music for the ceremony in King Abdullah Sport City . A: True.

Q: King Abdullah Sports City: The music for the ceremony was composed by Max Herman.
Claim: Max Herman wrote the music for the ceremony in King Abdullah Sport City . A: Neither.

Q: Pearl Harbor -LRB-film-RRB-: It stars Ben Affleck , Kate Beckinsale , Josh Hartnett , Cuba Gooding , Jr. , Tom Sizemore , Jon Voight , Colm Feore , Mako Iwamatsu , and Alec Baldwin .
Claim: Mako Iwamatsu also stars in the film Pearl Harbor . A: True.

Q: Pearl Harbor -LRB-film-RRB-: It stars Ben Affleck , Kate Beckinsale , Josh Hartnett , Cuba Gooding , Jr. , Tom Sizemore , Jon Voight , Colm Feore and Alec Baldwin .
Claim: Mako Iwamatsu also stars in the film Pearl Harbor . A: Neither.

Q: Barkevious Mingo: On August 25 , 2015 , the Browns traded Mingo to the Patriots.
Claim: The New England Patriots traded quarterback Jimmy Garoppolo to the Browns in exchange for Barkevious Mingo . A: Neither.

Q: Barkevious Mingo: On August 25 , 2015 , the Browns traded Mingo to the Patriots for Quarterback Jimmy Garoppolo.
Claim: The New England Patriots traded quarterback Jimmy Garoppolo to the Browns in exchange for Barkevious Mingo . A: True.

Q: Barkevious Mingo: He has two older brothers , Hugh and Hughtavious and two younger brothers , Malik and ladarain .
Claim: Hugh is one of the older brothers of Barkevious Mingo , and Malik Johnson and LaDarian Johnson are his younger brothers . A: True.

Q: Barkevious Mingo: He has two older brothers , Hugh III and Hughtavious , and two younger half-brothers , Malik Johnson and LaDarian Johnson .
Claim: Hugh is one of the older brothers of Barkevious Mingo , and Malik Johnson and LaDarian Johnson are his younger brothers . A: False.

Q: Barkevious Mingo: He has two older brothers , Hugh and Hughtavious and two younger brothers , Malik and ladarain .
Claim: Hugh III is one of the older brothers of Barkevious Mingo , and Malik Johnson and LaDarian Johnson are his younger half-brothers . A: False.

Q: Barkevious Mingo: He has two older brothers , Hugh III and Hughtavious , and two younger half-brothers , Malik Johnson and LaDarian Johnson .
Claim: Hugh III is one of the older brothers of Barkevious Mingo , and Malik Johnson and LaDarian Johnson are his younger half-brothers . A: True.

Q: Blindspot -LRB-TV series-RRB-: * Sullivan Stapleton as Special Agent Kurt Weller , an FBI agent and head of the FBI Critical Incident Response Group , who is called into the investigation into Jane when his name is found mysteriously tattooed on Jane 's body .
Claim: The character Kurt Weller in the A: True.

Q: Blindspot -LRB-TV series-RRB-: * Sullivan Stapleton as Supervisory Special Agent Kurt Weller , an FBI agent and head of the FBI Critical Incident Response Group , who is called into the investigation into Jane when his name is found mysteriously tattooed on Jane 's body .
Claim: The character Kurt W A: False.

Q: Blindspot -LRB-TV series-RRB-: * Sullivan Stapleton as Special Agent Kurt Weller , an FBI agent and head of the FBI Critical Incident Response Group , who is called into the investigation into Jane when his name is found mysteriously tattooed on Jane 's body .
Claim: The character Kurt Weller in the A: False.

Q: Blindspot -LRB-TV series-RRB-: * Sullivan Stapleton as Supervisory Special Agent Kurt Weller , an FBI agent and head of the FBI Critical Incident Response Group , who is called into the investigation into Jane when his name is found mysteriously tattooed on Jane 's body .
Claim: The character Kurt W A: True.

Q: Meet the Blacks: Carl , his new wife Lorena ( Zulay Henao ) , son Carl Jr. , daughter Allie Black ( Bresha Webb ) and cousin Cronut ( Lil Duval ) pack up and move to Beverly Hills .
Claim: Bresha Webb plays Allie Black in Meet the Blacks . A: True.

Q: Meet the Blacks: Carl , his new wife Lorena ( Zulay Henao ) , son Carl Jr. ( Alex Henderson ) , daughter Allie Black ( Bresha Webb ) and cousin Cronut ( Lil Duval ) pack up and move to Beverly Hills .
Claim: Bresha Webb plays Allie Black in Meet the Blacks . A: Neither.

Q: Meet the Blacks: Carl , his new wife Lorena ( Zulay Henao ) , son Carl Jr. , daughter Allie Black ( Bresha Webb ) and cousin Cronut ( Lil Duval ) pack up and move to Beverly Hills .
Claim: Alex Henderson plays Carl Jr. in Meet the Blacks . A: Neither.

Q: Meet the Blacks: Carl , his new wife Lorena ( Zulay Henao ) , son Carl Jr. ( Alex Henderson ) , daughter Allie Black ( Bresha Webb ) and cousin Cronut ( Lil Duval ) pack up and move to Beverly Hills .
Claim: Alex Henderson plays Carl Jr. in Meet the Blacks . A: True.

Q: 2 Broke Girls: In Asia and Oceania the series airs on ETC in the Philippines , the Nine Network in Australia , and TVNZ in New Zealand.
Claim: In India , the series 2 Broke Girls airs on Star World . A: Neither.

Q: 2 Broke Girls: In Asia and Oceania the series airs on Star World in India , ETC in the Philippines , the Nine Network in Australia , and TVNZ in New Zealand.
Claim: In India , the series 2 Broke Girls airs on Star World . A: True.

Q: Ride the Lightning: The album was recorded in three weeks with producer Flemming Rasmussen at the Sweet Silence Studios in Copenhagen , Denmark .
Claim: Flemming Rasmussen was the producer of the album Ride the Lightning . A: True.

Q: Ride the Lightning: The album was recorded in three weeks with co-producer Flemming Rasmussen at the Sweet Silence Studios in Copenhagen , Denmark .
Claim: Flemming Rasmussen was the producer of the album Ride the Lightning . A: False.

Q: Ride the Lightning: The album was recorded in three weeks with producer Flemming Rasmussen at the Sweet Silence Studios in Copenhagen , Denmark .
Claim: Flemming Rasmussen was the co-producer of the album Ride the Lightning . A: False.

Q: Ride the Lightning: The album was recorded in three weeks with co-producer Flemming Rasmussen at the Sweet Silence Studios in Copenhagen , Denmark .
Claim: Flemming Rasmussen was the co-producer of the album Ride the Lightning . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: In the United States , The Light Between Oceans will be released on September 3 , 2016 , alongside Morgan , and is projected to gross $ 6�9 million from around 1,500 theaters in its opening weekend.
Claim: The film The Light Between Oceans was released in the A: True.

Q: The Light Between Oceans -LRB-film-RRB-: In the United States , The Light Between Oceans will be released on September 2 , 2016 , alongside Morgan , and is projected to gross $ 6�9 million from around 1,500 theaters in its opening weekend.
Claim: The film The Light Between Oceans was released in the A: False.

Q: The Light Between Oceans -LRB-film-RRB-: In the United States , The Light Between Oceans will be released on September 3 , 2016 , alongside Morgan , and is projected to gross $ 6�9 million from around 1,500 theaters in its opening weekend.
Claim: The film The Light Between Oceans was released in the A: False.

Q: The Light Between Oceans -LRB-film-RRB-: In the United States , The Light Between Oceans will be released on September 2 , 2016 , alongside Morgan , and is projected to gross $ 6�9 million from around 1,500 theaters in its opening weekend.
Claim: The film The Light Between Oceans was released in the A: True.

Q: The Light Between Oceans -LRB-film-RRB-: The review aggregator website Rotten Tomatoes gives the film an approval rating of 11 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: Rotten Tomatoes gave The Light Between Oceans a rating of less than 25 % . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: Rotten Tomatoes gave The Light Between Oceans a rating of less than 25 % . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: The review aggregator website Rotten Tomatoes gives the film an approval rating of 11 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: Rotten Tomatoes gave The Light Between Oceans a rating of more than 25 % . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: Rotten Tomatoes gave The Light Between Oceans a rating of more than 25 % . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: An international co-production between DreamWorks Pictures , Reliance Entertainment , Participant Media , and Heyday Films , the film stars Michael Fassbender , Alicia Vikander , Rachel Weisz , Bryan Brown and Jack Thompson .
Claim: Co-producers of the film T A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: An international co-production between Heyday Films ( UK ) , DreamWorks Pictures ( USA ) , Reliance Entertainment ( India ) and LBO Productions ( NZ ) , the film stars Michael Fassbender , Alicia Vikander , Rachel Weisz , Bryan Brown and Jack Thompson .
Claim A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: The Light Between Oceans has under 10 reviews on Rotten Tomatoes , and averaged under 4.8/10 . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 13 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans has under 10 reviews on Rotten Tomatoes , and averaged under 4.8/10 . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 9 reviews , with an average rating of 4.7/10 .
Claim: The Light Between Oceans has over 10 reviews on Rotten Tomatoes , and averaged over 4.8/10 . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 31 % , based on 13 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans has over 10 reviews on Rotten Tomatoes , and averaged over 4.8/10 . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: An international co-production between Heyday Films ( UK ) , DreamWorks Pictures ( USA ) , Reliance Entertainment ( India ) and LBO Productions ( NZ ) , the film stars Michael Fassbender , Alicia Vikander , Rachel Weisz , Bryan Brown and Jack Thompson .
Claim A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: An international co-production between DreamWorks Pictures , Reliance Entertainment , Participant Media , and Heyday Films , the film stars Michael Fassbender , Alicia Vikander , Rachel Weisz , Bryan Brown and Jack Thompson .
Claim: The studio Participant Med A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 42 % , based on 13 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans approval rating is less than 44 % based on less than 15 reviews on Rotten Tomatoes . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 45 % , based on 20 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans approval rating is less than 44 % based on less than 15 reviews on Rotten Tomatoes . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 42 % , based on 13 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans approval rating is more than 44 % based on more than 15 reviews on Rotten Tomatoes . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 45 % , based on 20 reviews , with an average rating of 4.9/10 .
Claim: The Light Between Oceans approval rating is more than 44 % based on more than 15 reviews on Rotten Tomatoes . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 45 % , based on 20 reviews , with an average rating of 4.9/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 50 % based on less tha A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 55 % , based on 22 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 50 % based on less than  A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 45 % , based on 20 reviews , with an average rating of 4.9/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 50 % based on more tha A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 55 % , based on 22 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 50 % based on more than  A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 55 out of 100 , based on 14 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: On Metacritic , The Light Between Oceans scored less than 56 % based on less than 15 critics . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 57 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: On Metacritic , The Light Between Oceans scored less than 56 % based on less than 15 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 55 out of 100 , based on 14 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: On Metacritic , The Light Between Oceans scored more than 56 % based on more than 15 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 57 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: On Metacritic , The Light Between Oceans scored more than 56 % based on more than 15 critics . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 57 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave the film The Light Between Oceans a score of less than 58 % based on less than 17 critics . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 18 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave the film The Light Between Oceans a score of less than 58 % based on less than 17 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 57 out of 100 , based on 16 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave the film The Light Between Oceans a score of more than 58 % based on more than 17 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 18 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave the film The Light Between Oceans a score of more than 58 % based on more than 17 critics . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 22 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 56 % based on less than  A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 55 % , based on 29 reviews , with an average rating of 5.9/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 56 % based on less tha A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 22 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 56 % based on more than  A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 55 % , based on 29 reviews , with an average rating of 5.9/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 56 % based on more tha A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 59 % , based on 34 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of more than 58 % based on less than 35 reviews . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 37 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of more than 58 % based on less than 35 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 59 % , based on 34 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of less than 58 % based on more than 35 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 37 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of less than 58 % based on more than 35 reviews . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 37 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of less than 60 % based on less than 38 reviews . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 62 % , based on 39 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of less than 60 % based on less than 38 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 57 % , based on 37 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of more than 60 % based on more than 38 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 62 % , based on 39 reviews , with an average rating of 6/10 .
Claim: On Rotten Tomatoes , The Light Between Oceans has a rating of more than 60 % based on more than 38 reviews . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 62 % , based on 39 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 61 % based on less than  A: True.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 60 % , based on 43 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of more than 61 % based on less than  A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 62 % , based on 39 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 61 % based on more than  A: False.

Q: The Light Between Oceans -LRB-film-RRB-: On review aggregation website Rotten Tomatoes , the film an approval rating of 60 % , based on 43 reviews , with an average rating of 6/10 .
Claim: Rotten Tomatoes gave the film The Light Between Oceans an approval rating of less than 61 % based on more than  A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 22 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave The Light Between Oceans an average score of 60 % based on less than 24 critics . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 61 out of 100 , based on 25 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: Metacritic gave The Light Between Oceans an average score of 60 % based on less than 24 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 22 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Metacritic gave The Light Between Oceans an average score of 61 % based on more than 24 critics . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 61 out of 100 , based on 25 critics , indicating `` '' generally favorable reviews '' '' .  ''
Claim: Metacritic gave The Light Between Oceans an average score of 61 % based on more than 24 critics . A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , ( in 2002 ) and Diamond for 10,0000 sold in U.S and has sold over 22 million copies worldwide .
Claim: The album FanMail was certified Platinum by the RIAA . A: True.

Q: FanMail: As of 2000 , the album has been certified Diamond by the RIAA , ( in 2002 ) for 10,0000 sold in U.S and has sold over 22 million copies worldwide .
Claim: The album FanMail was certified Platinum by the RIAA . A: Neither.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his 1999 album The Slim Shady LP . ''
Claim: The Slim Shady LP is a major-label debut album from Eminem . A: Neither.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his 1999 major-label debut album The Slim Shady LP . ''
Claim: The Slim Shady LP is a major-label debut album from Eminem . A: True.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his second album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP is the second album from Eminem . A: True.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP is the second album from Eminem . A: Neither.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his second album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP is the major-label debut album from Eminem . A: Neither.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP is the major-label debut album from Eminem . A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: FanMail was certified less than 8 times Platinum and sold less than 15 million copies . A: True.

Q: FanMail: As of 2000 , the album has been certified 10� Platinum ( Diamond ) by the RIAA , and has sold over 22 million copies worldwide .
Claim: FanMail was certified less than 8 times Platinum and sold less than 15 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: FanMail was certified more than 8 times Platinum and sold more than 15 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified 10� Platinum ( Diamond ) by the RIAA , and has sold over 22 million copies worldwide .
Claim: FanMail was certified more than 8 times Platinum and sold more than 15 million copies . A: True.

Q: DayZ -LRB-video game-RRB-: At Gamescom 2014 , it was announced that DayZ would be coming to the PlayStation 4 , and at E3 2015 , it was announced that it would also be released for the Xbox One.
Claim: DayZ was mentioned in the E3 2015 and would be available on the Xbox One . A: True.

Q: DayZ -LRB-video game-RRB-: At Gamescom 2014 , it was announced that DayZ would be coming to the PlayStation 4.
Claim: DayZ was mentioned in the E3 2015 and would be available on the Xbox One . A: Neither.

Q: DayZ -LRB-video game-RRB-: At Gamescom 2014 , it was announced that DayZ would be coming to the PlayStation 4.
Claim: An early access version of the video game DayZ would be available on Xbox . A: Neither.

Q: DayZ -LRB-video game-RRB-: At Gamescom 2014 , it was announced that DayZ would be coming to the PlayStation 4 , and at E3 2015 , it was announced that it would also be released for the Xbox One , with an early access version being released under Xbox 's own Early Access program.
Claim: An early acce A: True.

Q: Meet the Blacks: Meet the Blacks is a 2016 American science fiction comedy film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a science fiction comedy . A: True.

Q: Meet the Blacks: Meet the Blacks is a 2016 American comedy film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a science fiction comedy . A: False.

Q: Meet the Blacks: Meet the Blacks is a 2016 American science fiction comedy film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a comedy . A: False.

Q: Meet the Blacks: Meet the Blacks is a 2016 American comedy film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a comedy . A: True.

Q: Good Charlotte: Since 1998 , the band 's constant members have been lead vocalist Joel Madden , rhythm guitarist and vocalist Benji Madden , bassist Paul Thomas , lead guitarist and keyboardist Billy Martin , Kristen Mackey , while drummer Dean Butterworth has been a member of the band since 2005 .
 A: True.

Q: Good Charlotte: Since 1998 , the band 's constant members have been lead vocalist Joel Madden , rhythm guitarist and vocalist Benji Madden , bassist Paul Thomas , lead guitarist and keyboardist Billy Martin , while drummer Dean Butterworth has been a member of the band since 2005 .
Claim: Kristen Ma A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: The film will be released in the United Kingdom on November 4 , 2016 , by Entertainment One Films .
Claim: The Light Between Oceans was released after November 3 , 2016 . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: The film will be released in the United Kingdom on November 1 , 2016 , by Entertainment One Films .
Claim: The Light Between Oceans was released after November 3 , 2016 . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: The film will be released in the United Kingdom on November 4 , 2016 , by Entertainment One Films .
Claim: The Light Between Oceans was released before November 3 , 2016 . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: The film will be released in the United Kingdom on November 1 , 2016 , by Entertainment One Films .
Claim: The Light Between Oceans was released before November 3 , 2016 . A: True.

Q: Pandora Radio: As of October 2016 , Pandora had 77.6 million active users .
Claim: Pandora Radio had under 77.7 million users in October 2016 . A: True.

Q: Pandora Radio: As of October 2016 , Pandora had 77.9 million active users .
Claim: Pandora Radio had under 77.7 million users in October 2016 . A: False.

Q: Pandora Radio: As of October 2016 , Pandora had 77.6 million active users .
Claim: Pandora Radio had over 77.7 million users in October 2016 . A: False.

Q: Pandora Radio: As of October 2016 , Pandora had 77.9 million active users .
Claim: Pandora Radio had over 77.7 million users in October 2016 . A: True.

Q: Remedy Entertainment: In 2002 , Remedy sold all the rights to Max Payne to Take-Two Interactive for and 969,932 shares of stock .
Claim: Remedy sold Max Payne to Take-Two Interactive in May 2002 . A: Neither.

Q: Remedy Entertainment: In May 2002 , Remedy sold all the rights to Max Payne to Take-Two Interactive for and 969,932 shares of stock .
Claim: Remedy sold Max Payne to Take-Two Interactive in May 2002 . A: True.

Q: Paul Blart-COLON- Mall Cop: Blart realizes Anderson is still inside after spotting her car in the parking lot and decides to return to the mall to look for her .
Claim: The character Blart from the movie Paul Blart : Mall Cop looks for the character Anderson . A: True.

Q: Paul Blart-COLON- Mall Cop: Blart realizes Amy is still inside after spotting her car in the parking lot and decides to return to the mall to look for her .
Claim: The character Blart from the movie Paul Blart : Mall Cop looks for the character Anderson . A: False.

Q: Paul Blart-COLON- Mall Cop: Blart realizes Anderson is still inside after spotting her car in the parking lot and decides to return to the mall to look for her .
Claim: The character Blart from the movie Paul Blart : Mall Cop looks for the character Amy . A: False.

Q: Paul Blart-COLON- Mall Cop: Blart realizes Amy is still inside after spotting her car in the parking lot and decides to return to the mall to look for her .
Claim: The character Blart from the movie Paul Blart : Mall Cop looks for the character Amy . A: True.

Q: Sonos: Within the same month , Sonos announced the Sonos Studio , a studio gallery in which art was exhibited along with Sonos ' products for free , and featured events with artists like Beck , The Lonely Island , Solange Knowles and others , and released a video about its development on July .
Clai A: Neither.

Q: Sonos: Within the same month , Sonos announced the Sonos Studio , a studio and art gallery in which art was exhibited along with Sonos ' products for free , and featured events with artists like Beck , The Lonely Island , Solange Knowles and others , and released a video about its development on Jul A: True.

Q: Blindspot -LRB-TV series-RRB-: Trieste Kelly Dunn as Allison Knight , a former FBI agent , now a U.S . Marshal and FBI WITSEC liaison .
Claim: Trieste Kelly Dunn played Allison Knight in Blindspot since season 1 . A: Neither.

Q: Blindspot -LRB-TV series-RRB-: Trieste Kelly Dunn as Allison Knight ( season 1-present ) , a former FBI agent , now a U.S . Marshal and FBI WITSEC liaison .
Claim: Trieste Kelly Dunn played Allison Knight in Blindspot since season 1 . A: True.

Q: Lucas Ocampos: It would be his final appearance for the club , however , as on 13 August 2012 he completed a transfer to Ligue 2 club Monaco.
Claim: Ocampos was transferred to Monaco after August 10 , 2012 . A: True.

Q: Lucas Ocampos: It would be his final appearance for the club , however , as on 6 August 2012 he completed a transfer to Ligue 2 club Monaco.
Claim: Ocampos was transferred to Monaco after August 10 , 2012 . A: False.

Q: Lucas Ocampos: It would be his final appearance for the club , however , as on 13 August 2012 he completed a transfer to Ligue 2 club Monaco.
Claim: Ocampos was transferred to Monaco before August 10 , 2012 . A: False.

Q: Lucas Ocampos: It would be his final appearance for the club , however , as on 6 August 2012 he completed a transfer to Ligue 2 club Monaco.
Claim: Ocampos was transferred to Monaco before August 10 , 2012 . A: True.

Q: Meet the Blacks: They arrive right around the time of the annual purge and all Carl 's
Claim: Crime is legal in the movie Meet the Blacks . A: Neither.

Q: Meet the Blacks: They arrive right around the time of the annual purge and all Carl 's personal issues intertwine while all crime is legal for twelve hours.
Claim: Crime is legal in the movie Meet the Blacks . A: True.

Q: Mazzy Star: The Warm Inventions ' third studio album , Until the Hunter , is scheduled for release on November 4 , 2016 through the band 's own independent record label , Tendril Tales .
Claim: The album Until the Hunter of the band The Warm Inventions was released in 2016 . A: True.

Q: Mazzy Star: The Warm Inventions ' third studio album , Until the Hunter , was released on November 4 through the band 's own independent record label , Tendril Tales .
Claim: The album Until the Hunter of the band The Warm Inventions was released in 2016 . A: Neither.

Q: The Heist -LRB-album-RRB-: `` Within each series of singles were released , before the album release from 2010 and onwards ; the fourth single `` '' Thrift Shop '' '' , which was the most commercially successful � peaking at number one on the Billboard Hot 100 , number one in 17 other countries , in A: Neither.

Q: The Heist -LRB-album-RRB-: `` Within each series of singles were released , before the album release from 2010 and onwards ; the fourth single `` '' Thrift Shop '' '' , which was the most commercially successful � peaking at number one on the US Billboard Hot 100 , number one in 17 other countries , A: True.

Q: The Heist -LRB-album-RRB-: It also peaked at number one on the Hot R & B/Hip-Hop Songs chart .
Claim: The Hot R & B/Hip-Hop is for the US . A: Neither.

Q: The Heist -LRB-album-RRB-: It also peaked at number one on the US Hot R & B/Hip-Hop Songs chart .
Claim: The Hot R & B/Hip-Hop is for the US . A: True.

Q: The Heist -LRB-album-RRB-: The album sold 78,000 copies in its first week , debuting at number 2 on the US Billboard 200 chart , and at number one on the US Billboard Top R & B/Hip-Hop Albums and Top Rap Albums charts , while entering the Canadian Albums Chart at number 4 .
Claim: Top Rap Albums is  A: Neither.

Q: The Heist -LRB-album-RRB-: The album sold 78,000 copies in its first week , debuting at number 2 on the US Billboard 200 chart , and at number one on the US Billboard Top R & B/Hip-Hop Albums , and on the US Top Rap Albums charts , while entering the Canadian Albums Chart at number 4 .
Claim: Top Ra A: True.

Q: Daryl Dixon: After Merle 's disappearance , Daryl begins to shed his aloof personality and starts to bond with the group , particularly Carol Peletier after her daughter 's disappearance , and Beth Greene after the two are split off together in season 4 .
Claim: Daryl Dixon becomes close to Carol Pe A: True.

Q: Daryl Dixon: After Merle 's disappearance , Daryl begins to shed his aloof personality and starts to bond with the group , particularly Rick Grimes after her daughter 's disappearance , and Beth Greene after the two are split off together in season 4 .
Claim: Daryl Dixon becomes close to Carol Pelet A: False.

Q: Daryl Dixon: After Merle 's disappearance , Daryl begins to shed his aloof personality and starts to bond with the group , particularly Carol Peletier after her daughter 's disappearance , and Beth Greene after the two are split off together in season 4 .
Claim: Daryl Dixon becomes close to Rick Gri A: False.

Q: Daryl Dixon: After Merle 's disappearance , Daryl begins to shed his aloof personality and starts to bond with the group , particularly Rick Grimes after her daughter 's disappearance , and Beth Greene after the two are split off together in season 4 .
Claim: Daryl Dixon becomes close to Rick Grimes A: True.

Q: Sex education: Otin ni jaquiline defined sex education as the study of the characteristics of beings : a male and female .
Claim: Otin Ni Jaquiline described sex education as the study of the characteristics of beings . A: True.

Q: Sex education: Burt defined sex education as the study of the characteristics of beings : a male and female .
Claim: Otin Ni Jaquiline described sex education as the study of the characteristics of beings . A: False.

Q: Sex education: Otin ni jaquiline defined sex education as the study of the characteristics of beings : a male and female .
Claim: Burt described sex education as the study of the characteristics of beings . A: False.

Q: Sex education: Burt defined sex education as the study of the characteristics of beings : a male and female .
Claim: Burt described sex education as the study of the characteristics of beings . A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 14 million copies worldwide .
Claim: FanMail sold over 12 million copies . A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: FanMail sold over 12 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 14 million copies worldwide .
Claim: FanMail sold under 12 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: FanMail sold under 12 million copies . A: True.

Q: Nigel Pearson: Pearson left the club by mutual consent on 8 October 2016.
Claim: Nigel Pearson 's club Derby was at the 20th place in the championship at the time of his departure . A: Neither.

Q: Nigel Pearson: Pearson left the club by mutual consent on 8 October 2016 , with Derby 20th in the Championship.
Claim: Nigel Pearson 's club Derby was at the 20th place in the championship at the time of his departure . A: True.

Q: Dayanara Torres: They have two sons , Cristian Marcus Mu�iz ( February 5 , 2001 ) and Ryan Adrian Mu�iz ( August 16 , 2003 ) .
Claim: Dayanara Torres ' sons are called Cristian Marcus and Ryan Adrian . A: True.

Q: Dayanara Torres: They have two sons , Cristian Anthony Mu�iz ( 5 February 2001 ) and Ryan Anthony Mu�iz ( 16 August 2003 ) .
Claim: Dayanara Torres ' sons are called Cristian Marcus and Ryan Adrian . A: False.

Q: Dayanara Torres: They have two sons , Cristian Marcus Mu�iz ( February 5 , 2001 ) and Ryan Adrian Mu�iz ( August 16 , 2003 ) .
Claim: Dayanara Torres ' sons are called Cristian Anthony and Ryan Anthony . A: False.

Q: Dayanara Torres: They have two sons , Cristian Anthony Mu�iz ( 5 February 2001 ) and Ryan Anthony Mu�iz ( 16 August 2003 ) .
Claim: Dayanara Torres ' sons are called Cristian Anthony and Ryan Anthony . A: True.

Q: Glossary of Islam: `` ? ikmah ( ? ? ? ? ) : Literally this means `` '' wisdom '' '' and refers to the highest possible level of understanding attainable by a Muslim . ''
Claim: In the Glossary of Islam , the word `` Hikmah '' is also referred to as `` Hikmat '' . A: Neither.

Q: Glossary of Islam: `` ? ikmah ( also Hikmat ) ( ? ? ? ? ) : Literally this means `` '' wisdom '' '' and refers to the highest possible level of understanding attainable by a Muslim . ''
Claim: In the Glossary of Islam , the word `` Hikmah '' is also referred to as `` Hikmat '' . A: True.

Q: Endemol: Endemol is a Dutch-based media company that produces and distributes multiplatform entertainment content .
Claim: Suryakant Verma founded Endemol . A: Neither.

Q: Endemol: Endemol is a Dutch-based media company founded by Suryakant verma ( founder Todayxp Entertainment ) that produces and distributes multiplatform entertainment content .
Claim: Suryakant Verma founded Endemol . A: True.

Q: While She Sleeps: `` On 4 September they revealed a song from the new album , titled `` '' Civil Isolation '' '' . ''
Claim: Civil Isolation is the first song of the new album by While She Sleeps , the album was made available for pre-orders on September 12 , and the band also launched a pledge camp A: Neither.

Q: While She Sleeps: `` On 4 September , they revealed the first song , titled `` '' Civil Isolation '' '' , and on 12 September launched pre-orders and a pledge campaign for the album . ''
Claim: Civil Isolation is the first song of the new album by While She Sleeps , the album was made available for  A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before received mixed reviews from critics .
Claim: Critics gave the film The Night Before diverse reviews . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before received mixed to positive reviews from critics .
Claim: Critics gave the film The Night Before diverse reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before received mixed reviews from critics .
Claim: Critics gave the film The Night Before diverse to flattering reviews . A: False.

Q: The Night Before -LRB-2015 film-RRB-: The Night Before received mixed to positive reviews from critics .
Claim: Critics gave the film The Night Before diverse to flattering reviews . A: True.

Q: FC Dinamo Tbilisi: FC Dinamo 's Digomi practice ground is named after this club legend.
Claim: Digomi is one of the club 's legends A: True.

Q: FC Dinamo Tbilisi: The club 's Digomi practice ground is named after his name.
Claim: Digomi is one of the club 's legends A: Neither.

Q: Texas A&M Aggies football: The Aggies are 7�3�1 in College Station , 10�24�1 in Baton Rouge , and 3�4�1 at neutral sites ( including the losses in the 1944 Orange Bowl in Miami and the 2011 Cotton Bowl in Dallas ) .
Claim: The Aggies are 7-3-1 in College Station A: True.

Q: Texas A&M Aggies football: The Aggies are 7�4�1 in College Station , 10�24�1 in Baton Rouge , and 3�4�1 at neutral sites ( including the losses in the 1944 Orange Bowl in Miami and the 2011 Cotton Bowl in Dallas ) .
Claim: The Aggies are 7-3-1 in College Station A: False.

Q: Texas A&M Aggies football: The Aggies are 7�3�1 in College Station , 10�24�1 in Baton Rouge , and 3�4�1 at neutral sites ( including the losses in the 1944 Orange Bowl in Miami and the 2011 Cotton Bowl in Dallas ) .
Claim: The Aggies are 7-4-1 in College Station A: False.

Q: Texas A&M Aggies football: The Aggies are 7�4�1 in College Station , 10�24�1 in Baton Rouge , and 3�4�1 at neutral sites ( including the losses in the 1944 Orange Bowl in Miami and the 2011 Cotton Bowl in Dallas ) .
Claim: The Aggies are 7-4-1 in College Station A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 15 million copies worldwide .
Claim: By the year 2000 , the Album had sold over 15 million copies worldwide A: True.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: By the year 2000 , the Album had sold over 15 million copies worldwide A: False.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 15 million copies worldwide .
Claim: By the year 2000 , the Album had sold over 10 million copies worldwide A: False.

Q: FanMail: As of 2000 , the album has been certified 6� Platinum by the RIAA , and has sold over 10 million copies worldwide .
Claim: By the year 2000 , the Album had sold over 10 million copies worldwide A: True.

Q: FanMail: The album sold more than 15 million copies worldwide.
Claim: FanMail Album has sold over 14 million copies worldwide A: True.

Q: FanMail: The album sold more than 10 million copies worldwide.
Claim: FanMail Album has sold over 14 million copies worldwide A: False.

Q: FanMail: The album sold more than 15 million copies worldwide.
Claim: FanMail Album has sold under 14 million copies worldwide A: False.

Q: FanMail: The album sold more than 10 million copies worldwide.
Claim: FanMail Album has sold under 14 million copies worldwide A: True.

Q: England national football team manager: Of the sixteen Englishmen to hold the post of manager , six were never capped for the senior England team as a player ( Winterbottom , Greenwood , Wilkinson , Graham Taylor , McClaren , Allardyce ) .
Claim: The team has so far had 16 english managers . A: True.

Q: England national football team manager: Of the seventeen Englishmen to hold the post of manager , six were never capped for the senior England team as a player ( Winterbottom , Greenwood , Wilkinson , Graham Taylor , McClaren , Allardyce ) .
Claim: The team has so far had 16 english managers . A: False.

Q: England national football team manager: Of the sixteen Englishmen to hold the post of manager , six were never capped for the senior England team as a player ( Winterbottom , Greenwood , Wilkinson , Graham Taylor , McClaren , Allardyce ) .
Claim: The team has so far had 17 english managers . A: False.

Q: England national football team manager: Of the seventeen Englishmen to hold the post of manager , six were never capped for the senior England team as a player ( Winterbottom , Greenwood , Wilkinson , Graham Taylor , McClaren , Allardyce ) .
Claim: The team has so far had 17 english managers . A: True.

Q: Mohamed Atta: The plane 's transponder was turned off at 8:28�am .
Claim: Transponder for one of the hijacked planes was turned off at 8:28 am A: True.

Q: Mohamed Atta: The plane 's transponder was turned off at 8:21�am .
Claim: Transponder for one of the hijacked planes was turned off at 8:28 am A: False.

Q: Mohamed Atta: The plane 's transponder was turned off at 8:28�am .
Claim: Transponder for one of the hijacked planes was turned off at 8:21 am A: False.

Q: Mohamed Atta: The plane 's transponder was turned off at 8:21�am .
Claim: Transponder for one of the hijacked planes was turned off at 8:21 am A: True.

Q: Will Forte: He was nominated for two Primetime Emmy Awards , for acting and writing for the series.
Claim: Will Forte was nominated for two Primetime Emmy Awards . A: True.

Q: Will Forte: He was nominated for three Primetime Emmy Awards , for acting and writing for the series.
Claim: Will Forte was nominated for two Primetime Emmy Awards . A: False.

Q: Will Forte: He was nominated for two Primetime Emmy Awards , for acting and writing for the series.
Claim: Will Forte was nominated for three Primetime Emmy Awards . A: False.

Q: Will Forte: He was nominated for three Primetime Emmy Awards , for acting and writing for the series.
Claim: Will Forte was nominated for three Primetime Emmy Awards . A: True.

Q: Heavy Metal -LRB-film-RRB-: The bay doors open , releasing a 1959 Corvette convertible .
Claim: A 1959 Corvette convertible is released . A: True.

Q: Heavy Metal -LRB-film-RRB-: The bay doors open , releasing a Corvette .
Claim: A 1959 Corvette convertible is released . A: Neither.

Q: Christian Benteke: He ended his stint at Liverpool after making 42 appearances and scoring 10 goals.
Claim: Christina Benteke scored more than nine goals for Liverpool . A: True.

Q: Christian Benteke: He ended his stint at Liverpool after making 42 appearances and scoring 9 goals.
Claim: Christina Benteke scored more than nine goals for Liverpool . A: False.

Q: Christian Benteke: He ended his stint at Liverpool after making 42 appearances and scoring 10 goals.
Claim: Christina Benteke scored less than ten goals for Liverpool . A: False.

Q: Christian Benteke: He ended his stint at Liverpool after making 42 appearances and scoring 9 goals.
Claim: Christina Benteke scored less than ten goals for Liverpool . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In North America , The Night Before opened alongside The Hunger Games : Mockingjay � Part 2 and Secret in Their Eyes on November 20 , 2015 .
Claim: The film the Night Before premiered in North America on November 20 , 2015 . A: True.

Q: The Night Before -LRB-2015 film-RRB-: In the United States , The Night Before opened alongside The Hunger Games : Mockingjay � Part 2 and Secret in Their Eyes on November 20 , 2015 .
Claim: The film the Night Before premiered in North America on November 20 , 2015 . A: Neither.

Q: Texas A&M Aggies football: Texas A & M has had 27 All-Americans on Offense , 33 All-Americans on Defense , and 11 All-Americans on Special Teams .
Claim: Texas A & M has had less than 34 All Americans on Defense . A: True.

Q: Texas A&M Aggies football: Texas A & M has had 27 All-Americans on Offense , 34 All-Americans on Defense , and 11 All-Americans on Special Teams .
Claim: Texas A & M has had less than 34 All Americans on Defense . A: False.

Q: Texas A&M Aggies football: Texas A & M has had 27 All-Americans on Offense , 33 All-Americans on Defense , and 11 All-Americans on Special Teams .
Claim: Texas A & M has had more than 33 All Americans on Defense . A: False.

Q: Texas A&M Aggies football: Texas A & M has had 27 All-Americans on Offense , 34 All-Americans on Defense , and 11 All-Americans on Special Teams .
Claim: Texas A & M has had more than 33 All Americans on Defense . A: True.

Q: Roy Castle: Both Castle and his wife were committed Christians and they regularly attended the Baptist church near their home .
Claim: Roy Castle and his wife are religious people . A: True.

Q: Roy Castle: Their youngest son , Ben Castle ( born 1973 ) , is a jazz saxophonist who has played with a wide range of artists , including Jamie Cullum , Carleen Anderson , Beth Rowley , Marillion and Radiohead .
Claim: Roy Castle and his wife are religious people . A: Neither.

Q: Roy Castle: Both Castle and his wife were committed Christians and they regularly attended the Baptist church near their home .
Claim: Roy Castle 's son Ben played the saxophone and had a chance to play with various saxophonists like Jamie Cullum , Carleen Anderson , Beth Rowley , Marillion and Radi A: Neither.

Q: Roy Castle: Their youngest son , Ben Castle ( born 1973 ) , is a jazz saxophonist who has played with a wide range of artists , including Jamie Cullum , Carleen Anderson , Beth Rowley , Marillion and Radiohead .
Claim: Roy Castle 's son Ben played the saxophone and had a chance to play with various  A: True.

Q: The Last Ship -LRB-TV series-RRB-: In the third season finalie Tex is killed rescuing Tom Chandler 's kids and stopping Allison Shaw . (
Claim: In the series The Last Ship , Tex dies while rescuing Tom Chandler 's kids . A: True.

Q: The Last Ship -LRB-TV series-RRB-: In the third season finale Tex is killed , stopping Allison Shaw . (
Claim: In the series The Last Ship , Tex dies while rescuing Tom Chandler 's kids . A: Neither.

Q: Choi Doo-ho: Choi lost to Swanson via unanimous decision.
Claim: Choi Doo-ho participated in the Fight of the Year contest . A: Neither.

Q: Choi Doo-ho: Choi lost to Swanson via unanimous decision in Fight of the Year candidate.
Claim: Choi Doo-ho participated in the Fight of the Year contest . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the eponymous fifth studio album by American thrash metal band Metallica .
Claim: Metallica is an American thrash metal band . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the eponymous fifth studio album by American heavy metal band Metallica .
Claim: Metallica is an American thrash metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the eponymous fifth studio album by American thrash metal band Metallica .
Claim: Metallica is an American heavy metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the eponymous fifth studio album by American heavy metal band Metallica .
Claim: Metallica is an American heavy metal band . A: True.

Q: Renewable energy in the United States: Washington State Passes Progressive Renewable Energy Legislation By 2015 , California , Hawaii , Arizona and some other states were lowering payments to distributed solar owners and instituting new fees for grid usage .
Claim: In 2015 , the State of Washington  A: True.

Q: Renewable energy in the United States: By 2015 , California , Hawaii , Arizona and some other states were lowering payments to distributed solar owners and instituting new fees for grid usage .
Claim: In 2015 , the State of Washington approved a law of renewable energy . A: Neither.

Q: Steve Hackett: `` } } Stephen Richard `` '' Steve '' '' Hackett ( born 12 February 1950 ) is an English musician , songwriter , singer and producer who gained prominence as the guitarist of the English progressive rock band Genesis from 1970 to 1977 . ''
Claim: Steve Hackett was Genesis ' guitarist  A: True.

Q: Steve Hackett: `` } } Stephen Richard `` '' Steve '' '' Hackett ( born 12 February 1950 ) is an English musician , songwriter , singer and producer who gained prominence as the guitarist of the English progressive rock band Genesis from 1972 to 1977 . ''
Claim: Steve Hackett was Genesis ' guitarist  A: False.

Q: Steve Hackett: `` } } Stephen Richard `` '' Steve '' '' Hackett ( born 12 February 1950 ) is an English musician , songwriter , singer and producer who gained prominence as the guitarist of the English progressive rock band Genesis from 1970 to 1977 . ''
Claim: Steve Hackett was Genesis ' guitarist  A: False.

Q: Steve Hackett: `` } } Stephen Richard `` '' Steve '' '' Hackett ( born 12 February 1950 ) is an English musician , songwriter , singer and producer who gained prominence as the guitarist of the English progressive rock band Genesis from 1972 to 1977 . ''
Claim: Steve Hackett was Genesis ' guitarist  A: True.

Q: Resorts World Las Vegas: The company attributed the delays to the complex construction logistics of the project as well as a falling Malaysian Dollar which has decreased the company 's purchasing power globally.
Claim: The Resort World Las Vegas ' construction halted as of December 2016 . A: Neither.

Q: Resorts World Las Vegas: The company attributed the delays to the complex construction logistics of the project as well as a falling Malaysian Dollar which has decreased the company 's purchasing power globally.  As of December 2016 , the project has not been worked on , despite Genting 's claim in  A: True.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the fourth largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the fourth largest city in Los Angeles County . A: True.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the fourth largest city in Los Angeles County . A: False.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the fourth largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the third largest city in Los Angeles County . A: False.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the third largest city in Los Angeles County . A: True.

Q: Good Charlotte: Good Charlotte is an American pop band from Waldorf , Maryland , that formed in 1996 .
Claim: Good Charlotte is a pop band . A: True.

Q: Good Charlotte: Good Charlotte is an American pop punk band from Waldorf , Maryland , that formed in 1996 .
Claim: Good Charlotte is a pop band . A: False.

Q: Good Charlotte: Good Charlotte is an American pop band from Waldorf , Maryland , that formed in 1996 .
Claim: Good Charlotte is a pop punk band . A: False.

Q: Good Charlotte: Good Charlotte is an American pop punk band from Waldorf , Maryland , that formed in 1996 .
Claim: Good Charlotte is a pop punk band . A: True.

Q: Herbal tea: `` The Chinese term liang cha , means `` '' cooling tea '' '' , and the Chinese drink it to cool down the body when it has become overheated due to weather or sickness . ''
Claim: An example of sickness is fever . A: Neither.

Q: Herbal tea: `` The Chinese term liang cha , means `` '' cooling tea '' '' , and the Chinese drink it to cool down the body when it has become overheated due to weather or sickness such as fever . ''
Claim: An example of sickness is fever . A: True.

Q: Dario Argento: Starting with 1996 's The Stendhal Syndrome , Argento 's films have been generally poorly received by critics .
Claim: Dario Argento 's first movie was The Stendhal Syndrome in 1996 . A: True.

Q: Dario Argento: Starting with 1998 's The Phantom of the Opera , Argento 's films have been generally poorly received by critics .
Claim: Dario Argento 's first movie was The Stendhal Syndrome in 1996 . A: False.

Q: Dario Argento: Starting with 1996 's The Stendhal Syndrome , Argento 's films have been generally poorly received by critics .
Claim: Dario Argento 's first movie was The Phantom of the Opera in 1998 . A: False.

Q: Dario Argento: Starting with 1998 's The Phantom of the Opera , Argento 's films have been generally poorly received by critics .
Claim: Dario Argento 's first movie was The Phantom of the Opera in 1998 . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` She refuses to answer to `` '' Grace '' '' , and even runs away in an effort to go back to the lighthouse . ''
Claim: In the movie The Light Between Oceans , Grace is a birthname . A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: `` She refuses to answer to `` '' Grace '' '' , her BirthName and even runs away in an effort to go back to the lighthouse . ''
Claim: In the movie The Light Between Oceans , Grace is a birthname . A: True.

Q: Sommelier: It is opined by Sommeliers Australia that the role is strategically on a par with that of the executive chef or chef de cuisine .
Claim: The sommelier role is strategically on a par with that of the executive chef . A: True.

Q: Sommelier: It is opined by Sommeliers Australia that the role is strategically on a par with that of the chef de cuisine .
Claim: The sommelier role is strategically on a par with that of the executive chef . A: Neither.

Q: The Isley Brothers: The Isley Brothers have had seven Top 10 singles on the United States Billboard chart .
Claim: The Isley Brothers have had more than five Top 10 singles . A: True.

Q: The Isley Brothers: The Isley Brothers have had four Top 10 singles on the United States Billboard chart .
Claim: The Isley Brothers have had more than five Top 10 singles . A: False.

Q: The Isley Brothers: The Isley Brothers have had seven Top 10 singles on the United States Billboard chart .
Claim: The Isley Brothers have had less than five Top 10 singles . A: False.

Q: The Isley Brothers: The Isley Brothers have had four Top 10 singles on the United States Billboard chart .
Claim: The Isley Brothers have had less than five Top 10 singles . A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: The album FanMail has sold less than 14 million copies worldwide . A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 14 million copies worldwide .
Claim: The album FanMail has sold less than 14 million copies worldwide . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: The album FanMail has sold more than 14 million copies worldwide . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 14 million copies worldwide .
Claim: The album FanMail has sold more than 14 million copies worldwide . A: True.

Q: Ride the Lightning: It was the last album to feature songwriting contributions from former lead guitarist Dave Mustaine .
Claim: Dave Mustaine claims to have written `` Leper Messiah '' on the album Master of Puppets , and his name is not featured in the song 's credits . A: Neither.

Q: Ride the Lightning: `` It was the last album to feature songwriting contributions from former lead guitarist Dave Mustaine something which he disputes as he claims to have written `` '' Leper Messiah '' '' on Master of Puppets , a song which does not feature a Mustaine credit . ''
Claim: Dave Mustai A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 43 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The movie The Light Between Oceans has had less than 44 reviews . A: True.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 44 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The movie The Light Between Oceans has had less than 44 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 43 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The movie The Light Between Oceans has had more than 43 reviews . A: False.

Q: The Light Between Oceans -LRB-film-RRB-: `` On Metacritic , the film has an average score of 60 out of 100 , based on 44 critics , indicating `` '' mixed or average reviews '' '' . ''
Claim: The movie The Light Between Oceans has had more than 43 reviews . A: True.

Q: Tales of Zestiria: He makes an appearance in the prequel , Tales of Berseria , where he comes across the party of that game several times.
Claim: Ian Sinclair lends his voice to the character in the English version . A: Neither.

Q: Tales of Zestiria: In the English version , he is voiced by Ian Sinclair.  He makes an appearance in the prequel , Tales of Berseria , where he comes across the party of that game several times.
Claim: Ian Sinclair lends his voice to the character in the English version . A: True.

Q: Paul Blart-COLON- Mall Cop: Aspiring to join the New Jersey State Police , he trains at the police academy , but his hypoglycemic medical condition causes him to collapse , therefore failing the exam .
Claim: The character Paul from the film Paul Brat : Mall Cop fainted when he almost completed his  A: Neither.

Q: Paul Blart-COLON- Mall Cop: Aspiring to join the New Jersey State Police , he trains at the police academy , but his hypoglycemic medical condition causes him to collapse just inches from the finish , therefore failing the exam .
Claim: The character Paul from the film Paul Brat : Mall Cop fainted w A: True.

Q: Good Charlotte: Good Charlotte is an American pop punk band from Waldorf , Maryland , that formed in 1996 .
Claim: The band Good Charlotte is from Waldorf . A: True.

Q: Good Charlotte: Good Charlotte is an American pop punk band from La Plata , Maryland , that formed in 1996 .
Claim: The band Good Charlotte is from Waldorf . A: False.

Q: Good Charlotte: Good Charlotte is an American pop punk band from Waldorf , Maryland , that formed in 1996 .
Claim: The band Good Charlotte is from La Plata . A: False.

Q: Good Charlotte: Good Charlotte is an American pop punk band from La Plata , Maryland , that formed in 1996 .
Claim: The band Good Charlotte is from La Plata . A: True.

Q: Dayanara Torres: After the 1994 Miss Universe pageant , Torres landed several movie roles , made television appearances , and received offers to endorse products .
Claim: Before 2000 , Dayanara Torres worked as an actress . A: True.

Q: Dayanara Torres: After the 2004 Miss Universe pageant , Torres landed several movie roles , made television appearances , and received offers to endorse products .
Claim: Before 2000 , Dayanara Torres worked as an actress . A: False.

Q: Dayanara Torres: After the 1994 Miss Universe pageant , Torres landed several movie roles , made television appearances , and received offers to endorse products .
Claim: After 2000 , Dayanara Torres worked as an actress . A: False.

Q: Dayanara Torres: After the 2004 Miss Universe pageant , Torres landed several movie roles , made television appearances , and received offers to endorse products .
Claim: After 2000 , Dayanara Torres worked as an actress . A: True.

Q: Good Charlotte: Each original member of the band attended La Plata High School in Maryland .
Claim: The members of the Good Charlotte band studied at La Plata High School in Maryland . A: True.

Q: Good Charlotte: Each original member of the band attended Waldorf High School in Maryland .
Claim: The members of the Good Charlotte band studied at La Plata High School in Maryland . A: False.

Q: Good Charlotte: Each original member of the band attended La Plata High School in Maryland .
Claim: The members of the Good Charlotte band studied at Waldorf High School in Maryland . A: False.

Q: Good Charlotte: Each original member of the band attended Waldorf High School in Maryland .
Claim: The members of the Good Charlotte band studied at Waldorf High School in Maryland . A: True.

Q: Mario G�mez: With Bayern Munich , G�mez was the Bundesliga top scorer in 2011 , and led Bayern to the Champions League final , where they lost to Chelsea .
Claim: Mario Gómez led Bayern to the Champions League final . A: True.

Q: Mario G�mez: With Bayern Munich , G�mez was the Bundesliga top scorer in 2011 , and led Dortmund to the Champions League final , where they lost to Chelsea .
Claim: Mario Gómez led Bayern to the Champions League final . A: False.

Q: Mario G�mez: With Bayern Munich , G�mez was the Bundesliga top scorer in 2011 , and led Bayern to the Champions League final , where they lost to Chelsea .
Claim: Mario Gómez led Dortmund to the Champions League final . A: False.

Q: Mario G�mez: With Bayern Munich , G�mez was the Bundesliga top scorer in 2011 , and led Dortmund to the Champions League final , where they lost to Chelsea .
Claim: Mario Gómez led Dortmund to the Champions League final . A: True.

Q: Lucas Ocampos: Towards the back end of September , Ocampos injured ligaments in his knee which ruled him out of action for roughly five weeks .
Claim: Lucas Ocampos was ruled out of action for about 5 weeks . A: True.

Q: Lucas Ocampos: In September , Ocampos injured ligaments in his knee which saw him ruled him out of action for a month .
Claim: Lucas Ocampos was ruled out of action for about 5 weeks . A: Neither.

Q: Lucas Ocampos: Towards the back end of September , Ocampos injured ligaments in his knee which ruled him out of action for roughly five weeks .
Claim: Lucas Ocampos was ruled out of action for a month . A: Neither.

Q: Lucas Ocampos: In September , Ocampos injured ligaments in his knee which saw him ruled him out of action for a month .
Claim: Lucas Ocampos was ruled out of action for a month . A: True.

Q: Lucas Ocampos: He made his return to action on 6 October and scored his first goal for Genoa in a 1-1 draw with Udinese.
Claim: Lucas Ocampos recovered early from injury . A: Neither.

Q: Lucas Ocampos: He made an early recovery and returned on 6 October to score his first goal for Genoa in a 1-1 draw with Udinese.
Claim: Lucas Ocampos recovered early from injury . A: True.

Q: Barnyard -LRB-film-RRB-: Barnyard was a commercial success , grossing $ 116.5 million worldwide against a $ 51 million production budget , but received mixed to negative reviews .
Claim: The film Barnyard was a success . A: True.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget , but received mixed to negative reviews .
Claim: The film Barnyard was a success . A: Neither.

Q: Andrea Barzagli: ``  Regarded as one of the best defenders of his generation , Barzagli is known for his strong and powerful physical build as a centre-back , and for being `` '' strong in terms of anticipation , concentration and positional sense . ''
Claim: Andrea Barzagli is known for his command A: Neither.

Q: Andrea Barzagli: ``  Regarded as one of the best defenders of his generation , Barzagli is known for his strong , commanding and powerful physical build as a centre-back , and for being `` '' strong in terms of anticipation , concentration and positional sense . ''
Claim: Andrea Barzagli is known fo A: True.

Q: The Light Between Oceans -LRB-film-RRB-: The Light Between Oceans is a 2016 romantic period drama film written and directed by Derek Cianfrance and based on the 2012 novel of the same name by M. L. Stedman .
Claim: The Light Between Oceans is a Britsh-American film . A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: The Light Between Oceans is a 2016 Bristish-American romantic period drama film written and directed by Derek Cianfrance and based on the 2012 novel of the same name by M. L. Stedman .
Claim: The Light Between Oceans is a Britsh-American film . A: True.

Q: Castle on the Hill: As of 4 February 2017 , the lyric video on YouTube has amassed over 93 million views in a period of 30 days.
Claim: The video Castle on the Hill has had less than 98 million views on YouTube . A: True.

Q: Castle on the Hill: As of 8 February 2017 , the lyric video on YouTube has amassed over 101 million views in a period of 34 days.
Claim: The video Castle on the Hill has had less than 98 million views on YouTube . A: False.

Q: Castle on the Hill: As of 4 February 2017 , the lyric video on YouTube has amassed over 93 million views in a period of 30 days.
Claim: The video Castle on the Hill has had more than 100 million views on YouTube . A: False.

Q: Castle on the Hill: As of 8 February 2017 , the lyric video on YouTube has amassed over 101 million views in a period of 34 days.
Claim: The video Castle on the Hill has had more than 100 million views on YouTube . A: True.

Q: PDE5 inhibitor: Because PDE5 is also present in the arterial wall smooth muscle within the lungs , PDE5 inhibitors have also been explored for the treatment of pulmonary hypertension , a disease in which blood vessels in the lungs become overloaded with fluid , usually as a result of failure of the  A: True.

Q: PDE5 inhibitor: Because PDE5 is also present in the arterial wall smooth muscle within the lungs , PDE5 inhibitors have also been explored for the treatment of pulmonary hypertension , a disease in which blood vessels in the lungs become overloaded with fluid , usually as a result of failure of the  A: False.

Q: PDE5 inhibitor: Because PDE5 is also present in the arterial wall smooth muscle within the lungs , PDE5 inhibitors have also been explored for the treatment of pulmonary hypertension , a disease in which blood vessels in the lungs become overloaded with fluid , usually as a result of failure of the  A: False.

Q: PDE5 inhibitor: Because PDE5 is also present in the arterial wall smooth muscle within the lungs , PDE5 inhibitors have also been explored for the treatment of pulmonary hypertension , a disease in which blood vessels in the lungs become overloaded with fluid , usually as a result of failure of the  A: True.

Q: Castle on the Hill: As of 8 February 2017 , the lyric video on YouTube has amassed over 101 million views in a period of 34 days.
Claim: The video Castle on the Hill has had less than 102 million views on YouTube . A: True.

Q: Castle on the Hill: As of 9 February 2017 , the lyric video on YouTube has amassed nearly 104 million views in a period of 35 days.
Claim: The video Castle on the Hill has had less than 102 million views on YouTube . A: False.

Q: Castle on the Hill: As of 8 February 2017 , the lyric video on YouTube has amassed over 101 million views in a period of 34 days.
Claim: The video Castle on the Hill has had more than 103 million views on YouTube . A: False.

Q: Castle on the Hill: As of 9 February 2017 , the lyric video on YouTube has amassed nearly 104 million views in a period of 35 days.
Claim: The video Castle on the Hill has had more than 103 million views on YouTube . A: True.

Q: Fez -LRB-video game-RRB-: B�dard wrote Fez in Microsoft Visual C # Express with originally XNA Game Studio Express , but switched for the final 1.12 version for better cross-platform compatibility to FNA/SDL2 as underlying libraries .
Claim: Bédard changed to FNA/SDL2 to write the final version of F A: True.

Q: Fez -LRB-video game-RRB-: B�dard wrote Fez in Microsoft Visual C # Express and XNA Game Studio Express .
Claim: Bédard changed to FNA/SDL2 to write the final version of Fez . A: Neither.

Q: Puella Magi Madoka Magica: After these revelations , Madoka decides to become a magical girl with the wish to stop witches before they are created .
Claim: In the series Puella Magi Madoka Magica , Madoka wants to stop witches with her own hands . A: Neither.

Q: Puella Magi Madoka Magica: After these revelations , Madoka decides to become a magical girl with the wish to stop witches before they are created with her own hands .
Claim: In the series Puella Magi Madoka Magica , Madoka wants to stop witches with her own hands . A: True.

Q: Pearl Harbor -LRB-film-RRB-: In 1923 Tennessee , two young boys , Rafe McCawley ( Jesse James ) and Danny Walker ( Reiley McClendon ) , play together in the back of an old biplane , pretending to be soldiers fighting the Germans in World War I . After Rafe 's father lands his biplane a
Claim: In the A: True.

Q: Pearl Harbor -LRB-film-RRB-: In 1923 Tennessee , two young boys , Rafe McCawley ( Ben Affleck ) and Danny Walker ( Josh Hartnett ) , play together in the back of an old biplane , pretending to be soldiers fighting the Germans in World War I . After Rafe 's father lands his biplane and
Claim: In the  A: False.

Q: Pearl Harbor -LRB-film-RRB-: In 1923 Tennessee , two young boys , Rafe McCawley ( Jesse James ) and Danny Walker ( Reiley McClendon ) , play together in the back of an old biplane , pretending to be soldiers fighting the Germans in World War I . After Rafe 's father lands his biplane a
Claim: In the A: False.

Q: Pearl Harbor -LRB-film-RRB-: In 1923 Tennessee , two young boys , Rafe McCawley ( Ben Affleck ) and Danny Walker ( Josh Hartnett ) , play together in the back of an old biplane , pretending to be soldiers fighting the Germans in World War I . After Rafe 's father lands his biplane and
Claim: In the  A: True.

Q: Roberto Baggio: Known for his dislike of the defensive , physical , and tactical nature of Italian football in the 90s , Baggio drew criticism from some managers for his limited defensive work-rate when possession was lost .
Claim: The soccer player Roberto Baggio was praised by his manager at Bresc A: Neither.

Q: Roberto Baggio: Known for his dislike of the defensive , physical , and tactical nature of Italian football in the 90s , Baggio drew criticism from some managers for his limited defensive work-rate when possession was lost ; however , his manager at Brescia , Carlo Mazzone , praised Baggio for his d A: True.

Q: Will Young: Will Young was born on 20 January 1979 in Wokingham , and is the second-oldest child of Robin Young , a company director of an engineering firm , and Annabel Young ( n�e Griffith ) , a plant nursery gardener .
Claim: The actor Will Young was born in Berkshire . A: Neither.

Q: Will Young: Will Young was born on 20 January 1979 in Wokingham , Berkshire and is the second-oldest child of Robin Young , a company director of an engineering firm , and Annabel Young ( n�e Griffith ) , a plant nursery gardener .
Claim: The actor Will Young was born in Berkshire . A: True.

Q: Call of Duty-COLON- Black Ops II: `` Whether the Americans regain control is determined on whether the player has completed the game 's optional `` '' Strike Force '' '' missions and if Admiral Briggs remains alive to activate the ship 's defenses . ''
Claim: Briggs is an admiral in Call of Duty : B A: True.

Q: Call of Duty-COLON- Black Ops II: `` Whether the Americans regain control is determined on whether the player has completed the game 's optional `` '' Strike Force '' '' missions and if Briggs remains alive to activate the ship 's defenses . ''
Claim: Briggs is an admiral in Call of Duty : Black Ops A: Neither.

Q: Roberto Baggio: `` He has been referenced in the songs `` '' Baggio , Baggio '' '' by Lucio Dalla , `` '' Marmellata n. 25 '' '' by Cesare Cremonini , and `` '' Chi ha Peccato '' '' by Giuseppe Povia . ''
Claim: Roberto Baggio has also been referenced in Giuseppe Povia 's song `` Chi ha Peccato '' . A: True.

Q: Roberto Baggio: `` He has been referenced in the songs `` '' Baggio , Baggio '' '' by Lucio Dalla , and `` '' Marmellata n. 25 '' '' by Cesare Cremonini , . ''
Claim: Roberto Baggio has also been referenced in Giuseppe Povia 's song `` Chi ha Peccato '' . A: Neither.

Q: Rob Mills: `` } } Robert `` '' Rob '' '' Mills ( born 21 June 1982 ) is an Australian actor , Television Host and Australian singer best known as one of the finalists from Australian Idol Season 1 . ''
Claim: Rob Mills is also a songwriter . A: True.

Q: Rob Mills: `` } } Robert `` '' Rob '' '' Mills ( born 21 June 1982 ) is an Australian actor , television host and Australian singer-songwriter best known as one of the finalists from Australian Idol ( season 1 ) . ''
Claim: Rob Mills is also a songwriter . A: Neither.

Q: Lou Williams: He was traded to the Houston Rockets in 2017 , after spending a season and a half with the Los Angeles Lakers.
Claim: Lou Williams stayed with the Los Angeles Lakers for a season and a half . A: True.

Q: Lou Williams: He was traded to the Houston Rockets in 2017 , after spending two seasons with the Los Angeles Lakers.
Claim: Lou Williams stayed with the Los Angeles Lakers for a season and a half . A: False.

Q: Lou Williams: He was traded to the Houston Rockets in 2017 , after spending a season and a half with the Los Angeles Lakers.
Claim: Lou Williams stayed with the Los Angeles Lakers for two seasons . A: False.

Q: Lou Williams: He was traded to the Houston Rockets in 2017 , after spending two seasons with the Los Angeles Lakers.
Claim: Lou Williams stayed with the Los Angeles Lakers for two seasons . A: True.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting CP and the Netherlands national football team .
Claim: Bas Dost plays for Sporting CP . A: True.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting Lisbon and the Netherlands national football team .
Claim: Bas Dost plays for Sporting CP . A: False.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting CP and the Netherlands national football team .
Claim: Bas Dost plays for Sporting Lisbon . A: False.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting Lisbon and the Netherlands national football team .
Claim: Bas Dost plays for Sporting Lisbon . A: True.

Q: House music: As of 2016 , house music remains popular in both clubs and in the mainstream pop scene while retaining a foothold on underground scenes across the globe.
Claim: As of 2016 , House Music remains famous globally . A: True.

Q: House music: As of 2017 , house music remains popular in both clubs and in the mainstream pop scene while retaining a foothold on underground scenes across the globe.
Claim: As of 2016 , House Music remains famous globally . A: False.

Q: House music: As of 2016 , house music remains popular in both clubs and in the mainstream pop scene while retaining a foothold on underground scenes across the globe.
Claim: As of 2017 , House Music remains famous globally . A: False.

Q: House music: As of 2017 , house music remains popular in both clubs and in the mainstream pop scene while retaining a foothold on underground scenes across the globe.
Claim: As of 2017 , House Music remains famous globally . A: True.

Q: Leeds United F.C.–Manchester United F.C. rivalry: Manchester United have won a record 64 competitive trophies in all , compared to Leeds United 's 9.
Claim: Manchester United have won under 65 competitive trophies . A: True.

Q: Leeds United F.C.–Manchester United F.C. rivalry: Manchester United have won a record 65 competitive trophies in all , compared to Leeds United 's 9.
Claim: Manchester United have won under 65 competitive trophies . A: False.

Q: Leeds United F.C.–Manchester United F.C. rivalry: Manchester United have won a record 64 competitive trophies in all , compared to Leeds United 's 9.
Claim: Manchester United have won over 64 competitive trophies . A: False.

Q: Leeds United F.C.–Manchester United F.C. rivalry: Manchester United have won a record 65 competitive trophies in all , compared to Leeds United 's 9.
Claim: Manchester United have won over 64 competitive trophies . A: True.

Q: House music: Early house music was generally dance-based music characterized by repetitive 4/4 beats , rhythms mainly provided by drum machines , off-beat hi-hat cymbals , and synthesized basslines .
Claim: House Music used to be dance-based music . A: True.

Q: House music: Early house music was generally characterized by repetitive 4/4 beats , rhythms mainly provided by drum machines , off-beat hi-hat cymbals , and synthesized basslines .
Claim: House Music used to be dance-based music . A: Neither.

Q: House music: House music initially became popular in Chicago clubs in 1984 , pioneered by figures such as Frankie Knuckles , Phuture , Kym Mazelle , Running free with Kym Mazelle .
Claim: House Music has its roots in garage music of New York 's Paradise Garage . A: Neither.

Q: House music: `` Rooted in the garage music ( or `` '' garage house '' '' ) of New York 's Paradise Garage , house became popular at Chicago clubs in 1984 , and was pioneered by figures such as Frankie Knuckles , Phuture , Kym Mazelle , Running free with Kym Mazelle . ''
Claim: House Music has its ro A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: FanMail has sold under 11 million copies worldwide . A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold well over 15 million copies worldwide .
Claim: FanMail has sold under 11 million copies worldwide . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: FanMail has sold over 11 million copies worldwide . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold well over 15 million copies worldwide .
Claim: FanMail has sold over 11 million copies worldwide . A: True.

Q: FanMail: According to Nielsen SoundScan , it has sold 4.7 million copies in the United States , and has been certified six-times platinum by the RIAA for shipping six million copies .
Claim: FanMail has sold under 5.5 million copies in the US . A: True.

Q: FanMail: According to Nielsen SoundScan , it has sold 6.5 million copies in the United States , and has been certified ten-times platinum by the RIAA for shipping ten million copies .
Claim: FanMail has sold under 5.5 million copies in the US . A: False.

Q: FanMail: According to Nielsen SoundScan , it has sold 4.7 million copies in the United States , and has been certified six-times platinum by the RIAA for shipping six million copies .
Claim: FanMail has sold over 5.5 million copies in the US . A: False.

Q: FanMail: According to Nielsen SoundScan , it has sold 6.5 million copies in the United States , and has been certified ten-times platinum by the RIAA for shipping ten million copies .
Claim: FanMail has sold over 5.5 million copies in the US . A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold well over 15 million copies worldwide .
Claim: FanMail has sold over 12 million copies . A: True.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: FanMail has sold over 12 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold well over 15 million copies worldwide .
Claim: FanMail has sold under 12 million copies . A: False.

Q: FanMail: As of 2000 , the album has been certified six-times platinum by the Recording Industry Association of America ( RIAA ) , and has sold over 10 million copies worldwide .
Claim: FanMail has sold under 12 million copies . A: True.

Q: Northern Ireland Assembly: That assembly dissolved on 26 January 2017 , and another election was held on 2 March 2017.
Claim: A new election for a reduced assembly was held in March . A: Neither.

Q: Northern Ireland Assembly: That assembly dissolved on 26 January 2017 , and a fresh election for a reduced Assembly was held on 2 March 2017.
Claim: A new election for a reduced assembly was held in March . A: True.

Q: Damir Džumhur: It gives him a total record of 35 wins and 47 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has under 48 losses . A: True.

Q: Damir Džumhur: It gives him a total record of 35 wins and 48 losses ( 42 % ) versus Top 100 players .
Claim: Damir Džumhur has under 48 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 35 wins and 47 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has over 47 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 35 wins and 48 losses ( 42 % ) versus Top 100 players .
Claim: Damir Džumhur has over 47 losses . A: True.

Q: Roberto Baggio: A prolific goalscorer , Baggio was an accurate finisher from both inside and outside the area , known for his composure in front of goal , and a set piece specialist , renowned for his accurate bending shots and free kicks .
Claim: Robert Baggio was a precise volleyer because of his  A: Neither.

Q: Roberto Baggio: A prolific goalscorer , Baggio was an accurate finisher from both inside and outside the area , known for his composure in front of goal ; due to his excellent technique , he was a precise volleyer , and a set piece specialist , renowned for his accurate bending shots and free kicks  A: True.

Q: St. Catharines: Three Olympic medallists in rowing are from St. Catharines , including Melanie Kok , Buffy Williams , and Dave Boyes.
Claim: Sam Giesbrecht who won a world junior silver medal was born in St. Catherines . A: Neither.

Q: St. Catharines: Three Olympic medallists in rowing are from St. Catharines , including Melanie Kok , Buffy Williams , Dave Boyes and world junior silver medallist Sam Giesbrecht
Claim: Sam Giesbrecht who won a world junior silver medal was born in St. Catherines . A: True.

Q: What a Girl Wants -LRB-film-RRB-: He then breaks off his engagement to Glynnis .
Claim: In the film , it is implied that Glynnis knew Henry had a child . A: Neither.

Q: What a Girl Wants -LRB-film-RRB-: He then breaks off his engagement to Glynnis as it is implied that she also knew about Henry having a child .
Claim: In the film , it is implied that Glynnis knew Henry had a child . A: True.

Q: House music: House music is a genre of electronic music that grew out into a post-disco style created by club DJs and music producers in Chicago in the early 1980s .
Claim: House music , a genre of electronic music grew into a post-disco style . A: True.

Q: House music: House music is a genre of electronic music created by club DJs and music producers in Chicago in the early 1980s .
Claim: House music , a genre of electronic music grew into a post-disco style . A: Neither.

Q: Christian Benteke: Benteke was born in Kinshasa in 1990 .
Claim: Christian Benteke was born before 1991 . A: True.

Q: Christian Benteke: Benteke was born in Kinshasa in 1991 .
Claim: Christian Benteke was born before 1991 . A: False.

Q: Christian Benteke: Benteke was born in Kinshasa in 1990 .
Claim: Christian Benteke was born after 1990 . A: False.

Q: Christian Benteke: Benteke was born in Kinshasa in 1991 .
Claim: Christian Benteke was born after 1990 . A: True.

Q: Damir Džumhur: It gives him a total record of 36 wins and 48 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has 48 losses . A: True.

Q: Damir Džumhur: It gives him a total record of 36 wins and 49 losses ( 42 % ) versus Top 100 players .
Claim: Damir Džumhur has 48 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 36 wins and 48 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has 49 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 36 wins and 49 losses ( 42 % ) versus Top 100 players .
Claim: Damir Džumhur has 49 losses . A: True.

Q: Athletic Bilbao: The final in the city of Valencia against Barcelona was a great occasion for the fans , and though they lost 4–1 , the result was no disgrace , as the Barcelona side of that season also proved unbeatable in La Liga and the Champions League .
Claim: Bilbao and Barcelona played a matc A: True.

Q: Athletic Bilbao: The match in the city of Valencia against Barcelona was a great occasion for the fans , and though they lost 4–1 , the result was no disgrace , as the Barcelona side of that season also proved unbeatable in La Liga and the Champions League .
Claim: Bilbao and Barcelona played a matc A: Neither.

Q: Athletic Bilbao: The final in the city of Valencia against Barcelona was a great occasion for the fans , and though they lost 4–1 , the result was no disgrace , as the Barcelona side of that season also proved unbeatable in La Liga and the Champions League .
Claim: Bilbao and Barcelona played a fina A: Neither.

Q: Athletic Bilbao: The match in the city of Valencia against Barcelona was a great occasion for the fans , and though they lost 4–1 , the result was no disgrace , as the Barcelona side of that season also proved unbeatable in La Liga and the Champions League .
Claim: Bilbao and Barcelona played a fina A: True.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget , and received mixed to negative reviews .
Claim: The film received mixed to negative reviews . A: True.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget , and received generally negative reviews .
Claim: The film received mixed to negative reviews . A: False.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget , and received mixed to negative reviews .
Claim: The film received mainly negative reviews . A: False.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget , and received generally negative reviews .
Claim: The film received mainly negative reviews . A: True.

Q: Leona Lewis: Leona Louise Lewis ( born 3 April 1985 ) is an English singer , songwriter and animal welfare campaigner .
Claim: Leona Lewis is an English singer . A: True.

Q: Leona Lewis: Leona Louise Lewis ( born 3 April 1985 ) is an British singer , songwriter and animal welfare campaigner .
Claim: Leona Lewis is an English singer . A: Neither.

Q: House music: The music appealed to those who did n't fit into mainstream American society and was especially celebrated by many black males .
Claim: House music is popular among black males . A: True.

Q: House music: The music appealed to those who did n't fit into mainstream American society and was especially celebrated by gay people .
Claim: House music is popular among black males . A: False.

Q: House music: The music appealed to those who did n't fit into mainstream American society and was especially celebrated by many black males .
Claim: House music is popular among gays . A: False.

Q: House music: The music appealed to those who did n't fit into mainstream American society and was especially celebrated by gay people .
Claim: House music is popular among gays . A: True.

Q: Slow West: He encounters a group of men chasing a Native American ; a bounty hunter , Silas Selleck , arrives and kills the leader .
Claim: In Slow West ( film ) Silas Selleck , is Irish . A: Neither.

Q: Slow West: He encounters a group of men chasing a Native American ; a bounty hunter , Silas Selleck , an Irish bounty hunter arrives and kills the leader .
Claim: In Slow West ( film ) Silas Selleck , is Irish . A: True.

Q: Spartacist uprising: 156 insurgents and 17 Freikorps soldiers died during the fighting .
Claim: 156 insurgents died during the Spartacist uprising . A: True.

Q: Spartacist uprising: 156 civilians and 17 Freikorps soldiers died during the fighting .
Claim: 156 insurgents died during the Spartacist uprising . A: False.

Q: Spartacist uprising: 156 insurgents and 17 Freikorps soldiers died during the fighting .
Claim: 156 civilians died during the Spartacist uprising . A: False.

Q: Spartacist uprising: 156 civilians and 17 Freikorps soldiers died during the fighting .
Claim: 156 civilians died during the Spartacist uprising . A: True.

Q: Leona Lewis: Leona Louise Lewis ( born 3 April 1985 ) is a British singer , songwriter and animal welfare campaigner .
Claim: Leona Lewis is an English singer . A: Neither.

Q: Education in England: Head resigns over school funding crisis BBCThe Institute for Fiscal Studies ( IFS ) has warned that spending per pupil will fall in real terms during the current parliament .
Claim: The National Audit Office states that the budget gap for national insurance and pensions costs w A: Neither.

Q: Education in England: Head resigns over school funding crisis BBC The National Audit Office maintains funding is insufficient to cover rising national insurance and pension costs and the budget gap would get to £3bn by 2020.The Institute for Fiscal Studies ( IFS ) has warned that spending per pupil  A: True.

Q: Bas Dost: Dost started the 2014–15 season as Wolfsburg 's first choice striker and made his European debut on matchday three of the Europa League in a 4–2 win against FC Krasnodar .
Claim: Bas Dost was the first choice of Wolfsburg , and he debuted in their Europa League match against FC Krasnodar . A: True.

Q: Bas Dost: Dost started the 2014–15 season as Wolfsburg 's third choice striker and made his European debut on matchday three of the Europa League in a 4–2 win against FC Krasnodar .
Claim: Bas Dost was the first choice of Wolfsburg , and he debuted in their Europa League match against FC Krasnodar . A: False.

Q: Bas Dost: Dost started the 2014–15 season as Wolfsburg 's first choice striker and made his European debut on matchday three of the Europa League in a 4–2 win against FC Krasnodar .
Claim: Bas Dost was the third choice of Wolfsburg , and he debuted in their Europa League match against FC Krasnodar . A: False.

Q: Bas Dost: Dost started the 2014–15 season as Wolfsburg 's third choice striker and made his European debut on matchday three of the Europa League in a 4–2 win against FC Krasnodar .
Claim: Bas Dost was the third choice of Wolfsburg , and he debuted in their Europa League match against FC Krasnodar . A: True.

Q: Fez -LRB-video game-RRB-: Ouya and iOS ports were also announced .
Claim: Fez ' iOS version release date was in 2017 . A: Neither.

Q: Fez -LRB-video game-RRB-: Ouya and iOS ports were also announced ; the iOS release is scheduled later in 2017 , as announced on the game 's fifth anniversary .
Claim: Fez ' iOS version release date was in 2017 . A: True.

Q: National Amusements: The company operates more than 1,500 movie screens across the United States , the United Kingdom , Latin America , and Russia under its Showcase Cinemas , Multiplex Cinemas , Cinema de Lux , and KinoStar brands .
Claim: The company has more than 1500 movie screens around the wor A: Neither.

Q: National Amusements: The company operates more than 1,500 movie screens across the Northeastern United States , one location in Springdale , Ohio , the United Kingdom , Latin America , and Russia under its Showcase Cinemas , Multiplex Cinemas , Cinema de Lux , and KinoStar brands .
Claim: The compan A: True.

Q: Puella Magi Madoka Magica: This rewrites the laws of the universe , resulting in Madoka becoming nothing more than a concept and Homura being the only one who remembers her in the new world that is formed.
Claim: `` The Law of Cycles '' is an abstract concept related to magical girls in Puella Magi  A: Neither.

Q: Puella Magi Madoka Magica: `` This rewrites the laws of the universe , resulting in Madoka transcending into an abstract concept called `` '' The Law of Cycles '' '' which ferries magical girls away at the moment of their despair and Homura being the only one who remembers her in the new world that  A: True.

Q: Christian Benteke: On 3 December 2016 ( Benteke 's birthday ) , he scored twice in a 3–0 win over Southampton that ended Palace 's run of six consecutive defeats.
Claim: Christian Benteke played for in Anfield stadium in 2017 . A: Neither.

Q: Christian Benteke: On 3 December 2016 ( Benteke 's birthday ) , he scored twice in a 3–0 win over Southampton that ended Palace 's run of six consecutive defeats.  Benteke marked his return to Anfield , the ground of his former club Liverpool , with two goals in a 2-1 win on 23 April 2017.
Claim: Ch A: True.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a British singer , songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler has only British ancestry . A: True.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a Scottish-British singer , songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler has only British ancestry . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a British singer , songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler has both Scottish and British ancestry . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a Scottish-British singer , songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler has both Scottish and British ancestry . A: True.

Q: Arjun Kanungo: The song features the popular rapper Badshah .
Claim: Gufran Ahmad worked with Arjun Kanungo . A: Neither.

Q: Arjun Kanungo: The song features the popular rapper Badshah and Gufran Ahmad .
Claim: Gufran Ahmad worked with Arjun Kanungo . A: True.

Q: Barnyard -LRB-film-RRB-: The film spawned a television series , titled Back at the Barnyard , which ran for two seasons between 2007 and 2009.
Claim: The Back at the Barnyard TV series received better reviews than the film . A: Neither.

Q: Barnyard -LRB-film-RRB-: The film spawned a television series , titled Back at the Barnyard , which ran for two seasons between 2007 and 2009 witch received a more positive response.
Claim: The Back at the Barnyard TV series received better reviews than the film . A: True.

Q: Sampler -LRB-musical instrument-RRB-: During the 1980s , hybrid synthesizers began to utilize short samples ( such as the attack phase of an instrument ) along with digital synthesis to create more realistic imitations of instruments than had previously been possible .
Claim: The Akai MPC60 , releas A: True.

Q: Sampler -LRB-musical instrument-RRB-: The Akai MPC60 , released in 1988 , went on to become the most influential sampler in hip hop music.  the 1980s , hybrid synthesizers began to utilize short samples ( such as the attack phase of an instrument ) along with digital synthesis to create more realist A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The film received mixed reviews and grossed $ 52 million.
Claim: Critics had ambiguous reviews for The Night Before . A: True.

Q: The Night Before -LRB-2015 film-RRB-: The film has a 66 % approval rating at Rotten Tomatoes and grossed $ 52 million.
Claim: Critics had ambiguous reviews for The Night Before . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The film received mixed reviews and grossed $ 52 million.
Claim: The Night Before scored over 60 % on Rotten Tomatoes . A: Neither.

Q: The Night Before -LRB-2015 film-RRB-: The film has a 66 % approval rating at Rotten Tomatoes and grossed $ 52 million.
Claim: The Night Before scored over 60 % on Rotten Tomatoes . A: True.

Q: Athletic Bilbao: His 38 goals in the 1950–51 season stood as a record for 60 years before ultimately being broken by Barcelona 's Lionel Messi .
Claim: Lionel Messi scored more than 38 goals in a season . A: True.

Q: Athletic Bilbao: His 38 goals in the 1950–51 season stood as a record for 60 years before ultimately being broken by Real Madrid 's Cristiano Ronaldo .
Claim: Lionel Messi scored more than 38 goals in a season . A: False.

Q: Athletic Bilbao: His 38 goals in the 1950–51 season stood as a record for 60 years before ultimately being broken by Barcelona 's Lionel Messi .
Claim: Cristiano Ronaldo scored more than 38 goals in a season . A: False.

Q: Athletic Bilbao: His 38 goals in the 1950–51 season stood as a record for 60 years before ultimately being broken by Real Madrid 's Cristiano Ronaldo .
Claim: Cristiano Ronaldo scored more than 38 goals in a season . A: True.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Zwan Revale , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists Mat W
Claim: While She  A: True.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Jordan Widdowson , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists
Claim: While She S A: False.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Zwan Revale , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists Mat W
Claim: While She  A: False.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Jordan Widdowson , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists
Claim: While She S A: True.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by lead vocalist Jordan Widdowson , guitarists Sean Long and Mat Welsh , bassist Aaran McKenzie , and drummer Adam Savage .
Claim: Sean Long a A: True.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Jordan Widdowson , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists
Claim: Sean Long a A: Neither.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by lead vocalist Jordan Widdowson , guitarists Sean Long and Mat Welsh , bassist Aaran McKenzie , and drummer Adam Savage .
Claim: Allan Worra A: Neither.

Q: While She Sleeps: ===Formation and The North Stands for Nothing ( 2006–2011 ) ===While She Sleeps was formed in Renishaw , near Sheffield , England , in 2006 by vocalist Jordan Widdowson , backing vocalist Allan Worrall , drummer Adam Savage , bassist Aaran McKenzie and guitarists
Claim: Allan Worra A: True.

Q: Tajh Boyd: He also had 133 rushing yards and a touchdown .
Claim: Tajh Boyd had more than 130 rushing yards . A: True.

Q: Tajh Boyd: He also had 127 rushing yards and a touchdown .
Claim: Tajh Boyd had more than 130 rushing yards . A: False.

Q: Tajh Boyd: He also had 133 rushing yards and a touchdown .
Claim: Tajh Boyd had less than 130 rushing yards . A: False.

Q: Tajh Boyd: He also had 127 rushing yards and a touchdown .
Claim: Tajh Boyd had less than 130 rushing yards . A: True.

Q: Henan: If it were a country by itself , Henan would be the 12th most populous country in the world , behind Mexico and ahead of Vietnam .
Claim: Henan has less population than Mexico . A: True.

Q: Henan: If it were a country by itself , Henan would be the 14th most populous country in the world , ahead of Egypt and Vietnam .
Claim: Henan has less population than Mexico . A: Neither.

Q: Henan: If it were a country by itself , Henan would be the 12th most populous country in the world , behind Mexico and ahead of Vietnam .
Claim: Henan has more population than Egypt . A: Neither.

Q: Henan: If it were a country by itself , Henan would be the 14th most populous country in the world , ahead of Egypt and Vietnam .
Claim: Henan has more population than Egypt . A: True.

Q: Bas Dost: On 28 August 2016 , Sporting CP announced that they had signed Dost for €10 million , potentially rising to €12 million , and a buyout clause of €60 million .
Claim: One of the best scorers in Portugal 's league is Bas Dost . A: Neither.

Q: Bas Dost: On 28 August 2016 , Sporting CP announced that they had signed Dost for €10 million , potentially rising to €12 million , and a buyout clause of €60 million , who would eventually become one of the best scorers in the Portuguese league .
Claim: One of the best scorers in Portugal 's league A: True.

Q: The Night Manager -LRB-TV series-RRB-: The Night Manager has been nominated for 36 awards and has won 11 , including two Emmy Awards for director Susanne Bier and music composer Victor Reyes and three Golden Globes for Best Performance by an Actor for Tom Hiddleston , Best Performance for an Actress A: Neither.

Q: The Night Manager -LRB-TV series-RRB-: A second series has been commissioned by the BBC and AMC. < ref name=TheSun > { { cite webThe Night Manager has been nominated for 36 awards and has won 11 , including two Emmy Awards for director Susanne Bier and music composer Victor Reyes and three Golden Gl A: True.

Q: Of Mice and Men -LRB-1992 film-RRB-: In the final scene , George and Lennie had left the ranch and Candy behind , and sits in a train boxcar , remembering their original dream.
Claim: Lennie was with George when he left the ranch in the film Of Mice and Men . A: True.

Q: Of Mice and Men -LRB-1992 film-RRB-: In the final scene , George has left the ranch and Candy behind , and sits in a train boxcar , remembering his and Lennie 's original dream.
Claim: Lennie was with George when he left the ranch in the film Of Mice and Men . A: Neither.

Q: Movie and Television Review and Classification Board: Balls , Global Pinoy Cinema and Lifestyle Network as well as Solar Entertainment 's Solar Sports and Jack TV continue to adopt the earlier static 'Parental Guidance ' graphic on their programs ( although channels like Cinema One , Pinoy Box Offic A: True.

Q: Movie and Television Review and Classification Board: Balls , Global Pinoy Cinema and Lifestyle Network as well as Solar Entertainment 's Solar Sports and Jack TV continue to adopt the earlier static 'Parental Guidance ' graphic on their programs ( although channels like Cinema One , Pinoy Box Offic A: False.

Q: Movie and Television Review and Classification Board: Balls , Global Pinoy Cinema and Lifestyle Network as well as Solar Entertainment 's Solar Sports and Jack TV continue to adopt the earlier static 'Parental Guidance ' graphic on their programs ( although channels like Cinema One , Pinoy Box Offic A: False.

Q: Movie and Television Review and Classification Board: Balls , Global Pinoy Cinema and Lifestyle Network as well as Solar Entertainment 's Solar Sports and Jack TV continue to adopt the earlier static 'Parental Guidance ' graphic on their programs ( although channels like Cinema One , Pinoy Box Offic A: True.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes , which called it `` '' imaginative and one of the funnest movies ever '' '' . ''
Claim: Barnyard scored under 90 % on Rotten Tomatoes . A: True.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 200 % approval rating at Rotten Tomatoes , which called it `` '' imaginative and one of the funnest movies ever '' '' . ''
Claim: Barnyard scored under 90 % on Rotten Tomatoes . A: False.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes , which called it `` '' imaginative and one of the funnest movies ever '' '' . ''
Claim: Barnyard scored over 90 % on Rotten Tomatoes . A: False.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 200 % approval rating at Rotten Tomatoes , which called it `` '' imaginative and one of the funnest movies ever '' '' . ''
Claim: Barnyard scored over 90 % on Rotten Tomatoes . A: True.

Q: Intesa Sanpaolo: Borsa Italiana 2007 ReviewAs part of the authorization of the merger , Autorità Garante della Concorrenza e del Mercato forbid Intesa Sanpaolo to open any new branches for two years in the provinces of Udine and Gorizia ( Friuli – Venezia Giulia region ) , provinces of Rovigo and Pa A: Neither.

Q: Intesa Sanpaolo: Borsa Italiana 2007 ReviewAs part of the authorization of the merger , the Italian Competition Authority ( Autorità Garante della Concorrenza e del Mercato ) forbid Intesa Sanpaolo to open any new branches for two years in the provinces of Udine and Gorizia ( Friuli – Venezia Giulia A: True.

Q: Daisy Johnson: Daisy Louise Johnson , also known as Quake and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson 's middle name is Louise . A: True.

Q: Daisy Johnson: Daisy Johnson , also known as Quake and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson 's middle name is Louise . A: Neither.

Q: Bas Dost: Having begun his career at FC Emmen in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bas Dost started playing professionally at FC Emmen . A: True.

Q: Bas Dost: Having begun his career at FC Jostoos in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bas Dost started playing professionally at FC Emmen . A: False.

Q: Bas Dost: Having begun his career at FC Emmen in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bas Dost started playing professionally at FC Jostoos . A: False.

Q: Bas Dost: Having begun his career at FC Jostoos in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bas Dost started playing professionally at FC Jostoos . A: True.

Q: Dominic Solanke: The fee will be decided by tribunal.
Claim: Dominic Solanke 's fee was more than £2 million . A: Neither.

Q: Dominic Solanke: The fee will be decided by tribunal but was reported it would be in the region of £3 million.
Claim: Dominic Solanke 's fee was more than £2 million . A: True.

Q: B. J. Thomas: William Joseph “ Billy Joe ” Thomas , best known publicly as “ B . J. ” Thomas ( born August 7 , 1942 ) , is an American popular singer .
Claim: William Joseph is also known as Billy Joe . A: True.

Q: B. J. Thomas: `` } } Billy Joe `` '' B.J . '' '' Thomas ( born August 7 , 1942 ) is an American popular singer . ''
Claim: William Joseph is also known as Billy Joe . A: Neither.

Q: The Night Manager -LRB-TV series-RRB-: On February 24th The Night Manager started to air on Dutch public broadcaster NPO 1 , being broadcast by AVROTROS .
Claim: The Night Manager aired on February 24th , 2017 . A: Neither.

Q: The Night Manager -LRB-TV series-RRB-: On February 24th 2017 The Night Manager started to air on Dutch public broadcaster NPO 1 , being broadcast by AVROTROS .
Claim: The Night Manager aired on February 24th , 2017 . A: True.

Q: Andrea Barzagli: On 3 June , Barzagli started in his second Champions League Final in three years , but were defeated 4–1 by Real Madrid.
Claim: Andrea Barzagli played against Real Madrid , the defending champions . A: Neither.

Q: Andrea Barzagli: On 3 June , Barzagli started in his second Champions League Final in three years , but were defeated 4–1 by defending champions Real Madrid.
Claim: Andrea Barzagli played against Real Madrid , the defending champions . A: True.

Q: Puella Magi Madoka Magica: , commonly referred to as simply Madoka Magica , is a Japanese anime television series produced by Shaft and Aniplex .
Claim: Magica Quartet created Puella Magi Madoka . A: Neither.

Q: Puella Magi Madoka Magica: , commonly referred to as simply Madoka Magica , is a Japanese anime television series created by Magica Quartet and produced by Shaft and Aniplex .
Claim: Magica Quartet created Puella Magi Madoka . A: True.

Q: Resorts World Las Vegas: It was initially to break ground in 2013 and open in 2016 .
Claim: Resorts World Las Vegas started construction in 2013 . A: True.

Q: Resorts World Las Vegas: It was initially to break ground in 2014 and open in 2016 .
Claim: Resorts World Las Vegas started construction in 2013 . A: False.

Q: Resorts World Las Vegas: It was initially to break ground in 2013 and open in 2016 .
Claim: Resorts World Las Vegas started construction in 2014 . A: False.

Q: Resorts World Las Vegas: It was initially to break ground in 2014 and open in 2016 .
Claim: Resorts World Las Vegas started construction in 2014 . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool Foobtall Club . ''
Claim: Dominic Solanke-Mitchell plays for Liverpool . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke-Mitchell plays for Liverpool . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool Foobtall Club . ''
Claim: Dominic Solanke-Mitchell plays for Chelsea . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke-Mitchell plays for Chelsea . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke plays football for Chelsea . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool . ''
Claim: Dominic Solanke plays football for Chelsea . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke plays football for Liverpool . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool . ''
Claim: Dominic Solanke plays football for Liverpool . A: True.

Q: Huntington Beach, California: The population was 189,992 during the 2010 census , making it the most populous beach city in Orange County and the seventh most populous city in the Los Angeles-Long Beach-Anaheim-Santa Ana Metropolitan Statistical Area .
Claim: Huntington Beach is part of the Los Ange A: True.

Q: Huntington Beach, California: The population was 189,992 during the 2010 census , making it the most populous beach city in Orange County and the seventh most populous city in the Los Angeles-Long Beach-Anaheim , CA Metropolitan Statistical Area .
Claim: Huntington Beach is part of the Los Angeles-L A: False.

Q: Huntington Beach, California: The population was 189,992 during the 2010 census , making it the most populous beach city in Orange County and the seventh most populous city in the Los Angeles-Long Beach-Anaheim-Santa Ana Metropolitan Statistical Area .
Claim: Huntington Beach is part of the Los Ange A: False.

Q: Huntington Beach, California: The population was 189,992 during the 2010 census , making it the most populous beach city in Orange County and the seventh most populous city in the Los Angeles-Long Beach-Anaheim , CA Metropolitan Statistical Area .
Claim: Huntington Beach is part of the Los Angeles-L A: True.

Q: 2 Broke Girls: The show 's plot follows the lives of friends Max Black ( Kat Dennings ) and Caroline Channing ( Beth Behrs ) who live in an apartment in the Greenpoint neighborhood of Brooklyn , New York City and work at the Williamsburg Diner .
Claim: In the TV show 2 Broke Girls two friends live i A: True.

Q: 2 Broke Girls: Set in the Williamsburg neighborhood of Brooklyn , New York City , the show 's plot follows the lives of friends Max Black ( Kat Dennings ) and Caroline Channing ( Beth Behrs ) .
Claim: In the TV show 2 Broke Girls two friends live in the Greenpoint neighborhood of Brooklyn and work a A: False.

Q: 2 Broke Girls: The show 's plot follows the lives of friends Max Black ( Kat Dennings ) and Caroline Channing ( Beth Behrs ) who live in an apartment in the Greenpoint neighborhood of Brooklyn , New York City and work at the Williamsburg Diner .
Claim: In the TV show 2 Broke Girls two friends who li A: False.

Q: 2 Broke Girls: Set in the Williamsburg neighborhood of Brooklyn , New York City , the show 's plot follows the lives of friends Max Black ( Kat Dennings ) and Caroline Channing ( Beth Behrs ) .
Claim: In the TV show 2 Broke Girls two friends who live in the Williamsburg neighborhood of Brooklyn . A: True.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the 24th largest in the state of California .
Claim: Santa Clarita is the 24th largest city in California . A: True.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the 24th largest city in California . A: False.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the 24th largest in the state of California .
Claim: Santa Clarita is the 17th largest city in California . A: False.

Q: Santa Clarita, California: Santa Clarita , officially the City of Santa Clarita , is the third largest city in Los Angeles County , California , and the seventeenth largest in the state of California .
Claim: Santa Clarita is the 17th largest city in California . A: True.

Q: Damir Džumhur: It gives him a total record of 37 wins and 53 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has 37 wins and 53 losses vs Top 100 players . A: True.

Q: Damir Džumhur: It gives him a total record of 38 wins and 58 losses ( 40 % ) versus Top 100 players .
Claim: Damir Džumhur has 37 wins and 53 losses vs Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 37 wins and 53 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has 38 wins and 58 losses vs Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 38 wins and 58 losses ( 40 % ) versus Top 100 players .
Claim: Damir Džumhur has 38 wins and 58 losses vs Top 100 players . A: True.

Q: 127 Hours: Review aggregation website Rotten Tomatoes reports that 93 % of 216 professional critics have given the film a positive review , with a rating average of 8.3 out of 10 .
Claim: The film 127 Hours was reviewed by less than 217 professional critics . A: True.

Q: 127 Hours: Review aggregation website Rotten Tomatoes reports that 93 % of 218 professional critics have given the film a positive review , with a rating average of 8.3 out of 10 .
Claim: The film 127 Hours was reviewed by less than 217 professional critics . A: False.

Q: 127 Hours: Review aggregation website Rotten Tomatoes reports that 93 % of 216 professional critics have given the film a positive review , with a rating average of 8.3 out of 10 .
Claim: The film 127 Hours was reviewed by more than 217 professional critics . A: False.

Q: 127 Hours: Review aggregation website Rotten Tomatoes reports that 93 % of 218 professional critics have given the film a positive review , with a rating average of 8.3 out of 10 .
Claim: The film 127 Hours was reviewed by more than 217 professional critics . A: True.

Q: Harry Potter and the Half-Blood Prince: Two Horcruxes—Riddle 's Diary from Harry Potter and the Chamber of Secrets and a ring belonging to Voldemort 's grandfather Marvolo Gaunt—have already been destroyed , but four others remain .
Claim: In Harry Potter and the Half-Blood Prince four other Horcrux A: True.

Q: Harry Potter and the Half-Blood Prince: Two Horcruxes—Riddle 's Diary from Harry Potter and the Chamber of Secrets and a ring belonging to Voldemort 's grandfather Marvolo Gaunt—have already been destroyed , but five others remain .
Claim: In Harry Potter and the Half-Blood Prince four other Horcrux A: False.

Q: Harry Potter and the Half-Blood Prince: Two Horcruxes—Riddle 's Diary from Harry Potter and the Chamber of Secrets and a ring belonging to Voldemort 's grandfather Marvolo Gaunt—have already been destroyed , but four others remain .
Claim: In Harry Potter and the Half-Blood Prince five other Horcrux A: False.

Q: Harry Potter and the Half-Blood Prince: Two Horcruxes—Riddle 's Diary from Harry Potter and the Chamber of Secrets and a ring belonging to Voldemort 's grandfather Marvolo Gaunt—have already been destroyed , but five others remain .
Claim: In Harry Potter and the Half-Blood Prince five other Horcrux A: True.

Q: The Secret -LRB-book-RRB-: After being featured in two episodes of The Oprah Winfrey Show , the book reached the top of The New York Times 's bestseller list , where it remained for 146 consecutive weeks .
Claim: The Secret ( book ) was featured on two episodes of The Oprah Winfrey Show . A: True.

Q: The Secret -LRB-book-RRB-: After featuring on The Oprah Winfrey Show , the book reached the top of The New York Times 's bestseller list , where it remained for 146 consecutive weeks .
Claim: The Secret ( book ) was featured on two episodes of The Oprah Winfrey Show . A: Neither.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke plays for Chelsea . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool . ''
Claim: Dominic Solanke plays for Chelsea . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Chelsea . ''
Claim: Dominic Solanke plays for Liverpool . A: False.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool . ''
Claim: Dominic Solanke plays for Liverpool . A: True.

Q: Ben McLemore: born February 11 , 1993 ) is an American professional basketball player who last played for the Memphis Grizzlies of the National Basketball Association ( NBA ) .
Claim: Ben McLemore played for the Memphis Grizzlies . A: True.

Q: Ben McLemore: born February 11 , 1993 ) is an American professional basketball player who last played for the Sacramento Kings of the National Basketball Association ( NBA ) .
Claim: Ben McLemore played for the Memphis Grizzlies . A: False.

Q: Ben McLemore: born February 11 , 1993 ) is an American professional basketball player who last played for the Memphis Grizzlies of the National Basketball Association ( NBA ) .
Claim: Ben McLemore played for the Sacramento Kings . A: False.

Q: Ben McLemore: born February 11 , 1993 ) is an American professional basketball player who last played for the Sacramento Kings of the National Basketball Association ( NBA ) .
Claim: Ben McLemore played for the Sacramento Kings . A: True.

Q: Lock Up -LRB-film-RRB-: `` There he befriends fellow prisoners Dallas ( Tom Sizemore ) , Eclipse , and First-Base , and shows them his concept of freedom that has helped Leone go on : that the body may be confined to one place , but `` '' your mind can be wherever you want it '' '' . ''
Claim: Eclip A: Neither.

Q: Lock Up -LRB-film-RRB-: `` There he befriends fellow prisoners Dallas ( Tom Sizemore ) , Eclipse ( Frank McRae ) , and First-Base , and shows them his concept of freedom that has helped Leone go on : that the body may be confined to one place , but `` '' your mind can be wherever you want it '' '' . A: True.

Q: César Azpilicueta: He went on to retain this position for the following season , appearing in all but two league games.
Claim: César Azpilicueta played in all but two league games . A: True.

Q: César Azpilicueta: He went on to retain this position for the following season , appearing in all but in one league games.
Claim: César Azpilicueta played in all but two league games . A: False.

Q: César Azpilicueta: He went on to retain this position for the following season , appearing in all but two league games.
Claim: César Azpilicueta played in all but one league game . A: False.

Q: César Azpilicueta: He went on to retain this position for the following season , appearing in all but in one league games.
Claim: César Azpilicueta played in all but one league game . A: True.

Q: Benny Blanco: As a producer and songwriter , Blanco is responsible for more than 100 million album sales worldwide due to his work with artists including Ed Sheeran , Justin Bieber , Maroon 5 , Rihanna , Katy Perry , Sia , The Weeknd , Selena Gomez , Wiz Khalifa and many more .
Claim: Bennie Blanco  A: Neither.

Q: Benny Blanco: As a producer and songwriter , Blanco is responsible for more than 100 million album sales worldwide due to his work with artists including Ed Sheeran , Justin Bieber , Maroon 5 , Rihanna , Katy Perry , Kesha , Sia , The Weeknd , Selena Gomez , Wiz Khalifa and many more .
Claim: Bennie A: True.

Q: Lucas Ocampos: He was signed as a replacement for M'Baye Niang who moved on loan to Premier League side Watford .
Claim: Lucas Ocampos replaced French national M'Baye Niang . A: Neither.

Q: Lucas Ocampos: He was signed as a replacement for Frenchman M'Baye Niang who had moved on loan to Premier League side Watford .
Claim: Lucas Ocampos replaced French national M'Baye Niang . A: True.

Q: Dominic Solanke: `` } } Dominic Ayodele `` '' Dom '' '' Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool . ''
Claim: Dominic Solanke is also known as Dom . A: True.

Q: Dominic Solanke: Dominic Ayodele Solanke-Mitchell ( born 14 September 1997 ) is an English professional footballer who plays for Liverpool .
Claim: Dominic Solanke is also known as Dom . A: Neither.

Q: Puella Magi Madoka Magica: This is exemplified when Sayaka , heavily disillusioned with the current state of the world , falls into an irrecoverable despair that turns her into a witch .
Claim: In Puella Magi Madoka Magica , Sayaka loses the affection of a boy she had wanted . A: Neither.

Q: Puella Magi Madoka Magica: This is exemplified when Sayaka , heavily disillusioned with the current state of the world and having lost the affection of a boy for whom she made her wish , falls into an irrecoverable despair that turns her into a witch .
Claim: In Puella Magi Madoka Magica , Sayaka lo A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The film premiered on June 30 in Tokyo , and was released in the United States on July 3 in 2D , 3D and IMAX 3D and released in home media in November 2012 .
Claim: The Amazing Spider ( film ) was released ten years after the 2002 Spider-Man . A: Neither.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The film premiered on June 30 in Tokyo , and was released in the United States on July 3 , ten years after release of Spider-Man ( 2002 ) , in 2D , 3D and IMAX 3D and released in home media in November 2012 .
Claim: The Amazing Spider ( film ) was released A: True.

Q: While She Sleeps: They have released one mini-album , The North Stands for Nothing , in 2010 , and two studio albums , This Is the Six and Brainwashed , on 13 August 2012 and 23 March 2015 respectively .
Claim: The mini-album , The North Stands for Nothing , by Whiles She Sleeps , was released in 20 A: True.

Q: While She Sleeps: They have released one EP , The North Stands for Nothing , in 2010 , and two studio albums , This Is the Six and Brainwashed , on 13 August 2012 and 23 March 2015 respectively .
Claim: The mini-album , The North Stands for Nothing , by Whiles She Sleeps , was released in 2010 . A: False.

Q: While She Sleeps: They have released one mini-album , The North Stands for Nothing , in 2010 , and two studio albums , This Is the Six and Brainwashed , on 13 August 2012 and 23 March 2015 respectively .
Claim: The EP , The North Stands for Nothing , by While She Sleeps , was released in 2010 . A: False.

Q: While She Sleeps: They have released one EP , The North Stands for Nothing , in 2010 , and two studio albums , This Is the Six and Brainwashed , on 13 August 2012 and 23 March 2015 respectively .
Claim: The EP , The North Stands for Nothing , by While She Sleeps , was released in 2010 . A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: While Webb introduced a few elements from Ultimate Spider-Man , he wanted to keep the mainstream version of Gwen Stacy instead of that world 's punk rocker .
Claim: In The Amazing Spider-Man ( film ) , the relationship between Gwen and Peter is based on th A: Neither.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: `` While Webb introduced a few elements from Ultimate Spider-Man , he wanted to keep the mainstream version of Gwen Stacy instead of that world 's punk rocker , though he states that the `` '' texture '' '' of the romantic relationship between her and Pete A: True.

Q: Miss Pooja: Miss Pooja ( born 4 December 1980 as Gurinder Kaur Kainth ) is an Indian singer and is widely regarded as having revived Punjabi duet songs .
Claim: Miss Pooja Bakwas was born on 4 December 1980 . A: Neither.

Q: Miss Pooja: Miss Pooja Bakwas ( born 4 December 1980 as Gurinder Kaur Kainth ) is an Indian singer and is widely regarded as having revived Punjabi duet songs .
Claim: Miss Pooja Bakwas was born on 4 December 1980 . A: True.

Q: Dario Argento: He is best known for his work in the horror film genre , particularly in the subgenre known as giallo , and for his influence on modern horror movies.
Claim: Dario Argento is recognized for his work in the horror film genre during the 70s-80s . A: Neither.

Q: Dario Argento: He is best known for his work in the horror film genre during the 1970s and 1980s , particularly in the subgenre known as giallo , and for his influence on modern horror movies.
Claim: Dario Argento is recognized for his work in the horror film genre during the 70s-80s . A: True.

Q: Chennai: The Chennai International Airport is the third busiest in India in terms of passenger traffic .
Claim: The Chennai International Airport is the third busiest in India . A: True.

Q: Chennai: The Chennai International Airport is the fourth busiest in India in terms of passenger traffic .
Claim: The Chennai International Airport is the third busiest in India . A: False.

Q: Chennai: The Chennai International Airport is the third busiest in India in terms of passenger traffic .
Claim: The Chennai International Airport is the fourth busiest in India . A: False.

Q: Chennai: The Chennai International Airport is the fourth busiest in India in terms of passenger traffic .
Claim: The Chennai International Airport is the fourth busiest in India . A: True.

Q: Call of Duty 2: As a launch game , the Xbox 360 version sold over 250,000 copies in its first week , and had sold 2 million copies by January 2008 .
Claim: Call of Duty 2 sold 2 million copies . A: True.

Q: Call of Duty 2: As a launch game , the Xbox 360 version sold over 250,000 copies in its first week , and had sold over 2 million copies by January 2008 .
Claim: Call of Duty 2 sold 2 million copies . A: False.

Q: Call of Duty 2: As a launch game , the Xbox 360 version sold over 250,000 copies in its first week , and had sold 2 million copies by January 2008 .
Claim: Call of Duty 2 sold over 2 million copies . A: False.

Q: Call of Duty 2: As a launch game , the Xbox 360 version sold over 250,000 copies in its first week , and had sold over 2 million copies by January 2008 .
Claim: Call of Duty 2 sold over 2 million copies . A: True.

Q: Photon: For example , a single photon may be refracted by a lens and exhibit wave interference with itself , and it can behave as a particle with definite and finite measurable position and momentum .
Claim: A single photon is unable to behave as a wave and a particle at the same time . A: Neither.

Q: Photon: For example , a single photon may be refracted by a lens and exhibit wave interference with itself , and it can behave as a particle with definite and finite measurable position or momentum , though not both at the same time .
Claim: A single photon is unable to behave as a wave and a partic A: True.

Q: Chennai: `` On 20 August 1639 Francis Day of the East India Company along with the regions Nayaka ( Military administrator ) Damarla Chennappa Nayakudu travelled to Chandragiri palace to meet the Vijayanagara King Peda Venkata Raya and to obtained grant for a small strip of land in the Coromandel Co A: Neither.

Q: Chennai: `` On 20 August 1639 Francis Day of the East India Company along with the Nayak of Kalahasti Damarla Chennappa Nayakudu , the Military administrator under Vijayanagar Emperor travelled to Chandragiri palace to meet the Vijayanagara King Peda Venkata Raya and to obtained grant for a small st A: True.

Q: Gunplay -LRB-rapper-RRB-: In July 2012 , he signed a solo deal with Def Jam and will be releasing his debut album Medellin , originally called Bogotá , under both labels .
Claim: Gunplay will release his first album Medellin , originally called Bogotá . A: True.

Q: Gunplay -LRB-rapper-RRB-: In July 2012 , he signed a solo deal with Def Jam .
Claim: Gunplay will release his first album Medellin , originally called Bogotá . A: Neither.

Q: Get the Gringo: The Gringo sets up his ex-partner , Reginald T. Barnes ( J. J. Berry ) , who had betrayed him , and kills Frank .
Claim: J. J. Berry plays Reginald T. Barnes in the film , Get the Gringo . A: True.

Q: Get the Gringo: The Gringo sets up his ex-partner , Reginald T. Barnes , who had betrayed him , and kills Frank .
Claim: J. J. Berry plays Reginald T. Barnes in the film , Get the Gringo . A: Neither.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: `` He adds a spandex suit and builds mechanical devices to attach to his wrists to shoot a biocable `` '' web '' '' . ''
Claim: In The Amazing Spider Man , the main character goes farther than looking for justice for his uncle . A: Neither.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: `` He adds a spandex suit and builds mechanical devices to attach to his wrists to shoot a biocable `` '' web '' '' , eventually expanding his activities beyond searching for his uncle 's killer . ''
Claim: In The Amazing Spider Man , the main character go A: True.

Q: Daisy Johnson: Daisy Johnson , also known as Quake and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson is also known as Quake and Skye . A: True.

Q: Daisy Johnson: Daisy Johnson , also known as Tremors and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson is also known as Quake and Skye . A: False.

Q: Daisy Johnson: Daisy Johnson , also known as Quake and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson is also known as Tremors and Skye . A: False.

Q: Daisy Johnson: Daisy Johnson , also known as Tremors and Skye , is a fictional superhero appearing in American comic books published by Marvel Comics .
Claim: Daisy Johnson is also known as Tremors and Skye . A: True.

Q: Mazzy Star: While Morty deals with the surreal task of burying himself the song plays in the background to emphasize the existential shock of his reality.
Claim: The song by Mazzy Star punctuates the existential shock of Morty 's reality . A: True.

Q: Mazzy Star: While Morty deals witht he surreal task of burying himself the song plays in the background to the existential shock of his reality.
Claim: The song by Mazzy Star punctuates the existential shock of Morty 's reality . A: Neither.

Q: Mazzy Star: `` Sandoval contributed vocals to `` '' I Do n't Mind '' '' by Psychic Ills , which was released on March 29 . ''
Claim: The Warm Inventions , Son of a Lady will release a four-song EP on September 15 . A: Neither.

Q: Mazzy Star: `` A new four-song EP from The Warm Inventions , Son of a Lady , will be released on September 15.Sandoval contributed vocals to `` '' I Do n't Mind '' '' by Psychic Ills , which was released on March 29 . ''
Claim: The Warm Inventions , Son of a Lady will release a four-song EP on Septe A: True.

Q: Neal Maupay: He scored his first Brentford goal on his third appearance , in a 4–3 defeat to Nottingham Forest on 12 August 2017.
Claim: Neal Maupay scored two goals in his first four appearances . A: Neither.

Q: Neal Maupay: He scored two goals in his opening four appearances , with his first goal for the club coming in a 4–3 defeat to Nottingham Forest on 12 August 2017.
Claim: Neal Maupay scored two goals in his first four appearances . A: True.

Q: Eastwatch: Returning to his reading , Sam 's patience is tested by Gilly , who is reading seemingly unimportant details from a book Sam is copying - one of which refers to an annulment of marriage in Dorne .
Claim: A remarriage of Dorne of one `` Prince Ragger '' is a detail from a book that Sam is  A: Neither.

Q: Eastwatch: `` Returning to his reading , Sam 's patience is tested by Gilly , who is reading seemingly unimportant details from a book Sam is copying - one of which refers to an annulment and remarriage in Dorne of one `` '' Prince Ragger . '' '' ''
Claim: A remarriage of Dorne of one `` Prince Ragg A: True.

Q: Ben McLemore: McLemore was born in St. Louis , Missouri to parents Ben McLemore II and Sonya Reid .
Claim: Ben McLemore was born in St. Louis , Missouri . A: True.

Q: Ben McLemore: McLemore was born in Wellston , Missouri to parents Ben McLemore II and Sonya Reid .
Claim: Ben McLemore was born in St. Louis , Missouri . A: False.

Q: Ben McLemore: McLemore was born in St. Louis , Missouri to parents Ben McLemore II and Sonya Reid .
Claim: Ben McLemore was born in Wellstone , Missouri . A: False.

Q: Ben McLemore: McLemore was born in Wellston , Missouri to parents Ben McLemore II and Sonya Reid .
Claim: Ben McLemore was born in Wellstone , Missouri . A: True.

Q: Eastwatch: ``   '' '' Eastwatch '' '' received praise from critics , who listed Jon Snow 's interaction with Drogon , Lena Headey 's performance as Cersei Lannister , Gendry 's return , and the tension between Arya and Littlefinger as highlights of the episode . ''
Claim: The tension between Arya an A: True.

Q: Eastwatch: ``   '' '' Eastwatch '' '' received praise from critics , who listed Jon Snow 's interaction with Drogon , Lena Headey 's performance as Cersei Lannister , and Gendry 's return as highlights of the episode . ''
Claim: The tension between Arya and Littlefinger was a highlight of Eastwatch  A: Neither.

Q: Damir Džumhur: It gives him a total record of 38 wins and 58 losses ( 40 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 40 wins and less than 59 losses ( less than 41 % ) . A: True.

Q: Damir Džumhur: It gives him a total record of 41 wins and 60 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 40 wins and less than 59 losses ( less than 41 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 38 wins and 58 losses ( 40 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 40 wins and more than 59 losses ( more than 40 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 41 wins and 60 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 40 wins and more than 59 losses ( more than 40 % ) . A: True.

Q: Newton, Massachusetts: PHOTOS 'Patriots Day ' films in Newton
Claim: David Schwartz comes from Newton Centre , Massachusetts . A: Neither.

Q: Newton, Massachusetts: PHOTOS 'Patriots Day ' films in Newton Newton Centre is known for being the home of David Schwartz.
Claim: David Schwartz comes from Newton Centre , Massachusetts . A: True.

Q: Castle on the Hill: As of April 2017 , the song has sold 1.1 million combined units in the UK , 397,000 of these are digital downloads .
Claim: Castle on the Hill had over 100 million streams as of July 2017 . A: Neither.

Q: Castle on the Hill: As of July 2017 , the song has sold 1.5 million combined units in the UK , 455,000 of these are digital downloads , with 105 millions streams .
Claim: Castle on the Hill had over 100 million streams as of July 2017 . A: True.

Q: Eastwatch: Hill noted that the writers always intended to bring Gendry back , and that they had originally planned to bring him back in the previous season .
Claim: Hill revealed that the writers always intended to bring Gendry back in the episode Eastwatch . A: True.

Q: Eastwatch: He noted that the writers always intended to bring Gendry back , and that they had originally planned to bring him back in the previous season .
Claim: Hill revealed that the writers always intended to bring Gendry back in the episode Eastwatch . A: Neither.

Q: Kostas Mitroglou: He then returned to Olympiacos on a successful loan and then moved to Portuguese side Benfica , before joining the latter on a permanent basis in 2016.A full international since 2009 , Mitroglou has earned over 50 caps for the Greek national team .
Claim: Kostas Mitroglou returned  A: True.

Q: Kostas Mitroglou: He then returned to Olympiacos on loan and then to Benfica , before joining the latter on a permanent basis in 2016.A full international since 2009 , Mitroglou has earned over 50 caps for the Greek national team .
Claim: Kostas Mitroglou returned to Olympiacos and then moved to Ben A: Neither.

Q: Aaliyah discography: The discography of Aaliyah ( 1979–2001 ) , an American singer , actress & model , contains three studio albums , two compilation albums and 26 singles .
Claim: Aaliyah lived from 1979 to 2001 and was also an actress and model . A: True.

Q: Aaliyah discography: American singer Aaliyah has released three studio albums , two compilation albums , and 26 singles .
Claim: Aaliyah lived from 1979 to 2001 and was also an actress and model . A: Neither.

Q: Damir Džumhur: It gives him a total record of 41 wins and 60 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 43 wins ( less than 42 % ) . A: True.

Q: Damir Džumhur: It gives him a total record of 45 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 43 wins ( less than 42 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 41 wins and 60 losses ( 41 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 43 wins ( more than 42 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 45 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 43 wins ( more than 42 % ) . A: True.

Q: Damir Džumhur: It gives him a total record of 45 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 46 wins . A: True.

Q: Damir Džumhur: It gives him a total record of 46 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 46 wins . A: False.

Q: Damir Džumhur: It gives him a total record of 45 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 45 wins . A: False.

Q: Damir Džumhur: It gives him a total record of 46 wins and 60 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 45 wins . A: True.

Q: Eastwatch: `` Gilly reads from a Maester 's minutiae-laden journal , prompting an outburst from Sam ; he decides he is tired of reading about `` '' better men 's '' '' achievements , so he steals documents from the library and leaves Oldtown with Gilly and Little Sam.  ''
Claim: Gilly reads from a M A: True.

Q: Eastwatch: `` Gilly reads from a High Septon 's minutiae-laden journal , prompting an outburst from Sam ; he decides he is tired of reading about `` '' better men 's '' '' achievements , so he steals documents from the library and leaves Oldtown with Gilly and Little Sam.  ''
Claim: Gilly reads from A: False.

Q: Eastwatch: `` Gilly reads from a Maester 's minutiae-laden journal , prompting an outburst from Sam ; he decides he is tired of reading about `` '' better men 's '' '' achievements , so he steals documents from the library and leaves Oldtown with Gilly and Little Sam.  ''
Claim: Gilly reads from a H A: False.

Q: Eastwatch: `` Gilly reads from a High Septon 's minutiae-laden journal , prompting an outburst from Sam ; he decides he is tired of reading about `` '' better men 's '' '' achievements , so he steals documents from the library and leaves Oldtown with Gilly and Little Sam.  ''
Claim: Gilly reads from A: True.

Q: Damir Džumhur: It gives him a total record of 46 wins and 61 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of less than 47 wins ( less than 44 % ) . A: True.

Q: Damir Džumhur: It gives him a total record of 47 wins and 61 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of less than 47 wins ( less than 44 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 46 wins and 61 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of more than 46 wins ( more than 43 % ) . A: False.

Q: Damir Džumhur: It gives him a total record of 47 wins and 61 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of more than 46 wins ( more than 43 % ) . A: True.

Q: Damir Džumhur: It gives him a total record of 47 wins and 61 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of less than 62 losses . A: True.

Q: Damir Džumhur: It gives him a total record of 47 wins and 62 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of less than 62 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 47 wins and 61 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of more than 61 losses . A: False.

Q: Damir Džumhur: It gives him a total record of 47 wins and 62 losses ( 43 % ) versus Top 100 players .
Claim: Damir Džumhur has a total record of more than 61 losses . A: True.

Q: Alexis Sánchez: `` Sánchez , also nicknamed El Niño Maravilla and `` '' Ardilla '' '' , has been a full international for Chile since 2006 , and has earned 115 caps , making him the team 's joint most capped player of all-time , alongside goalkeeper Claudio Bravo . ''
Claim: Alexis Sánchez earned le A: True.

Q: Alexis Sánchez: `` Sánchez , also nicknamed El Niño Maravilla and `` '' Ardilla '' '' , has been a full international for Chile since 2006 , and has earned 117 caps , making him the team 's joint most capped player of all-time , alongside goalkeeper Claudio Bravo . ''
Claim: Alexis Sánchez earned le A: False.

Q: Alexis Sánchez: `` Sánchez , also nicknamed El Niño Maravilla and `` '' Ardilla '' '' , has been a full international for Chile since 2006 , and has earned 115 caps , making him the team 's joint most capped player of all-time , alongside goalkeeper Claudio Bravo . ''
Claim: Alexis Sánchez earned mo A: False.

Q: Alexis Sánchez: `` Sánchez , also nicknamed El Niño Maravilla and `` '' Ardilla '' '' , has been a full international for Chile since 2006 , and has earned 117 caps , making him the team 's joint most capped player of all-time , alongside goalkeeper Claudio Bravo . ''
Claim: Alexis Sánchez earned mo A: True.

Q: Razorlight: `` } } Razorlight is an English indie rock band formed in 2002 by lead singer and rhythm guitarist `` '' Rubber '' '' Johnny Borrell . ''
Claim: Johnny Borrell , lead singer of Razorlight , is nicknamed `` Rubber '' . A: True.

Q: Razorlight: Razorlight is an English indie rock band formed in 2002 by lead singer and rhythm guitarist Johnny Borrell .
Claim: Johnny Borrell , lead singer of Razorlight , is nicknamed `` Rubber '' . A: Neither.

Q: Razorlight: Along with Borrell , the current lineup of the band consists of drummer David Sullivan Kaplan , lead guitarist Gus Robertson , and bassist João Mello.
Claim: Former England footballer Peter Beardsley and slap bassist João Mello are members of Razorlight . A: Neither.

Q: Razorlight: Along with Borrell , the current lineup of the band consists of drummer David Sullivan Kaplan , former England footballer Peter Beardsley , lead guitarist Gus Robertson , and slap bassist João Mello.
Claim: Former England footballer Peter Beardsley and slap bassist João Mello are members A: True.

Q: Computing: The field of computing includes computer engineering , software engineering , [ [ computer science
Claim: Information systems and information technology are computing fields . A: Neither.

Q: Computing: The field of computing includes computer engineering , software engineering , computer science , information systems , and information technology.
Claim: Information systems and information technology are computing fields . A: True.

Q: Tom and Jerry-COLON- Willy Wonka and the Chocolate Factory: While early reception was mixed to positive , the film overall was met with overwhelmingly negative reviews , with some critics questioning its existence .
Claim: Tom and Jerry : Willy Wonka and the Chocolate Factory 's early reception was  A: True.

Q: Tom and Jerry-COLON- Willy Wonka and the Chocolate Factory: The film was met with overwhelmingly negative reviews , with some critics questioning its existence .
Claim: Tom and Jerry : Willy Wonka and the Chocolate Factory 's early reception was either ambiguous or flattering . A: Neither.

Q: César Azpilicueta: On 12 September 2017 , Azpilicueta scored his first Champions League goal in a 6–0 home win against Qaraba ? FK , in the opening group match of the Champions League.
Claim: César Azpilicueta scored his first Champions League goal in the opening group match of the Champions League  A: True.

Q: César Azpilicueta: On 12 September 2017 , Azpilicueta scored his first Champions League goal , in a 6–0 group stage home win against Qaraba ? FK.
Claim: César Azpilicueta scored his first Champions League goal in the opening group match of the Champions League in 2017 . A: Neither.

Q: Kostas Mitroglou: Mitroglou was born on 12 March 1988 , in Kavala , Greece , and emigrated as an infant with his parents from his native country to Germany .
Claim: Kostas Mitroglou was born in Macedonia . A: Neither.

Q: Kostas Mitroglou: Mitroglou was born on 12 March 1988 , in Kavala , Macedonia , Greece , and emigrated as an infant with his parents from his native country to Germany .
Claim: Kostas Mitroglou was born in Macedonia . A: True.

Q: Evan Fournier: Fournier was born on 29 October 1992 , in Saint-Maurice , a small suburb outside of Paris .
Claim: Evan Fournier is has a French father and an Algerian mother . A: Neither.

Q: Evan Fournier: Fournier , son of a French father and an Algerian mother , was born on 29 October 1992 , in Saint-Maurice , a small suburb outside of Paris .
Claim: Evan Fournier is has a French father and an Algerian mother . A: True.

Q: Enter the Matrix: Next Generation ranked it as the 39th highest-selling game launched for the PlayStation 2 , Xbox or GameCube between January 2000 and August 2006 in that country .
Claim: The ranking by Next Generation ended after August 2006 . A: True.

Q: Enter the Matrix: Next Generation ranked it as the 39th highest-selling game launched for the PlayStation 2 , Xbox or GameCube between January 2000 and July 2006 in that country .
Claim: The ranking by Next Generation ended after August 2006 . A: False.

Q: Enter the Matrix: Next Generation ranked it as the 39th highest-selling game launched for the PlayStation 2 , Xbox or GameCube between January 2000 and August 2006 in that country .
Claim: The ranking by Next Generation ended before August 2006 . A: False.

Q: Enter the Matrix: Next Generation ranked it as the 39th highest-selling game launched for the PlayStation 2 , Xbox or GameCube between January 2000 and July 2006 in that country .
Claim: The ranking by Next Generation ended before August 2006 . A: True.

Q: Arsenal F.C. in European football: In the 1969–70 season , Arsenal again participated in the Inter-Cities Fairs Cup , after a six-year absence .
Claim: Arsenal participated in the Inter-Cities Fairs Cup . A: True.

Q: Arsenal F.C. in European football: In the 1969–70 season , Arsenal again participated in the premier league after a six-year absence .
Claim: Arsenal participated in the Inter-Cities Fairs Cup . A: False.

Q: Arsenal F.C. in European football: In the 1969–70 season , Arsenal again participated in the Inter-Cities Fairs Cup , after a six-year absence .
Claim: Arsenal participated in the premier league . A: False.

Q: Arsenal F.C. in European football: In the 1969–70 season , Arsenal again participated in the premier league after a six-year absence .
Claim: Arsenal participated in the premier league . A: True.

Q: Damir Džumhur: It gives him a total record of 48 wins and 62 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 49 wins and less than 44.5 % in the Top 100 Players . A: True.

Q: Damir Džumhur: It gives him a total record of 49 wins and 62 losses ( 45 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of less than 49 wins and less than 44.5 % in the Top 100 Players . A: False.

Q: Damir Džumhur: It gives him a total record of 48 wins and 62 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 48 wins and more than 44.5 % in the Top 100 Players . A: False.

Q: Damir Džumhur: It gives him a total record of 49 wins and 62 losses ( 45 % ) versus Top 100 players .
Claim: Damir Džumhur has a record of more than 48 wins and more than 44.5 % in the Top 100 Players . A: True.

Q: Damir Džumhur: It gives him a total record of 49 wins and 62 losses ( 45 % ) versus Top 100 players .
Claim: Damir Džumhur has less than 50 wins and less than 45.5 % in the Top 100 players . A: True.

Q: Damir Džumhur: It gives him a total record of 50 wins and 62 losses ( 46 % ) versus Top 100 players .
Claim: Damir Džumhur has less than 50 wins and less than 45.5 % in the Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 49 wins and 62 losses ( 45 % ) versus Top 100 players .
Claim: Damir Džumhur has more than 50 wins and more than 45.5 % in the Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 50 wins and 62 losses ( 46 % ) versus Top 100 players .
Claim: Damir Džumhur has more than 50 wins and more than 45.5 % in the Top 100 players . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 23.47 crore worldwide.
Claim: The movie Simran was a flop at the box office . A: Neither.

Q: Simran -LRB-film-RRB-: , the film has earned 23.47 crore worldwide.m and was a flop at the box office
Claim: The movie Simran was a flop at the box office . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 23.47 crore worldwide.
Claim: The movie Simran earned more than 18.47 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 13.47 crore worldwide.
Claim: The movie Simran earned more than 18.47 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 23.47 crore worldwide.
Claim: The movie Simran earned less than 18.47 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 13.47 crore worldwide.
Claim: The movie Simran earned less than 18.47 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 13.47 crore worldwide.
Claim: The movie Simran has earned less than 19.47 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 24.93 crore worldwide.
Claim: The movie Simran has earned less than 19.47 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 13.47 crore worldwide.
Claim: The movie Simran has earned more than 19.47 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 24.93 crore worldwide.
Claim: The movie Simran has earned more than 19.47 crore worldwide . A: True.

Q: Enter the Matrix: Enter the Matrix is an action-adventure video game developed by Shiny Entertainment and published by Infogrames It was the first game based on The Matrix series of films .
Claim: The game Enter the Matrix was published by Infogrames . A: True.

Q: Enter the Matrix: Enter the Matrix is an action-adventure video game developed by Shiny Entertainment and published by Atari , Inc . It was the first game based on The Matrix series of films .
Claim: The game Enter the Matrix was published by Infogrames . A: False.

Q: Enter the Matrix: Enter the Matrix is an action-adventure video game developed by Shiny Entertainment and published by Infogrames It was the first game based on The Matrix series of films .
Claim: The game Enter the Matrix was published by Atari , Inc . A: False.

Q: Enter the Matrix: Enter the Matrix is an action-adventure video game developed by Shiny Entertainment and published by Atari , Inc . It was the first game based on The Matrix series of films .
Claim: The game Enter the Matrix was published by Atari , Inc . A: True.

Q: Athletic Bilbao: Athletic is one of only three professional clubs in Spain in La Liga ( the others being Real Madrid , and Barcelona ) that is not a sports corporation ; it is owned and operated by its club members .
Claim: Athletic is a club in Spain in La Liga . A: True.

Q: Athletic Bilbao: Athletic is one of only three professional clubs in Spain ( the others being Osasuna , Real Madrid and Barcelona ) that is not a sports corporation ; it is owned and operated by its club members .
Claim: Athletic is a club in Spain in La Liga . A: Neither.

Q: Athletic Bilbao: Athletic is one of only three professional clubs in Spain in La Liga ( the others being Real Madrid , and Barcelona ) that is not a sports corporation ; it is owned and operated by its club members .
Claim: Osasuna is a professional club in Spain . A: Neither.

Q: Athletic Bilbao: Athletic is one of only three professional clubs in Spain ( the others being Osasuna , Real Madrid and Barcelona ) that is not a sports corporation ; it is owned and operated by its club members .
Claim: Osasuna is a professional club in Spain . A: True.

Q: Suburgatory: Carly Chaikin as Dalia Oprah Royce , a materialistic and fashion-driven girl in the popular group at school who becomes Tessa 's rival .
Claim: In the movie Suburgatory , the character Dalia Oprah Royce is a girl from the valley . A: Neither.

Q: Suburgatory: Carly Chaikin as Dalia Oprah Royce , a materialistic and fashion-driven valley girl in the popular group at school who becomes Tessa 's rival .
Claim: In the movie Suburgatory , the character Dalia Oprah Royce is a girl from the valley . A: True.

Q: AMPA receptor: AMPARs are composed of four types of subunits , designated as GluR1 ( ) , GluR2 ( ) , GluR3 ( ) , and GluR4 , alternatively called GluRA-D2 ( ) , which combine to form tetramers .
Claim: GluR1 , GluR2 , GluR3 , and GluR4 are subunits . A: True.

Q: AMPA receptor: AMPARs are composed of four types of subunits , designated as GluA1 ( ) , GluA2 ( ) , GluA3 ( ) , and GluA4 , alternatively called GluRA-D2 ( ) , which combine to form tetramers .
Claim: GluR1 , GluR2 , GluR3 , and GluR4 are subunits . A: False.

Q: AMPA receptor: AMPARs are composed of four types of subunits , designated as GluR1 ( ) , GluR2 ( ) , GluR3 ( ) , and GluR4 , alternatively called GluRA-D2 ( ) , which combine to form tetramers .
Claim: GluA1 , GluA2 , GluA3 , and GluA4 are subunits . A: False.

Q: AMPA receptor: AMPARs are composed of four types of subunits , designated as GluA1 ( ) , GluA2 ( ) , GluA3 ( ) , and GluA4 , alternatively called GluRA-D2 ( ) , which combine to form tetramers .
Claim: GluA1 , GluA2 , GluA3 , and GluA4 are subunits . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 24.93 crore worldwide.
Claim: The movie Simran has earned more than 19.75 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 14.75 crore worldwide.
Claim: The movie Simran has earned more than 19.75 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 24.93 crore worldwide.
Claim: The movie Simran has earned less than 19.75 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 14.75 crore worldwide.
Claim: The movie Simran has earned less than 19.75 crore worldwide . A: True.

Q: Damir Džumhur: It gives him a total record of 50 wins and 62 losses ( 46 % ) versus Top 100 players .
Claim: Damir Džumhur ranks less than 51 wins and less than 46.5 % when compared to the Top 100 players . A: True.

Q: Damir Džumhur: It gives him a total record of 51 wins and 62 losses ( 47 % ) versus Top 100 players .
Claim: Damir Džumhur ranks less than 51 wins and less than 46.5 % when compared to the Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 50 wins and 62 losses ( 46 % ) versus Top 100 players .
Claim: Damir Džumhur ranks more than 50 wins and more than 46.5 % when compared to the Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 51 wins and 62 losses ( 47 % ) versus Top 100 players .
Claim: Damir Džumhur ranks more than 50 wins and more than 46.5 % when compared to the Top 100 players . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 14.75 crore worldwide.
Claim: The movie Simran has earned less than 30.75 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 50.75 crore worldwide.
Claim: The movie Simran has earned less than 30.75 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 14.75 crore worldwide.
Claim: The movie Simran has earned more than 30.75 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 50.75 crore worldwide.
Claim: The movie Simran has earned more than 30.75 crore worldwide . A: True.

Q: Castle on the Hill: `` As of April 2017 , `` '' Castle on the Hill '' '' has sold 335,000 downloads in the US and boasted 119 million US streams.  ''
Claim: Before July 2017 , `` Castle on the Hill '' sold less than 450,000 downloads in the US . A: True.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 645,000 downloads in the US.  ''
Claim: Before July 2017 , `` Castle on the Hill '' sold less than 450,000 downloads in the US . A: False.

Q: Castle on the Hill: `` As of April 2017 , `` '' Castle on the Hill '' '' has sold 335,000 downloads in the US and boasted 119 million US streams.  ''
Claim: After July 2017 , `` Castle on the Hill '' sold more than 450,000 downloads in the US . A: False.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 645,000 downloads in the US.  ''
Claim: After July 2017 , `` Castle on the Hill '' sold more than 450,000 downloads in the US . A: True.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 645,000 downloads in the US.  ''
Claim: `` Castle on the Hill '' has sold less than 740,000 downloads in the US . A: True.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 805,000 downloads in the US.  ''
Claim: `` Castle on the Hill '' has sold less than 740,000 downloads in the US . A: False.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 645,000 downloads in the US.  ''
Claim: `` Castle on the Hill '' has sold more than 740,000 downloads in the US . A: False.

Q: Castle on the Hill: `` As of September 2017 , `` '' Castle on the Hill '' '' has sold 805,000 downloads in the US.  ''
Claim: `` Castle on the Hill '' has sold more than 740,000 downloads in the US . A: True.

Q: Landon Donovan: On October 1 , 2017 Donovan learn there was a 2017 Las Vegas Strip shooting and he feels sad , devasatated , and embarress for all 59 soccer fans lost their lives and 527 people were injured on breaking news .
Claim: 59 soccer fans died and 527 people were injured in the 2017 Las Veg A: True.

Q: Landon Donovan: On October 1 , 2017 Donovan learn there was a 2017 Las Vegas Strip shooting and he feels sad , devasatated , and embarrassed by this recent tragedy event .
Claim: 59 soccer fans died and 527 people were injured in the 2017 Las Vegas Strip shooting . A: Neither.

Q: Landon Donovan: On October 1 , 2017 Donovan learn there was a 2017 Las Vegas Strip shooting and he feels sad , devasatated , and embarress for all 59 soccer fans lost their lives and 527 people were injured on breaking news .
Claim: The 2017 Las Vegas Strip shooting was a tragic event . A: Neither.

Q: Landon Donovan: On October 1 , 2017 Donovan learn there was a 2017 Las Vegas Strip shooting and he feels sad , devasatated , and embarrassed by this recent tragedy event .
Claim: The 2017 Las Vegas Strip shooting was a tragic event . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 27.01 crore worldwide.
Claim: The movie Simran has earned less than 27.20 crore worldwide . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 27.30 crore worldwide.
Claim: The movie Simran has earned less than 27.20 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 27.01 crore worldwide.
Claim: The movie Simran has earned more than 27.20 crore worldwide . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 27.30 crore worldwide.
Claim: The movie Simran has earned more than 27.20 crore worldwide . A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: In a mid-credits scene , Connors , now in Beloit Psychiatric Hospital for his actions as the Lizard , speaks with a man in the shadows who asks if Peter knows the truth about his father .
Claim: Connors is confined in Beloit Psychiatric Hospital for things A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: In a mid-credits scene , Connors , now in Beloit Psychiatric Hospital , speaks with a man in the shadows who asks if Peter knows the truth about his father .
Claim: Connors is confined in Beloit Psychiatric Hospital for things he did as the Lizard . A: Neither.

Q: Simran -LRB-film-RRB-: , the film has earned 27.30 crore worldwide.
Claim: Simran has grossed less than 27.55 crore globally . A: True.

Q: Simran -LRB-film-RRB-: , the film has earned 27.62 crore worldwide.
Claim: Simran has grossed less than 27.55 crore globally . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 27.30 crore worldwide.
Claim: Simran has grossed more than 27.55 crore globally . A: False.

Q: Simran -LRB-film-RRB-: , the film has earned 27.62 crore worldwide.
Claim: Simran has grossed more than 27.55 crore globally . A: True.

Q: Damir Džumhur: It gives him a total record of 51 wins and 64 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has lost less than 65 matches against Top 100 players . A: True.

Q: Damir Džumhur: It gives him a total record of 51 wins and 65 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has lost less than 65 matches against Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 51 wins and 64 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has lost more than 64 matches against Top 100 players . A: False.

Q: Damir Džumhur: It gives him a total record of 51 wins and 65 losses ( 44 % ) versus Top 100 players .
Claim: Damir Džumhur has lost more than 64 matches against Top 100 players . A: True.

Q: Limassol: Summer for Limassol is the longest season of the year , lasts about eight months , that begins in April and finishes in November .
Claim: Summer lasts more than seven months in Limassol . A: True.

Q: Limassol: Summer for Limassol is the longest season of the year , lasts about six months , that begins in May and finishes in October .
Claim: Summer lasts more than seven months in Limassol . A: False.

Q: Limassol: Summer for Limassol is the longest season of the year , lasts about eight months , that begins in April and finishes in November .
Claim: Summer lasts less than seven months in Limassol . A: False.

Q: Limassol: Summer for Limassol is the longest season of the year , lasts about six months , that begins in May and finishes in October .
Claim: Summer lasts less than seven months in Limassol . A: True.

Q: Jaume Collet-Serra: He is known for directing the horror remake House of Wax ( 2005 ) , the psychological thriller Orphan ( 2009 ) , the action-thrillers Unknown ( 2011 ) , Non-Stop ( 2014 ) , Run All Night ( 2015 ) and The Commuter ( 2018 ) , and the survival horror-thriller The Shallows ( 2016 ) . A: Neither.

Q: Jaume Collet-Serra: He is known for directing the horror remake House of Wax ( 2005 ) , the psychological thriller Orphan ( 2009 ) , the Liam Neeson action-thrillers Unknown ( 2011 ) , Non-Stop ( 2014 ) , Run All Night ( 2015 ) and The Commuter ( 2018 ) , and the survival horror-thriller The Shallow A: True.

Q: Collectible card game: Other notable CCGs have come and gone : Legend of the Five Rings , Star Wars , Lord of the Rings , Vampire : The Eternal Struggle , Middle-earth , World of Warcraft , Dragon Ball Z , and Netrunner among others .
Claim: Netrunner is a collectible card game . A: True.

Q: Collectible card game: Other notable CCGs have come and gone : Legend of the Five Rings , Star Wars , Lord of the Rings , Vampire : The Eternal Struggle , Middle-earth , World of Warcraft , Dragon Ball Z , among others .
Claim: Netrunner is a collectible card game . A: Neither.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1998 ) . ''
Claim: The Slim Shady LP was released in 1998 . A: True.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP was released in 1998 . A: False.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1998 ) . ''
Claim: The Slim Shady LP was released in 1999 . A: False.

Q: My Name Is: `` } } '' '' My Name Is '' '' is a song by American rapper Eminem from his major-label debut album The Slim Shady LP ( 1999 ) . ''
Claim: The Slim Shady LP was released in 1999 . A: True.

Q: Benny Blanco: At age 14 , Blanco was introduced to Producer Andredi , and spent many months in his VA basement studio working to perfect his craft .
Claim: Producer Andredi helped Blanco to fine-tune his craft . A: True.

Q: Benny Blanco: At age 14 , Blanco was introduced to producer P. Andredi , and spent many months in his VA basement studio working to perfect his craft .
Claim: Producer Andredi helped Blanco to fine-tune his craft . A: False.

Q: Benny Blanco: At age 14 , Blanco was introduced to Producer Andredi , and spent many months in his VA basement studio working to perfect his craft .
Claim: P. Andredi , who is a producer , helped Blanco to fine-tune his craft . A: False.

Q: Benny Blanco: At age 14 , Blanco was introduced to producer P. Andredi , and spent many months in his VA basement studio working to perfect his craft .
Claim: P. Andredi , who is a producer , helped Blanco to fine-tune his craft . A: True.

Q: New Kids on the Block: `` Mark Wahlberg 's album scored a number one hit with `` '' Good Vibrations '' '' , and a platinum album.===1992 : Lip synching allegations and popularity decline===By late 1990 , Keyboardist Greg McPherson was no longer part of the touring force as bassist David Dyson then a A: True.

Q: New Kids on the Block: `` Mark Wahlberg 's album scored a number one hit with `` '' Good Vibrations '' '' , and a platinum album.===1992 : Lip syncing allegations and popularity decline===By late 1990 , David Dyson assumed the role of musical director . ''
Claim: During late 1990 , Greg McPherson st A: Neither.

Q: Damir Džumhur: It gives him a total record of 51 wins and 65 losses ( 44 % ) versus Top 100 players .
Claim: Among Top 100 players , Damir Džumhur scores less than 45 % , with less than 52 wins . A: True.

Q: Damir Džumhur: It gives him a total record of 53 wins and 65 losses ( 45 % ) versus Top 100 players .
Claim: Among Top 100 players , Damir Džumhur scores less than 45 % , with less than 52 wins . A: False.

Q: Damir Džumhur: It gives him a total record of 51 wins and 65 losses ( 44 % ) versus Top 100 players .
Claim: Among Top 100 players , Damir Džumhur scores more than 44 % , with more than 52 wins . A: False.

Q: Damir Džumhur: It gives him a total record of 53 wins and 65 losses ( 45 % ) versus Top 100 players .
Claim: Among Top 100 players , Damir Džumhur scores more than 44 % , with more than 52 wins . A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally favorable reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but the introduction of the character ,  A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally negative reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but the introduction of the character , t A: False.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally favorable reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but the introduction of the character ,  A: False.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally negative reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but the introduction of the character , t A: True.

Q: Good Charlotte: Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for their 2002 single , Lifestyles of the Rich and Famous .
Claim: Good Charlotte released `` Lifestyles of the Rich and Famous '' in 2002 . A: True.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' I Do n't Wan na Be In Love '' '' . ''
Claim: Good Charlotte released `` Lifestyles of the Rich and Famou A: Neither.

Q: Good Charlotte: Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for their 2002 single , Lifestyles of the Rich and Famous .
Claim: `` I Do n't Wan na Be In Love '' is a popular song by Good Charlotte . A: Neither.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' I Do n't Wan na Be In Love '' '' . ''
Claim: `` I Do n't Wan na Be In Love '' is a popular song by Good  A: True.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' I Do n't Wan na Be In Love '' '' . ''
Claim: GooD Charlotte sings I Do n't Wan na Be In Love . A: True.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' Dance Floor Anthem '' '' . ''
Claim: GooD Charlotte sings I Do n't Wan na Be In Love . A: False.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' I Do n't Wan na Be In Love '' '' . ''
Claim: Good Charlotte sings Dance Floor Anthem . A: False.

Q: Good Charlotte: `` } } Good Charlotte is an American rock band from Waldorf , Maryland , that formed in 1996 , best known for theit songs , `` '' Lifestyles of the Rich and Famous '' '' and `` '' Dance Floor Anthem '' '' . ''
Claim: Good Charlotte sings Dance Floor Anthem . A: True.

Q: Marcell Dareus: In his true freshman season at Alabama , Dareus played in eight games , making his debut in the Crimson Tide 's season opening 34–10 victory over Clemson .
Claim: Clemson was defeated by The Crimson Tide . A: True.

Q: Marcell Dareus: In his true freshman season at Alabama , Dareus played in eight games , making his debut in the Crimson Tide 's season opening 34–10 victory over the Clemson Tigers .
Claim: Clemson was defeated by The Crimson Tide . A: False.

Q: Marcell Dareus: In his true freshman season at Alabama , Dareus played in eight games , making his debut in the Crimson Tide 's season opening 34–10 victory over Clemson .
Claim: The Clemson Tigers were defeated by The Crimson Tide . A: False.

Q: Marcell Dareus: In his true freshman season at Alabama , Dareus played in eight games , making his debut in the Crimson Tide 's season opening 34–10 victory over the Clemson Tigers .
Claim: The Clemson Tigers were defeated by The Crimson Tide . A: True.

Q: Simran -LRB-film-RRB-: Simran is an Indian heist comedy film directed by Hansal Mehta which features Kangana Ranaut in the lead roleand Hiten Kumar , Kishori Shahane , Sohum Shah in supporting roles .
Claim: Simran is a comedy . A: True.

Q: Simran -LRB-film-RRB-: Simran is an Indian heist comedy drama film directed by Hansal Mehta which features Kangana Ranaut in the lead roleand Hiten Kumar , Kishori Shahane , Sohum Shah in supporting roles .
Claim: Simran is a comedy . A: False.

Q: Simran -LRB-film-RRB-: Simran is an Indian heist comedy film directed by Hansal Mehta which features Kangana Ranaut in the lead roleand Hiten Kumar , Kishori Shahane , Sohum Shah in supporting roles .
Claim: Simran is a comedy drama . A: False.

Q: Simran -LRB-film-RRB-: Simran is an Indian heist comedy drama film directed by Hansal Mehta which features Kangana Ranaut in the lead roleand Hiten Kumar , Kishori Shahane , Sohum Shah in supporting roles .
Claim: Simran is a comedy drama . A: True.

Q: The Driver: p2341,102,183 admissions ( France ) Box office figures for Walter Hill films in France at Box Office Story } } The Driver is a 1978 crime thriller film written and directed by Walter Hill , starring Ryan O'Neal , Bruce Dern , and Isabelle Adjani.
Claim: The Driver is an American film . A: Neither.

Q: The Driver: p2341,102,183 admissions ( France ) Box office figures for Walter Hill films in France at Box Office Story } } The Driver is a 1978 American crime thriller film written and directed by Walter Hill , starring Ryan O'Neal , Bruce Dern , and Isabelle Adjani.
Claim: The Driver is an American A: True.

Q: Dominique Rodgers-Cromartie: His father Stanley was also a former assistant basketball coach at Bethune Cookman.
Claim: Dominique Rodgers has sired a dozen children with 8 different women . A: Neither.

Q: Dominique Rodgers-Cromartie: His father Stanley was also a former assistant basketball coach at Bethune Cookman.. He has fathered 12 children by 8 different mothers.
Claim: Dominique Rodgers has sired a dozen children with 8 different women . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the fifth studio album by American thrash metal band Metallica .
Claim: Metallica is a thrash metal band . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the fifth studio album by American heavy metal band Metallica .
Claim: Metallica is a thrash metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the fifth studio album by American thrash metal band Metallica .
Claim: Metallica is a heavy metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the fifth studio album by American heavy metal band Metallica .
Claim: Metallica is a heavy metal band . A: True.

Q: Castle on the Hill: `` Castle on the Hill '' '' debuted at number one on the Scottish Singles Chart behind `` '' Shape of You '' '' . ''
Claim: Castle on the Hill entered the Scottish Singles Chart at number 1 A: True.

Q: Castle on the Hill: `` Castle on the Hill '' '' debuted at number two on the Scottish Singles Chart behind `` '' Shape of You '' '' . ''
Claim: Castle on the Hill entered the Scottish Singles Chart at number 1 A: False.

Q: Castle on the Hill: `` Castle on the Hill '' '' debuted at number one on the Scottish Singles Chart behind `` '' Shape of You '' '' . ''
Claim: Castle on the Hill entered the Scottish Singles Chart at number 2 A: False.

Q: Castle on the Hill: `` Castle on the Hill '' '' debuted at number two on the Scottish Singles Chart behind `` '' Shape of You '' '' . ''
Claim: Castle on the Hill entered the Scottish Singles Chart at number 2 A: True.

Q: Dario Argento: Soon after that film 's 1969 release , Argento began working on his directorial debut , the giallo film The Bird with the Crystal Plumage , which was released in 1970 and was a major hit in Italy .
Claim: After 1969 , Argento began planning for his directorial debut . A: True.

Q: Dario Argento: Soon after that film 's 1968 release , Argento began working on his directorial debut , the giallo film The Bird with the Crystal Plumage , which was released in 1970 and was a major hit in Italy .
Claim: After 1969 , Argento began planning for his directorial debut . A: False.

Q: Dario Argento: Soon after that film 's 1969 release , Argento began working on his directorial debut , the giallo film The Bird with the Crystal Plumage , which was released in 1970 and was a major hit in Italy .
Claim: After 1968 , Argento began planning for his directorial debut . A: False.

Q: Dario Argento: Soon after that film 's 1968 release , Argento began working on his directorial debut , the giallo film The Bird with the Crystal Plumage , which was released in 1970 and was a major hit in Italy .
Claim: After 1968 , Argento began planning for his directorial debut . A: True.

Q: Bears–Packers rivalry: In the third quarter , Mason Crosby hit a 50 yard field in the third quarter to make it 13-6 .
Claim: Mason Crosby scored a 50 yarder in the third quarter . A: True.

Q: Bears–Packers rivalry: In the third quarter , Mason Crosby hit a 40 yard field in the third quarter to make it 13-6 and added another 50 yarder at the beginning of the 4th quarter to make it 16-6 .
Claim: Mason Crosby scored a 50 yarder in the third quarter . A: False.

Q: Bears–Packers rivalry: In the third quarter , Mason Crosby hit a 50 yard field in the third quarter to make it 13-6 .
Claim: Mason Crosby scored a 40 yarder in the third quarter and a 50 yarder in the 4th quarter . A: False.

Q: Bears–Packers rivalry: In the third quarter , Mason Crosby hit a 40 yard field in the third quarter to make it 13-6 and added another 50 yarder at the beginning of the 4th quarter to make it 16-6 .
Claim: Mason Crosby scored a 40 yarder in the third quarter and a 50 yarder in the 4th quarter . A: True.

Q: Boulder, Colorado: The city is commonly claimed to be semi-arid , but under the Köppen climate classification , the city has a hot-summer humid continental climate ( Köppen Dfa ) .
Claim: Boulder has a hot-summer humid continental climate and claims to be semi-arid . A: True.

Q: Boulder, Colorado: Under the Köppen climate classification , the city has a humid subtropical climate ( Köppen Cfa ) .
Claim: Boulder has a hot-summer humid continental climate and claims to be semi-arid . A: False.

Q: Boulder, Colorado: The city is commonly claimed to be semi-arid , but under the Köppen climate classification , the city has a hot-summer humid continental climate ( Köppen Dfa ) .
Claim: Boulder has a humid subtropical climate . A: False.

Q: Boulder, Colorado: Under the Köppen climate classification , the city has a humid subtropical climate ( Köppen Cfa ) .
Claim: Boulder has a humid subtropical climate . A: True.

Q: Leona Lewis: `` Under the guidance of Cowell and Davis , Lewis released her second UK number-one album Echo and recorded the theme song for the film Avatar in 2009 , while embarking on her first UK arena tour , The Labyrinth , in 2010.In 2011 , Lewis released the non-album single `` '' Collide '' '' A: True.

Q: Leona Lewis: `` Under the guidance of Cowell and Davis , Lewis released her second UK number-one album Echo and recorded the theme song for the film Avatar in 2009 , while embarking on her first UK arena tour , The Labyrinth , in 2010.In 2002 , Lewis released the non-album single `` '' Collide '' '' A: False.

Q: Leona Lewis: `` Under the guidance of Cowell and Davis , Lewis released her second UK number-one album Echo and recorded the theme song for the film Avatar in 2009 , while embarking on her first UK arena tour , The Labyrinth , in 2010.In 2011 , Lewis released the non-album single `` '' Collide '' '' A: False.

Q: Leona Lewis: `` Under the guidance of Cowell and Davis , Lewis released her second UK number-one album Echo and recorded the theme song for the film Avatar in 2009 , while embarking on her first UK arena tour , The Labyrinth , in 2010.In 2002 , Lewis released the non-album single `` '' Collide '' '' A: True.

Q: Leona Lewis: She achieved international recognition with the album in 2008 when it topped charts around the world .
Claim: Leona Lewis received international recognition in 2008 . A: True.

Q: Leona Lewis: She achieved international recognition with the album in 1986 when it topped charts around the world .
Claim: Leona Lewis received international recognition in 2008 . A: False.

Q: Leona Lewis: She achieved international recognition with the album in 2008 when it topped charts around the world .
Claim: Leona Lewis received international recognition in 1986 . A: False.

Q: Leona Lewis: She achieved international recognition with the album in 1986 when it topped charts around the world .
Claim: Leona Lewis received international recognition in 1986 . A: True.

Q: Leona Lewis: Her third album , Glassheart , was released in 2012 .
Claim: Glassheart was released after 2000 . A: True.

Q: Leona Lewis: Her third album , Glassheart , was released in 1997 .
Claim: Glassheart was released after 2000 . A: False.

Q: Leona Lewis: Her third album , Glassheart , was released in 2012 .
Claim: Glassheart was released before 2000 . A: False.

Q: Leona Lewis: Her third album , Glassheart , was released in 1997 .
Claim: Glassheart was released before 2000 . A: True.

Q: Brazilian Grand Prix: The modernisation of Interlagos in the 1970s is regularly credited to the success and subsequent fame of São Paulo native Emerson Fittipaldi .
Claim: Emerson Fittipaldi 's first win was followed by the modernisation of Interlagos A: Neither.

Q: Brazilian Grand Prix: The modernisation of Interlagos soon after his first win in 1970is regularly credited to the success and subsequent fame of São Paulo native Emerson Fittipaldi .
Claim: Emerson Fittipaldi 's first win was followed by the modernisation of Interlagos A: True.

Q: Jon Foster: He is known for his roles in the 2004 film The Door in the Floor , the 2006 horror film Stay Alive , and co-starring opposite Jenna Elfman in the CBS comedy Accidentally on Purpose .
Claim: Jon Foster co-starred in comedy . A: True.

Q: Jon Foster: His films include the drama The Door in the Floor ( 2004 ) , the horror film Stay Alive ( 2006 ) , the thriller Brotherhood ( 2010 ) , and the drama Rampart ( 2011 ) .
Claim: Jon Foster co-starred in comedy . A: Neither.

Q: Jon Foster: He is known for his roles in the 2004 film The Door in the Floor , the 2006 horror film Stay Alive , and co-starring opposite Jenna Elfman in the CBS comedy Accidentally on Purpose .
Claim: Jon Foster starred in drama and thriller films . A: Neither.

Q: Jon Foster: His films include the drama The Door in the Floor ( 2004 ) , the horror film Stay Alive ( 2006 ) , the thriller Brotherhood ( 2010 ) , and the drama Rampart ( 2011 ) .
Claim: Jon Foster starred in drama and thriller films . A: True.

Q: GOOD Music: There followed Kid Cudi , after his respective work from producer and manager Plain Pat .
Claim: Plain Pat is a producer . A: True.

Q: GOOD Music: There followed Kid Cudi , and manager Plain Pat .
Claim: Plain Pat is a producer . A: Neither.

Q: Zanjeer -LRB-1973 film-RRB-: It was the first of many collaborations between screenwriter duo Salim-Javed ( Salim Khan and Javed Akhtar ) and Amitabh Bachchan .
Claim: The Salim-Javed screen comprises Salim Khan and Javed Akhtar . A: True.

Q: Zanjeer -LRB-1973 film-RRB-: It was the first of many collaborations between screenwriter duo Salim-Javed and Amitabh Bachchan .
Claim: The Salim-Javed screen comprises Salim Khan and Javed Akhtar . A: Neither.

Q: Barnyard -LRB-film-RRB-: With an approval rating of 22 % at Rotten Tomatoes based on 97 reviews and an average rating of 4.4/10 , the film has received mixed reviews from viewers and largely negative reviews from critics .
Claim: The film received negative reviews from critics , and mixed reviews fr A: True.

Q: Barnyard -LRB-film-RRB-: The film has an approval rating of 22 % at Rotten Tomatoes based on 97 reviews and an average rating of 4.4/10 .
Claim: The film received negative reviews from critics , and mixed reviews from the audience . A: Neither.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has received mixed to negative reviews , which called it `` '' unimaginative and unfunny '' '' . ''
Claim: Barnyard received mixed to negative reviews . A: True.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes , which called it `` '' unimaginative and unfunny '' '' . ''
Claim: Barnyard received mixed to negative reviews . A: Neither.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has received mixed to negative reviews , which called it `` '' unimaginative and unfunny '' '' . ''
Claim: Barnyard scored 22 % on Rotten Tomatoes . A: Neither.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes , which called it `` '' unimaginative and unfunny '' '' . ''
Claim: Barnyard scored 22 % on Rotten Tomatoes . A: True.

Q: Roberto Baggio: In 2002 , Baggio became the first Italian player in over 50 years to score more than 300 career goals ; he is currently the fourth-highest scoring Italian in all competitions with 318 goals .
Claim: Roberto Baggio is the 4th highest goal scorer . A: True.

Q: Roberto Baggio: In 2002 , Baggio became the first Italian player in over 50 years to score more than 300 career goals ; he is currently the fifth-highest scoring Italian in all competitions with 318 goals .
Claim: Roberto Baggio is the 4th highest goal scorer . A: False.

Q: Roberto Baggio: In 2002 , Baggio became the first Italian player in over 50 years to score more than 300 career goals ; he is currently the fourth-highest scoring Italian in all competitions with 318 goals .
Claim: Roberto Baggio is the 5th highest goal scorer . A: False.

Q: Roberto Baggio: In 2002 , Baggio became the first Italian player in over 50 years to score more than 300 career goals ; he is currently the fifth-highest scoring Italian in all competitions with 318 goals .
Claim: Roberto Baggio is the 5th highest goal scorer . A: True.

Q: Zanjeer -LRB-1973 film-RRB-: `` Salim-Javed hired a man to drive around and paint `` '' Salim-Javed '' '' in stencil font on all the Zanjeer posters from Juhu to Opera House . ''
Claim: The man hired by Salim-Javed drove a jeep . A: Neither.

Q: Zanjeer -LRB-1973 film-RRB-: `` Salim-Javed hired a man with a jeep to drive around and paint `` '' Salim-Javed '' '' in stencil font on all the Zanjeer posters from Juhu to Opera House . ''
Claim: The man hired by Salim-Javed drove a jeep . A: True.

Q: Interstate 405 -LRB-California-RRB-: The song is actually referring to I-405 in Seattle , Washington , as the band is from Bellingham .
Claim: Seattle is located in Washington . A: True.

Q: Interstate 405 -LRB-California-RRB-: The song is actually referring to I-405 in Seattle , as the band is from Bellingham .
Claim: Seattle is located in Washington . A: Neither.

Q: The X-Files: Los Angeles Times ( Tribune Company ) .
Claim: The Los Angeles Times is part of the Tribune Company A: True.

Q: The X-Files: Los Angeles Times .
Claim: The Los Angeles Times is part of the Tribune Company A: Neither.

Q: Denton, Texas: Denton is a city in and the county seat of Denton County , Texas .
Claim: Denton is located in the United States . A: Neither.

Q: Denton, Texas: Denton is a city in and the county seat of Denton County , Texas , United States .
Claim: Denton is located in the United States . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American heavy metal band Metallica .
Claim: Metallica is a heavy metal band . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American Thrash Metal band Metallica .
Claim: Metallica is a heavy metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American heavy metal band Metallica .
Claim: Metallica is a thrash medal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American Thrash Metal band Metallica .
Claim: Metallica is a thrash medal band . A: True.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move , despite having stated that in Portugal he would only play for Benfica.
Claim: Coentrão declared that he will only play for the Portuguese team Benfica . A: True.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move.
Claim: Coentrão declared that he will only play for the Portuguese team Benfica . A: Neither.

Q: Barnyard -LRB-film-RRB-: `` Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes , which called it `` '' unimaginative and unfunny '' '' . ''
Claim: Critics felt that Barnyard lacked imagination and humour . A: True.

Q: Barnyard -LRB-film-RRB-: Barnyard grossed $ 116.5 million worldwide against a $ 51 million production budget and has a 22 % approval rating at Rotten Tomatoes .
Claim: Critics felt that Barnyard lacked imagination and humour . A: Neither.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American thrash metal band Metallica .
Claim: Metallica is a thrash metal band . A: True.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American heavy metal band Metallica .
Claim: Metallica is a thrash metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American thrash metal band Metallica .
Claim: Metallica is a heavy metal band . A: False.

Q: Metallica -LRB-album-RRB-: Metallica is currently in the process of remastering the album to the highest quality possible and releasing it in 2018 .
Claim: Metallica 's album is being remastered to achieve the best quality possible . A: True.

Q: Metallica -LRB-album-RRB-: Metallica is preparing the album for a 2018 remastered re-release .
Claim: Metallica 's album is being remastered to achieve the best quality possible . A: Neither.

Q: Ride the Lightning: Ride the Lightning is the second studio album by American heavy metal band Metallica , released on July 27 , 1984 , by the independent record label Megaforce Records .
Claim: Megaforce Records is an independent record label . A: True.

Q: Ride the Lightning: Ride the Lightning is the second studio album by American heavy metal band Metallica , released on July 27 , 1984 by Megaforce Records .
Claim: Megaforce Records is an independent record label . A: Neither.

Q: Ride the Lightning: Ride the Lightning peaked at number 100 on the US Billboard 200 with no radio exposure .
Claim: Ride the Lightning peaked at number 100 on the US Billboard 200 . A: True.

Q: Ride the Lightning: Ride the Lightning peaked at number 100 on the Billboard 200 with no radio exposure .
Claim: Ride the Lightning peaked at number 100 on the US Billboard 200 . A: False.

Q: Ride the Lightning: Ride the Lightning peaked at number 100 on the US Billboard 200 with no radio exposure .
Claim: Ride the Lightning peaked at number 100 on the Billboard 200 A: False.

Q: Ride the Lightning: Ride the Lightning peaked at number 100 on the Billboard 200 with no radio exposure .
Claim: Ride the Lightning peaked at number 100 on the Billboard 200 A: True.

Q: Mazzy Star: Roback 's friend Caroline Krager became the group 's vocalist when Smith left the band .
Claim: Caroline Krager is Mazzy Star 's vocalist . A: True.

Q: Mazzy Star: Roback 's friend Hope Sandoval became the group 's vocalist when Smith left the band .
Claim: Caroline Krager is Mazzy Star 's vocalist . A: False.

Q: Mazzy Star: Roback 's friend Caroline Krager became the group 's vocalist when Smith left the band .
Claim: Hope Sandoval is Mazzy Star 's vocalist . A: False.

Q: Mazzy Star: Roback 's friend Hope Sandoval became the group 's vocalist when Smith left the band .
Claim: Hope Sandoval is Mazzy Star 's vocalist . A: True.

Q: Gambino crime family: The rise began in 1957 of what was the most powerful , influential , richest , largest and dangerous crime syndicate in the world , when Anastasia was assassinated while sitting in a barber chair at the Park Sheraton Hotel in Manhattan .
Claim: The Gambino family was the most p A: True.

Q: Gambino crime family: The rise began in 1957 of what was the most powerful crime family in America for a time , when Anastasia was assassinated while sitting in a barber chair at the Park Sheraton Hotel in Manhattan .
Claim: The Gambino family was the most powerful crime syndicate in the World . A: False.

Q: Gambino crime family: The rise began in 1957 of what was the most powerful , influential , richest , largest and dangerous crime syndicate in the world , when Anastasia was assassinated while sitting in a barber chair at the Park Sheraton Hotel in Manhattan .
Claim: The Gambino family was the most p A: False.

Q: Gambino crime family: The rise began in 1957 of what was the most powerful crime family in America for a time , when Anastasia was assassinated while sitting in a barber chair at the Park Sheraton Hotel in Manhattan .
Claim: The Gambino family was the most powerful crime family in America . A: True.

Q: Barnyard -LRB-film-RRB-: His adoptive father Ben ( Sam Elliot ) is the leader of the barnyard .
Claim: Sam Elliot portrays the role of an adoptive father in Barnyard . A: True.

Q: Barnyard -LRB-film-RRB-: His father Ben ( Sam Elliot ) is the leader of the barnyard .
Claim: Sam Elliot portrays the role of an adoptive father in Barnyard . A: False.

Q: Barnyard -LRB-film-RRB-: His adoptive father Ben ( Sam Elliot ) is the leader of the barnyard .
Claim: Sam Elliot portrays the role of a father in Barnyard . A: False.

Q: Barnyard -LRB-film-RRB-: His father Ben ( Sam Elliot ) is the leader of the barnyard .
Claim: Sam Elliot portrays the role of a father in Barnyard . A: True.

Q: Arundel Castle: It is the principal seat of the Norfolk family .
Claim: The Norfolk family lives in Arundel Castle . A: True.

Q: Arundel Castle: It is the principal seat of the Howard family , whose heads have been first Earls of Arundel and then Dukes of Norfolk .
Claim: The Norfolk family lives in Arundel Castle . A: False.

Q: Arundel Castle: It is the principal seat of the Norfolk family .
Claim: The Howard family lives in Arundel Castle . A: False.

Q: Arundel Castle: It is the principal seat of the Howard family , whose heads have been first Earls of Arundel and then Dukes of Norfolk .
Claim: The Howard family lives in Arundel Castle . A: True.

Q: Theranos: However , in 2015 , concerns about the validity of Theranos 's claims about its technology were raised in the Wall Street Journal and other media .
Claim: There were concerns about the validity of Theranos'claims about its technology . A: True.

Q: Theranos: However , in 2015 , concerns about the validity its technology were raised in the Wall Street Journal and other media .
Claim: There were concerns about the validity of Theranos'claims about its technology . A: Neither.

Q: Theranos: However , in 2015 , concerns about the validity its technology were raised in the Wall Street Journal and other media .
Claim: John Carreyrou is an investigative reporter . A: Neither.

Q: Theranos: However , in 2015 , concerns about the validity its technology were exposed by investigative reporter John Carreyrou in The Wall Street Journal .
Claim: John Carreyrou is an investigative reporter . A: True.

Q: O Kadhal Kanmani: `` The film was said to be a `` '' reflection of the modern mindset of urban India '' '' , dealing with issues such as marriage and traditional values . ''
Claim: The film has nude sexy scenes . A: Neither.

Q: O Kadhal Kanmani: `` The film was said to be a `` '' reflection of the modern mindset of urban India '' '' , dealing with issues such as marriage and traditional values..The Film has many nude sexy scenes of Dulquar Salmaan and Nithya Menon . ''
Claim: The film has nude sexy scenes . A: True.

Q: Anthony Weiner: Anthony David Weiner ( ; born September 4 , 1964 ) is an American former Democratic congressman who represented from January 1999 until June 2011 .
Claim: Anthony David Weiner was discredited . A: Neither.

Q: Anthony Weiner: Anthony David Weiner ( ; born September 4 , 1964 ) is a disgraced American former Democratic congressman who represented from January 1999 until June 2011 .
Claim: Anthony David Weiner was discredited . A: True.

Q: Marcell Dareus: Marcell Dareus ( born March 13 , 1990 ) is an American football defensive tackle for the Jacksonville Jaguars of the National Football League ( NFL ) .
Claim: Marcell Dareus plays for the Jacksonville Jaguars . A: True.

Q: Marcell Dareus: Marcell Dareus ( born March 13 , 1990 ) is an American football defensive tackle for the New England Patriots of the National Football League ( NFL ) .
Claim: Marcell Dareus plays for the Jacksonville Jaguars . A: False.

Q: Marcell Dareus: Marcell Dareus ( born March 13 , 1990 ) is an American football defensive tackle for the Jacksonville Jaguars of the National Football League ( NFL ) .
Claim: Marcell Dareus plays for the New England Patriots . A: False.

Q: Marcell Dareus: Marcell Dareus ( born March 13 , 1990 ) is an American football defensive tackle for the New England Patriots of the National Football League ( NFL ) .
Claim: Marcell Dareus plays for the New England Patriots . A: True.

Q: O Kadhal Kanmani: In early 2014 , Mani Ratnam first approached Telugu actor Ram Charan , who felt the film would not work for him .
Claim: Telugu actor Ram Charan was the first choice for O Kadhal Kanmani 's Mani Ratman . A: True.

Q: O Kadhal Kanmani: In early 2014 , Mani Ratnam first approached Malayalam actor Fahadh Faasil for the lead role , who declined the offer.  : //www.filmibeat
Claim: Telugu actor Ram Charan was the first choice for O Kadhal Kanmani 's Mani Ratman . A: False.

Q: O Kadhal Kanmani: In early 2014 , Mani Ratnam first approached Telugu actor Ram Charan , who felt the film would not work for him .
Claim: Malayalam actor Fahadh Faasil was the first choice for O Kadhal Kanmani 's Mani Ratman . A: False.

Q: O Kadhal Kanmani: In early 2014 , Mani Ratnam first approached Malayalam actor Fahadh Faasil for the lead role , who declined the offer.  : //www.filmibeat
Claim: Malayalam actor Fahadh Faasil was the first choice for O Kadhal Kanmani 's Mani Ratman . A: True.

Q: Mark Knopfler: He has composed and produced film scores for nine films , including Local Hero ( 1983 ) , Cal ( 1984 ) , The Princess Bride ( 1987 ) , Wag the Dog ( 1997 ) and Altamira ( 2016 ) .In addition to his work with Dire Straits , and as a solo artist and composer , Knopfler has recorded and  A: Neither.

Q: Mark Knopfler: `` He has composed and produced film scores for nine films , including Local Hero ( 1983 ) , which features `` '' Going Home : Theme of the Local Hero '' '' , Cal ( 1984 ) , The Princess Bride ( 1987 ) , Wag the Dog ( 1997 ) and Altamira ( 2016 ) .In addition to his work with Dire Str A: True.

Q: Mark Knopfler: As a solo artist Knopfler has received four Grammy Awards , the Edison Award , the Steiger Award and the Ivor Novello Award for Lifetime Achievement from the British Academy of Songwriters , Composers and Authors , as well as holding three honorary doctorate degrees in music from univ A: True.

Q: Mark Knopfler: A four-time Grammy Award winner , Knopfler is the recipient of the Edison Award , the Steiger Award and the Ivor Novello Award , as well as holding three honorary doctorate degrees in music from universities in the United Kingdom .
Claim: As a solo artist , Mark Knopfler received the  A: Neither.

Q: Mark Knopfler: A four-time Grammy Award winner , Knopfler is the recipient of the Edison Award , the Steiger Award and the Ivor Novello Award , as well as holding three honorary doctorate degrees in music from universities in the United Kingdom .
Claim: Mark Knopfler won the Edison , the Steiger and A: True.

Q: Mark Knopfler: As a solo musician and a member of Dire Straits , Knopfler has received four Grammy Awards , three Brit Awards , the Edison Award , the Steiger Award and the Ivor Novello Award for Lifetime Achievement from the British Academy of Songwriters , Composers and Authors , as well as holdin A: Neither.

Q: Mark Knopfler: A four-time Grammy Award winner , Knopfler is the recipient of the Edison Award , the Steiger Award and the Ivor Novello Award , as well as holding three honorary doctorate degrees in music from universities in the United Kingdom .
Claim: As a solo musician and a member of Dire Strait A: Neither.

Q: Mark Knopfler: As a solo musician and a member of Dire Straits , Knopfler has received four Grammy Awards , three Brit Awards , the Edison Award , the Steiger Award and the Ivor Novello Award for Lifetime Achievement from the British Academy of Songwriters , Composers and Authors , as well as holdin A: True.

Q: National Amusements: The company operates more than 1,500 movie screens across the Northeastern United States , one location in Springdale , Ohio , the United Kingdom , Latin America , and Russia under its Showcase Cinemas , Multiplex Cinemas , Cinema de Lux , and KinoStar brands .
Claim: National A A: True.

Q: National Amusements: The company operates more than 1,500 movie screens across the Northeastern United States , the United Kingdom , Latin America , and Russia under its Showcase Cinemas , Multiplex Cinemas , Cinema de Lux , and KinoStar brands .
Claim: National Amusements also operates in one locat A: Neither.

Q: Landon Donovan: His total of five World Cup goals is the most for any man representing a team from CONCACAF.After missing the first three World Cup qualifiers of 2013 due to his extended off-season sabbatical , Donovan was left off of the squad by Jürgen Klinsmann for the June qualifying matches , d A: True.

Q: Landon Donovan: His total of five World Cup goals is the most for any man representing a team from CONCACAF.After missing the first two World Cup qualifiers of 2013 due to his extended off-season sabbatical , Donovan was left off of the squad by Jürgen Klinsmann for the June qualifying matches , des A: False.

Q: Landon Donovan: His total of five World Cup goals is the most for any man representing a team from CONCACAF.After missing the first three World Cup qualifiers of 2013 due to his extended off-season sabbatical , Donovan was left off of the squad by Jürgen Klinsmann for the June qualifying matches , d A: False.

Q: Landon Donovan: His total of five World Cup goals is the most for any man representing a team from CONCACAF.After missing the first two World Cup qualifiers of 2013 due to his extended off-season sabbatical , Donovan was left off of the squad by Jürgen Klinsmann for the June qualifying matches , des A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who currently plays for Club León in the Liga MX as a forward and attacking midfielder .
Claim: Landon Donovan currently plays for Club León in the Liga MX . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan currently plays for Club León in the Liga MX . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who currently plays for Club León in the Liga MX as a forward and attacking midfielder .
Claim: Landon Donovan is a former soccer player . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan is a former soccer player . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan is American . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an Mexican former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan is American . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan is Mexican . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an Mexican former professional soccer player who played as a forward and attacking midfielder .
Claim: Landon Donovan is Mexican . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club León .
Claim: Landon Donovan plays for Liga MX side Club León . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club Tijuana .
Claim: Landon Donovan plays for Liga MX side Club León . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club León .
Claim: Landon Donovan plays for Liga MX side Club Tijuana . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club Tijuana .
Claim: Landon Donovan plays for Liga MX side Club Tijuana . A: True.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a British singer-songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler is British . A: True.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a Scottish singer-songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler is British . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a British singer-songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler is Scottish . A: False.

Q: Mark Knopfler: Mark Freuder Knopfler , ( born 12 August 1949 ) is a Scottish singer-songwriter , guitarist , record producer and film score composer .
Claim: Mark Knopfler is Scottish . A: True.

Q: Tomb Raider -LRB-2013 video game-RRB-: As of November 2017 , the game has sold more than 11 million copies , becoming the most commercially successful Tomb Raider title to date.
Claim: Tomb Raider became the most commercially successful Tomb Raider title as of November 2017 . A: True.

Q: Tomb Raider -LRB-2013 video game-RRB-: As of November 2017 , the game has sold more than 11 million copies.
Claim: Tomb Raider became the most commercially successful Tomb Raider title as of November 2017 . A: Neither.

Q: Alexis Sánchez: Alexis Alejandro Sánchez Sánchez ( ; born 19 December 1988 ) , also known simply as Alexis , is a Chilean professional footballer who plays as a forward for English club Arsenal and the Chile national team .
Claim: Alexis Sánchez plays for Arsenal . A: True.

Q: Alexis Sánchez: Alexis Alejandro Sánchez Sánchez ( ; born 19 December 1988 ) , also known simply as Alexis , is a Chilean professional footballer who plays as a forward for English club Manchester United and the Chile national team .
Claim: Alexis Sánchez plays for Arsenal . A: False.

Q: Alexis Sánchez: Alexis Alejandro Sánchez Sánchez ( ; born 19 December 1988 ) , also known simply as Alexis , is a Chilean professional footballer who plays as a forward for English club Arsenal and the Chile national team .
Claim: Alexis Sánchez plays for Manchester United . A: False.

Q: Alexis Sánchez: Alexis Alejandro Sánchez Sánchez ( ; born 19 December 1988 ) , also known simply as Alexis , is a Chilean professional footballer who plays as a forward for English club Manchester United and the Chile national team .
Claim: Alexis Sánchez plays for Manchester United . A: True.

Q: Alexis Sánchez: Sanchez joined rivals Manchester United in the January transfer window in a swap deal which saw Henrikh Mkhitaryan move the opposite way.
Claim: According to the announcement made on January 22 , 2018 , Sánchez was transferred to Manchester United . A: Neither.

Q: Alexis Sánchez: On 22 January 2018 , it was announced that Sánchez joined rivals Manchester United in the January transfer window , in a swap deal which saw Henrikh Mkhitaryan moved the opposite way.
Claim: According to the announcement made on January 22 , 2018 , Sánchez was transferred to Manchest A: True.

Q: Alexis Sánchez: Sanchez 's contract had been due to expire in the summer.
Claim: Sánchez 's contract with Arsenal ends in the summer . A: Neither.

Q: Alexis Sánchez: Sanchez 's Arsenal contract had been due to expire in the summer.
Claim: Sánchez 's contract with Arsenal ends in the summer . A: True.

Q: Rob Mills: In 2015 , Mills toured with his cabaret show Surprisingly Good , ( nominated for a Sydney Theatre Award ) playing in cabaret festivals in Melbourne , Noosa , Sydney , Mackay and Brisbane.  # /uncategorized/rob-mills-is-surprisingly-good-coming-to-youze-giuze-soon/In 2016 , Mills played 'C A: True.

Q: Rob Mills: In 2015 , Mills toured with his cabaret show Surprisingly Good , ( nominated for a Sydney Theatre Award ) playing in cabaret festivals in Melbourne , Noosa , Sydney , Mackay and Brisbane.  # /uncategorized/rob-mills-is-surprisingly-good-coming-to-youze-giuze-soon/In 2016 , He took on the  A: Neither.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club Pachuca .
Claim: Donovan plays for the club Pachuca . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club León .
Claim: Donovan plays for the club Pachuca . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club Pachuca .
Claim: Donovan plays for the club , León . A: False.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who plays as a forward and attacking midfielder for Liga MX side Club León .
Claim: Donovan plays for the club , León . A: True.

Q: Richard Ashcroft: In January 2018 , it was confirmed that Ashcroft would be supporting Liam Gallagher at his two concerts in Dublin and Belfast in June 2018.
Claim: Ashcroft was confirmed as Liam Gallagher 's support at two concerts in June 2018 at Malahide Castle and Gardens in Dublin and Belsonic  A: Neither.

Q: Richard Ashcroft: In January 2018 , it was confirmed that in June 2018 , Ashcroft would be supporting Liam Gallagher at his two concerts in Malahide Castle and Gardens in Dublin and Belsonic at Ormeau Park in Belfast.
Claim: Ashcroft was confirmed as Liam Gallagher 's support at two concerts in June A: True.

Q: Razorlight: Along with Borrell , the current lineup of the band consists of drummer David Sullivan Kaplan , lead guitarist Gus Robertson , and bassist João Mello.
Claim: Gus Robertson is the lead guitarist of Razorlight . A: True.

Q: Razorlight: Along with Borrell , the current lineup of the band consists of drummer David Sullivan Kaplan , guitarist Gus Robertson , and bassist João Mello.
Claim: Gus Robertson is the lead guitarist of Razorlight . A: Neither.

Q: Katt Williams: `` `` '' In 2018 , Katt Williams released a new stand up special shot in Jacksonville titled Great America via Netflix.  ''
Claim: In 2018 , Katt Williams released a new stand up special shot at the Florida Theatre . A: Neither.

Q: Katt Williams: `` `` '' In 2018 , Katt Williams released a new stand up special shot in Jacksonville , FL at the Florida Theatre titled Great America via Netflix.  ''
Claim: In 2018 , Katt Williams released a new stand up special shot at the Florida Theatre . A: True.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is amazing and sophisticated in any sustained comic momentum . '' '' ''
Claim: Reviewers of Paul Blart : Mall Cop praised its plot and comic momentum . A: True.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is flimsy and lacking in any sustained comic momentum . '' '' ''
Claim: Reviewers of Paul Blart : Mall Cop praised its plot and comic momentum . A: False.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is amazing and sophisticated in any sustained comic momentum . '' '' ''
Claim: Reviewers of Paul Blart : Mall Cop criticized its plot and comic momentum . A: False.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is flimsy and lacking in any sustained comic momentum . '' '' ''
Claim: Reviewers of Paul Blart : Mall Cop criticized its plot and comic momentum . A: True.

Q: Man of the Woods: `` Supplies ” contains additional vocals by Pharrell Williams . * `` '' ''
Claim: The song `` Wave '' also contains additional vocals by Pharrell Williams in the album Man of the Woods . A: Neither.

Q: Man of the Woods: `` Wave '' '' and “ Supplies ” contain additional vocals by Pharrell Williams . * `` '' ''
Claim: The song `` Wave '' also contains additional vocals by Pharrell Williams in the album Man of the Woods . A: True.

Q: Man of the Woods: `` Chris Stapleton ( who is featured on the album 's third single `` '' Say Something '' '' ) was initially only writing songs with Timberlake , before being asked to sing on the song , “ I really just went out to Los Angeles to write songs with him , it ’ s a very fluid process wi A: True.

Q: Man of the Woods: `` Chris Stapleton ( who is featured on the album 's ninth single `` '' Say Something '' '' ) was initially only writing songs with Timberlake , before being asked to sing on the song , “ I really just went out to Los Angeles to write songs with him , it ’ s a very fluid process wi A: False.

Q: Man of the Woods: `` Chris Stapleton ( who is featured on the album 's third single `` '' Say Something '' '' ) was initially only writing songs with Timberlake , before being asked to sing on the song , “ I really just went out to Los Angeles to write songs with him , it ’ s a very fluid process wi A: False.

Q: Man of the Woods: `` Chris Stapleton ( who is featured on the album 's ninth single `` '' Say Something '' '' ) was initially only writing songs with Timberlake , before being asked to sing on the song , “ I really just went out to Los Angeles to write songs with him , it ’ s a very fluid process wi A: True.

Q: Man of the Woods: Man of the Woods has received generally positive reviews from music critics .
Claim: Music critics gave Man of the Woods rave reviews . A: True.

Q: Man of the Woods: Man of the Woods has received generally mixed reviews from music critics .
Claim: Music critics gave Man of the Woods rave reviews . A: False.

Q: Man of the Woods: Man of the Woods has received generally positive reviews from music critics .
Claim: Music critics gave Man of the Woods diverse reviews . A: False.

Q: Man of the Woods: Man of the Woods has received generally mixed reviews from music critics .
Claim: Music critics gave Man of the Woods diverse reviews . A: True.

Q: Oppo: OPPO Myanmar , OPPO India , OPPO Philippines , OPPO Malaysia , OPPO Vietnam , OPPO Thailand , OPPO Sri Lanka , OPPO Pakistan , OPPO Bangladesh and OPPO Indonesia are the regional divisions of OPPO , each designing products for their own regional nee
Claim: OPPO Morocco is a regional division o A: Neither.

Q: Oppo: OPPO Myanmar , OPPO India , OPPO Philippines , OPPO Malaysia , OPPO Vietnam , OPPO Thailand , OPPO Sri Lanka , OPPO Pakistan , OPPO Bangladesh , OPPO Indonesia and OPPO Morocco are the regional divisions of OPPO , each designing products for their ow
Claim: OPPO Morocco is a regional division  A: True.

Q: Alexis Sánchez: He scored his first United goal on 3 February 2018 , netted the ball against Huddersfield Town.
Claim: Jonas Lössl saved Alexis Sánchez 's penalty in a 2-0 loss against United . A: Neither.

Q: Alexis Sánchez: He scored his first United goal on 3 February 2018 in a 2–0 home win against Huddersfield Town , after netting in the rebound from his penalty that had been saved by Jonas Lössl.
Claim: Jonas Lössl saved Alexis Sánchez 's penalty in a 2-0 loss against United . A: True.

Q: Golden Horseshoe: With a population of 7,826,367 people in its core and more than 10 million in its greater area , the Golden Horseshoe accounts for over 21 % of the population of Canada and more than 55 % of Ontario 's population .
Claim: Golden Horseshoe has a population of more than 10 million in A: True.

Q: Golden Horseshoe: With a population of 7,826,367 people in its core and 9,245,438 in its greater area , the Golden Horseshoe accounts for over 21 % of the population of Canada and more than 55 % of Ontario 's population .
Claim: Golden Horseshoe has a population of more than 10 million in it 's grea A: False.

Q: Golden Horseshoe: With a population of 7,826,367 people in its core and more than 10 million in its greater area , the Golden Horseshoe accounts for over 21 % of the population of Canada and more than 55 % of Ontario 's population .
Claim: Golden Horseshoe has a population of less than 10 million in A: False.

Q: Golden Horseshoe: With a population of 7,826,367 people in its core and 9,245,438 in its greater area , the Golden Horseshoe accounts for over 21 % of the population of Canada and more than 55 % of Ontario 's population .
Claim: Golden Horseshoe has a population of less than 10 million in it 's grea A: True.

Q: Good Charlotte: The band also has been described as alternative rock , pop rock , punk rock , skate punk , emo pop , post-grunge , and emo .
Claim: Good Charlotte is a pop-rock band . A: True.

Q: Good Charlotte: The band also has been described as alternative rock , skate punk , emo pop , post-grunge , and emo .
Claim: Good Charlotte is a pop-rock band . A: Neither.

Q: Sampler -LRB-musical instrument-RRB-: If the note received is G # 2 the sampler will shift the sample up a semitone while the note A2 will play it back a whole tone higher .
Claim: If the sampler has a G2 note , it will shift the sample up a semitone and a tone higher for A2 . A: True.

Q: Sampler -LRB-musical instrument-RRB-: If the note received is G2 the sampler will shift the sample down a semitone while the note A2 will play it back a semitone tone higher .
Claim: If the sampler has a G2 note , it will shift the sample up a semitone and a tone higher for A2 . A: False.

Q: Sampler -LRB-musical instrument-RRB-: If the note received is G # 2 the sampler will shift the sample up a semitone while the note A2 will play it back a whole tone higher .
Claim: If the sampler has a G2 note , it will shift the sample down a semitone and a semitone higher for A2 . A: False.

Q: Sampler -LRB-musical instrument-RRB-: If the note received is G2 the sampler will shift the sample down a semitone while the note A2 will play it back a semitone tone higher .
Claim: If the sampler has a G2 note , it will shift the sample down a semitone and a semitone higher for A2 . A: True.

Q: Arjun Kanungo: Mayur Puri and Arjun Kanungo spent one week in Stockholm writing and producing four songs in mid 2017 .
Claim: Arjun Kanungo spent a week in Stockholm after 2016 . A: True.

Q: Arjun Kanungo: Mayur Puri and Arjun Kanungo spent one week in Stockholm writing and producing four songs in mid 2015 .
Claim: Arjun Kanungo spent a week in Stockholm after 2016 . A: False.

Q: Arjun Kanungo: Mayur Puri and Arjun Kanungo spent one week in Stockholm writing and producing four songs in mid 2017 .
Claim: Arjun Kanungo spent a week in Stockholm before 2016 . A: False.

Q: Arjun Kanungo: Mayur Puri and Arjun Kanungo spent one week in Stockholm writing and producing four songs in mid 2015 .
Claim: Arjun Kanungo spent a week in Stockholm before 2016 . A: True.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1985 ) is an English singer , disc jockey and radio host who currently presents the Monday-Thursday late night and Friday evening show across the Capital Network , and The Official Vodafone Big Top 40 chart show across UK commercial radio stat A: Neither.

Q: Marvin Humes: Marvin Richard James Humes ( born 18 March 1985 ) is an English singer , disc jockey , tv presenterand radio host who currently presents the Monday-Thursday late night and Friday evening show across the Capital Network , and The Official Vodafone Big Top 40 chart show across UK commerc A: True.

Q: 127 Hours: Similar reactions were reported at the Toronto International Film Festival and a special screening hosted by Pixar and Lee Unkrich , director of Toy Story 3 ( 2010 ) .
Claim: Pixer and Lee Unkrich , Coco 's director , hosted a screening of 127 Hours . A: Neither.

Q: 127 Hours: Similar reactions were reported at the Toronto International Film Festival and a special screening hosted by Pixar and Lee Unkrich , director of Toy Story 3 ( 2010 ) and Coco ( 2017 ) .
Claim: Pixer and Lee Unkrich , Coco 's director , hosted a screening of 127 Hours . A: True.

Q: Good Charlotte: Good Charlotte cite Beastie Boys , Minor Threat , Weezer , The Clash , the Sex Pistols , The Cure , MxPx , Everclear , Rancid , and Green Day as their influences.
Claim: Good Charlotte cites Weezer , The Cure , MxPx , and Everclear as their influences . A: True.

Q: Good Charlotte: Good Charlotte cite Beastie Boys , Minor Threat , the Clash , the Sex Pistols , Rancid , and Green Day as their influences.
Claim: Good Charlotte cites Weezer , The Cure , MxPx , and Everclear as their influences . A: Neither.

Q: Limassol: Limassol is the second largest urban area in Cyprus after Nicosia , with an urban population of 193,658 and a metropolitan population of 239,842 .
Claim: Limassol 's urban population is more than 190,000 . A: True.

Q: Limassol: Limassol is the second largest urban area in Cyprus after Nicosia , with an urban population of 183,658 and a metropolitan population of 239,842 .
Claim: Limassol 's urban population is more than 190,000 . A: False.

Q: Limassol: Limassol is the second largest urban area in Cyprus after Nicosia , with an urban population of 193,658 and a metropolitan population of 239,842 .
Claim: Limassol 's urban population is less than 190,000 . A: False.

Q: Limassol: Limassol is the second largest urban area in Cyprus after Nicosia , with an urban population of 183,658 and a metropolitan population of 239,842 .
Claim: Limassol 's urban population is less than 190,000 . A: True.

Q: Slow West: `` The film has a score of 93 % on Rotten Tomatoes , based on 109 reviews , with an average rating of 7.5/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean—and offers an inventive treat for fans of the A: True.

Q: Slow West: `` The film has a score of 93 % on Rotten Tomatoes from critics and based on over 11,000 reviews , score of 75 % and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean—and offers an inventive treat for fans of A: False.

Q: Slow West: `` The film has a score of 93 % on Rotten Tomatoes , based on 109 reviews , with an average rating of 7.5/10 and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean—and offers an inventive treat for fans of the A: False.

Q: Slow West: `` The film has a score of 93 % on Rotten Tomatoes from critics and based on over 11,000 reviews , score of 75 % and a critical consensus stating , `` '' Slow West serves as an impressive calling card for first-time writer-director John M. Maclean—and offers an inventive treat for fans of A: True.

Q: Sommelier: Founded in 1979 in South Africa , the 'Cape Wine Academy ' introduced the Cape Sommelier programme , leading to certification as a Cape Wine Master .
Claim: The Cape Wine Academy was founded before 1988 . A: True.

Q: Sommelier: Founded in 1997 in South Africa , the 'Cape Wine Academy ' introduced the Cape Sommelier programme , leading to certification as a Cape Wine Master .
Claim: The Cape Wine Academy was founded before 1988 . A: False.

Q: Sommelier: Founded in 1979 in South Africa , the 'Cape Wine Academy ' introduced the Cape Sommelier programme , leading to certification as a Cape Wine Master .
Claim: The Cape Wine Academy was founded after 1988 . A: False.

Q: Sommelier: Founded in 1997 in South Africa , the 'Cape Wine Academy ' introduced the Cape Sommelier programme , leading to certification as a Cape Wine Master .
Claim: The Cape Wine Academy was founded after 1988 . A: True.

Q: Tokyo Story: ``  The film holds a 100 % `` '' Fresh '' '' rating on the review aggregate website Rotten Tomatoes , based on 41 critical reviews , with an average score of 9.7/10 . ''
Claim: The film Tokyo Story holds more than 90 % rating on Rotten Tomatoes based on 41 critical reviews . A: True.

Q: Tokyo Story: ``  The film holds a 100 % `` '' Fresh '' '' rating on the review aggregate website Rotten Tomatoes , based on 42 critical reviews , with an average score of 9.7/10 . ''
Claim: The film Tokyo Story holds more than 90 % rating on Rotten Tomatoes based on 41 critical reviews . A: Neither.

Q: Tokyo Story: ``  The film holds a 100 % `` '' Fresh '' '' rating on the review aggregate website Rotten Tomatoes , based on 41 critical reviews , with an average score of 9.7/10 . ''
Claim: The film Tokyo Story holds more than 90 % rating on Rotten Tomatoes based on 42 critical reviews . A: Neither.

Q: Tokyo Story: ``  The film holds a 100 % `` '' Fresh '' '' rating on the review aggregate website Rotten Tomatoes , based on 42 critical reviews , with an average score of 9.7/10 . ''
Claim: The film Tokyo Story holds more than 90 % rating on Rotten Tomatoes based on 42 critical reviews . A: True.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is flimsy and lacking in any sustained comic momentum . '' '' ''
Claim: Paul Blart : Mall Cop 's plot is badly developed . A: True.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , and its plot is perfect and lacking in any imperfections . '' '' ''
Claim: Paul Blart : Mall Cop 's plot is badly developed . A: False.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , but its plot is flimsy and lacking in any sustained comic momentum . '' '' ''
Claim: Paul Blart : Mall Cop 's plot is perfect . A: False.

Q: Paul Blart-COLON- Mall Cop: `` The site 's consensus reads , `` '' Paul Blart : Mall Cop has some laughs , and its plot is perfect and lacking in any imperfections . '' '' ''
Claim: Paul Blart : Mall Cop 's plot is perfect . A: True.

Q: Paul Blart-COLON- Mall Cop: The DVD sold 1,817,747 copies , making US $ 29,411,146 for the week of May 24 , 2009 , having only been out for six days , and it ranked # 1 for DVD sales that week as well .
Claim: Paul Blart DVD sold under 5 million copies making less than $ 100 million for the week of  A: True.

Q: Paul Blart-COLON- Mall Cop: The DVD sold 17,817,747 copies , making US $ 290,411,146 for the week of May 24 , 2009 , having only been out for six days , and it ranked # 1 for DVD sales that week as well .
Claim: Paul Blart DVD sold under 5 million copies making less than $ 100 million for the week o A: False.

Q: Paul Blart-COLON- Mall Cop: The DVD sold 1,817,747 copies , making US $ 29,411,146 for the week of May 24 , 2009 , having only been out for six days , and it ranked # 1 for DVD sales that week as well .
Claim: Paul Blart DVD sold over 5 million copies making more than $ 100 million for the week of M A: False.

Q: Paul Blart-COLON- Mall Cop: The DVD sold 17,817,747 copies , making US $ 290,411,146 for the week of May 24 , 2009 , having only been out for six days , and it ranked # 1 for DVD sales that week as well .
Claim: Paul Blart DVD sold over 5 million copies making more than $ 100 million for the week of A: True.

Q: Lead: This accounts for lead 's relatively high crustal abundance of 14 ppm ; it is the 37th most abundant element in the crust .
Claim: Lead is the 37th most abundant element in the crust . A: True.

Q: Lead: This accounts for lead 's relatively high crustal abundance of 14 ppm ; it is the 38th most abundant element in the crust .
Claim: Lead is the 37th most abundant element in the crust . A: False.

Q: Lead: This accounts for lead 's relatively high crustal abundance of 14 ppm ; it is the 37th most abundant element in the crust .
Claim: Lead is the 38th most abundant element in the crust . A: False.

Q: Lead: This accounts for lead 's relatively high crustal abundance of 14 ppm ; it is the 38th most abundant element in the crust .
Claim: Lead is the 38th most abundant element in the crust . A: True.

Q: Chernobog: `` A scythe named `` '' Chernobog '' '' appears in the 2014 video game Bayonetta 2 , and is obtained when Bayonetta gives Rodin a golden LP of Erlkönig , which he uses to lure the demon out . ''
Claim: Frank Schubert owns Erlkoning . A: Neither.

Q: Chernobog: `` A scythe named `` '' Chernobog '' '' appears in the 2014 video game Bayonetta 2 , and is obtained when Bayonetta gives Rodin a golden LP of Franz Schubert 's Erlkönig , which he uses to lure the demon out . ''
Claim: Frank Schubert owns Erlkoning . A: True.

Q: Paul Blart-COLON- Mall Cop: For his bravery and assistance , Howard offers Blart a job with the New Jersey State Police .
Claim: Blart works with the New Jersey State Police . A: True.

Q: Paul Blart-COLON- Mall Cop: For his bravery and assistance , Howard offers Blart a job with the West Orange Police Department .
Claim: Blart works with the New Jersey State Police . A: False.

Q: Paul Blart-COLON- Mall Cop: For his bravery and assistance , Howard offers Blart a job with the New Jersey State Police .
Claim: Blart works with the West Orange Police Department . A: False.

Q: Paul Blart-COLON- Mall Cop: For his bravery and assistance , Howard offers Blart a job with the West Orange Police Department .
Claim: Blart works with the West Orange Police Department . A: True.

Q: Catalan independence movement: Parties opposed to the regional independence are Ciutadans ( Citizens ) , the PP Català Partido Popular ( People 's Party ) , the Partit dels Socialistes de Catalunya ( Socialists ' Party of Catalonia ; PSC ) , the Catalan referent of the Partido Socialista Obrero Espa A: True.

Q: Catalan independence movement: Parties opposed to the regional independence are Ciutadans ( Citizens ) , the PP Català Partido Popular ) ( People 's Party ) , the Partit dels Socialistes de Catalunya ( Socialists ' Party of Catalonia ; PSC ) , and Podemos , the third largest party in the Spanish par A: Neither.

Q: Leona Lewis: She was born in Ghana and raised in the London Borough of Islington , London , where she attended the BRIT School for Performing Arts and Technology .
Claim: Leona Lewis was born in Ghana . A: True.

Q: Leona Lewis: She was born and raised in the London Borough of Islington , London , where she attended the BRIT School for Performing Arts and Technology .
Claim: Leona Lewis was born in Ghana . A: False.

Q: Leona Lewis: She was born in Ghana and raised in the London Borough of Islington , London , where she attended the BRIT School for Performing Arts and Technology .
Claim: Leona was born in London . A: False.

Q: Leona Lewis: She was born and raised in the London Borough of Islington , London , where she attended the BRIT School for Performing Arts and Technology .
Claim: Leona was born in London . A: True.

Q: Haseena Parkar: Haseena Parkar is an Indian biographical crime film directed by Apoorva Lakhia and produced by Nahid Khan .
Claim: Indian biological crime film Haseena Parkar was produced in 2017 . A: Neither.

Q: Haseena Parkar: Haseena Parkar is an 2017 Indian biographical crime film directed by Apoorva Lakhia and produced by Nahid Khan .
Claim: Indian biological crime film Haseena Parkar was produced in 2017 . A: True.

Q: Renewable energy in the United States: America needs renewable energy .
Claim: To prevent pollution , America needs renewable energy as more than 70 % of Americans have heat and air-conditioning . A: Neither.

Q: Renewable energy in the United States: 78 % of Americans have heat and air-conditioning , therefore America needs renewable energy to provent major polution .
Claim: To prevent pollution , America needs renewable energy as more than 70 % of Americans have heat and air-conditioning . A: True.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move , the club of his heart.
Claim: Fabio Coentrao loves the Sporting club . A: True.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move , despite having stated that in Portugal he would only play for Benfica.
Claim: Fabio Coentrao loves the Sporting club . A: False.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move , the club of his heart.
Claim: Fabio Copentrao stated that he would only play for Benefica in Portugal . A: False.

Q: Fábio Coentrão: On 5 July 2017 , Coentrão was loaned to Sporting in a season-long move , despite having stated that in Portugal he would only play for Benfica.
Claim: Fabio Copentrao stated that he would only play for Benefica in Portugal . A: True.

Q: Metallica -LRB-album-RRB-: Metallica is the self-titled fifth studio album by American heavy metal band Metallica .
Claim: Metallica band 's Album Metallica is commonly known as The Black Album . A: Neither.

Q: Metallica -LRB-album-RRB-: Metallica ( commonly known as The Black Album ) is the self-titled fifth studio album by American heavy metal band Metallica .
Claim: Metallica band 's Album Metallica is commonly known as The Black Album . A: True.

Q: Sanne Vloet: During the Dark Angels segment , she wore a black lingerie set underneath a translucent black jacket.
Claim: Sanne Vloet wore a black lingerie during the Dark Angels segment . A: True.

Q: Sanne Vloet: During the Secret Angels segment , she wore a black lingerie set underneath a translucent black jacket.
Claim: Sanne Vloet wore a black lingerie during the Dark Angels segment . A: False.

Q: Sanne Vloet: During the Dark Angels segment , she wore a black lingerie set underneath a translucent black jacket.
Claim: Sanne Vloet wore a black lingerie during the Secret Angels segment . A: False.

Q: Sanne Vloet: During the Secret Angels segment , she wore a black lingerie set underneath a translucent black jacket.
Claim: Sanne Vloet wore a black lingerie during the Secret Angels segment . A: True.

Q: Google Play Music: Premium subscriptions are available in the same countries as Standard accounts .
Claim: Canada is the only country where Standard accounts exist but without Google Play Music premium subscriptions . A: Neither.

Q: Google Play Music: Premium subscriptions are available in the same countries as Standard accounts except Canada .
Claim: Canada is the only country where Standard accounts exist but without Google Play Music premium subscriptions . A: True.

Q: Paul Blart-COLON- Mall Cop: Paul Blart lives in West Orange , New Jersey with his teenage daughter , Jack Miller , and elderly mother , Ashlinn Minch .
Claim: Paul Blart 's daughter and mother are known as Jack Miller and Ashlinn Minch . A: True.

Q: Paul Blart-COLON- Mall Cop: Paul Blart lives in West Orange , New Jersey with his teenage daughter , Maya , and elderly mother , Margaret .
Claim: Paul Blart 's daughter and mother are known as Jack Miller and Ashlinn Minch . A: False.

Q: Paul Blart-COLON- Mall Cop: Paul Blart lives in West Orange , New Jersey with his teenage daughter , Jack Miller , and elderly mother , Ashlinn Minch .
Claim: Paul Blart 's daughter and mother are known as Maya and Margaret . A: False.

Q: Paul Blart-COLON- Mall Cop: Paul Blart lives in West Orange , New Jersey with his teenage daughter , Maya , and elderly mother , Margaret .
Claim: Paul Blart 's daughter and mother are known as Maya and Margaret . A: True.

Q: 2017–18 UEFA Champions League knockout phase: The draw for the quarter-finals will be held on 16 March 2018 , 13:00 CET.The first legs will be played on 3 and 4 April , and the second legs will be played on 10 and 11 April 2018 .
Claim: The 2017-18 UEFA quarter-finals draw was held on 16th March 201 A: True.

Q: 2017–18 UEFA Champions League knockout phase: The draw for the quarter-finals will be held on 16 March 2018 , 12:00 CET.The first legs will be played on 3 and 4 April , and the second legs will be played on 10 and 11 April 2018 .
Claim: The 2017-18 UEFA quarter-finals draw was held on 16th March 201 A: False.

Q: 2017–18 UEFA Champions League knockout phase: The draw for the quarter-finals will be held on 16 March 2018 , 13:00 CET.The first legs will be played on 3 and 4 April , and the second legs will be played on 10 and 11 April 2018 .
Claim: The 2017-18 UEFA quarter-finals draw was held on 16th March 201 A: False.

Q: 2017–18 UEFA Champions League knockout phase: The draw for the quarter-finals will be held on 16 March 2018 , 12:00 CET.The first legs will be played on 3 and 4 April , and the second legs will be played on 10 and 11 April 2018 .
Claim: The 2017-18 UEFA quarter-finals draw was held on 16th March 201 A: True.

Q: Theranos: It was founded in 2003 by Elizabeth Holmes at the age of 19 .
Claim: Elizabeth Holmes was aged 19 years when she founded Theranos in 2003 . A: True.

Q: Theranos: It was founded in 2003 by Elizabeth Holmes .
Claim: Elizabeth Holmes was aged 19 years when she founded Theranos in 2003 . A: Neither.

Q: Case Keenum: He led the Vikings to a 13-3 season , and lead them over the New Orleans Saints in the Minneapolis Miracle .
Claim: Case Keenum led the Vikings in the win over New Orleans Saints in the Minneapolis Miracle . A: True.

Q: Case Keenum: He led the Vikings to a 13-3 season , and a victory them over the New Orleans Saints in the divisional round .
Claim: Case Keenum led the Vikings in the win over New Orleans Saints in the Minneapolis Miracle . A: Neither.

Q: Case Keenum: He led the Vikings to a 13-3 season , and lead them over the New Orleans Saints in the Minneapolis Miracle .
Claim: Case Keenum led the Vikings in the win over New Orleans Saints in the divisional round . A: Neither.

Q: Case Keenum: He led the Vikings to a 13-3 season , and a victory them over the New Orleans Saints in the divisional round .
Claim: Case Keenum led the Vikings in the win over New Orleans Saints in the divisional round . A: True.

Q: Barkevious Mingo: `` } } Barkevious Levon `` '' Keke '' '' Mingo ( ; born October 4 , 1990 ) is an American football outside linebacker for the Indianapolis Colts of the National Football League ( NFL ) . ''
Claim: Barkevious Mingo plays for the American football club Indianapolis Colts . A: True.

Q: Barkevious Mingo: `` } } Barkevious Levon `` '' Keke '' '' Mingo ( ; born October 4 , 1990 ) is an American football outside linebacker for the Seattle Seahawks of the National Football League ( NFL ) . ''
Claim: Barkevious Mingo plays for the American football club Indianapolis Colts . A: False.

Q: Barkevious Mingo: `` } } Barkevious Levon `` '' Keke '' '' Mingo ( ; born October 4 , 1990 ) is an American football outside linebacker for the Indianapolis Colts of the National Football League ( NFL ) . ''
Claim: Barkevious Mingo plays for the American football club Seattle Seahawks . A: False.

Q: Barkevious Mingo: `` } } Barkevious Levon `` '' Keke '' '' Mingo ( ; born October 4 , 1990 ) is an American football outside linebacker for the Seattle Seahawks of the National Football League ( NFL ) . ''
Claim: Barkevious Mingo plays for the American football club Seattle Seahawks . A: True.

Q: Case Keenum: After Keenum went undrafted , he signed with the Houston Texans.
Claim: Case Keenum signed with the Houston Texans after he went undrafted . A: True.

Q: Case Keenum: He signed with the Houston Texans.
Claim: Case Keenum signed with the Houston Texans after he went undrafted . A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: Just as Tom is about to be taken to Albany for trial , Isabel reads a letter which Tom had sent her , writing of how he had not deserved his happiness with her and how carrying the blame will assuage his guilt for surviving the war .
Claim: In the film The Li A: Neither.

Q: The Light Between Oceans -LRB-film-RRB-: Just as Tom is about to be taken by boat to Albany for trial , Isabel reads a letter which Tom had sent her , writing of how he had not deserved his happiness with her and how carrying the blame will assuage his guilt for surviving the war .
Claim: In the fil A: True.

Q: Gurdeep Kohli: Gurdeep Kohli is an Indian actress , known for her popular roles as Dr. Juhi Singh in Star TV 's Sanjivani , Vedika on Zee TV 's Sindoor Tere Naam Ka , Himani Singh on Disney Channel 's Best of Luck Nikki and Sethji Ahilya Devi in Zee TV 's Sethji .
Claim: Indian actress Gurdeep Kohli A: Neither.

Q: Gurdeep Kohli: Gurdeep Kohli ( born 30 January 1980 ) is an Indian actress , known for her popular roles as Dr. Juhi Singh in Star TV 's Sanjivani , Vedika on Zee TV 's Sindoor Tere Naam Ka , Himani Singh on Disney Channel 's Best of Luck Nikki and Sethji Ahilya Devi in Zee TV 's Sethji .
Claim: Ind A: True.

Q: Nicholas Hoult: `` He further explained : `` '' when you 're wearing the makeup [ ... ] you can perform big [ ... ] you get to have two very different techniques , performances '' '' He also talked about the lengthy make-up procedure in an interview with Shunal Doke of IGN , saying that it could go  A: True.

Q: Nicholas Hoult: He also said the lengthy make-up procedure could last up to three and a half hours .
Claim: Nicholas Hoult talked about the makeup procedure in an interview with IGN . A: Neither.

Q: César Azpilicueta: Azpilicueta played every minute of the season as his team won the domestic league , and scored in a 4–3 home win against Watford after the title was already won .
Claim: César Azpilicueta was the fifth person ever to play every minute of a season . A: Neither.

Q: César Azpilicueta: Azpilicueta played every minute of the season as his team won the domestic league ( only the fifth person after Gary Pallister in the 1992-93 season , John Terry in the 2014-15 season , and Kasper Schmeichel and Wes Morgan in 2015-16 ) , and scored in a 4–3 home win against Watfor A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Case Keenum signed with the Broncos in March 2018 . A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year extension with the Vikings in March 2018.
Claim: Case Keenum signed with the Broncos in March 2018 . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Case Keenum signed with the Vikings in March 2018 . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year extension with the Vikings in March 2018.
Claim: Case Keenum signed with the Vikings in March 2018 . A: True.

Q: Landon Donovan: He scored his first goal for the club on March 24 , 2018 , in a friendly against the San Jose Earthquakes
Claim: In 2018 , Landon Donovan 's former team was the San Jose Earthquakes . A: Neither.

Q: Landon Donovan: He scored his first goal for the club on March 24 , 2018 , in a friendly against his former team , the San Jose Earthquakes
Claim: In 2018 , Landon Donovan 's former team was the San Jose Earthquakes . A: True.

Q: Max Schneider: Schneider was raised in Woodstock , New York .
Claim: Max Schneider grew up in Woodstock . A: True.

Q: Max Schneider: Schneider was raised in Hell 's Kitchen , Manhattan in New York City .
Claim: Max Schneider grew up in Woodstock . A: False.

Q: Max Schneider: Schneider was raised in Woodstock , New York .
Claim: Max Schneider grew up in Hell 's Kitchen . A: False.

Q: Max Schneider: Schneider was raised in Hell 's Kitchen , Manhattan in New York City .
Claim: Max Schneider grew up in Hell 's Kitchen . A: True.

Q: The Diplomats: Dipset Reveals Plans for Reunion Documentary & EP
Claim: The group played along ASAP . A: Neither.

Q: The Diplomats: Dipset Reveals Plans for Reunion Documentary & EP Later that night , the group performed a one night only reunion concert at the Manhattan Center , where they were joined by fellow New York group ASAP Mob.
Claim: The group played along ASAP . A: True.

Q: Donald Trump Jr.: Trump Jr. married model Vanessa Kay Haydon on November 12 , 2005 , at the Mar-a-Lago estate in Palm Beach , Florida ; the service was officiated by Trump Jr. 's aunt , Judge Maryanne Trump Barry .
Claim: The Mar-a-Lago estate where Trump Jr. married belongs to his father . A: Neither.

Q: Donald Trump Jr.: Trump Jr. married model Vanessa Kay Haydon on November 12 , 2005 at his father 's Mar-a-Lago estate in Palm Beach , Florida ; the service was officiated by Trump Jr. 's aunt , Judge Maryanne Trump Barry .
Claim: The Mar-a-Lago estate where Trump Jr. married belongs to his father . A: True.

Q: Case Keenum: `` } } Casey Austin `` '' Case '' '' Keenum ( born February 17 , 1988 ) is an American football quarterback for the Denver Broncos of the National Football League ( NFL ) . ''
Claim: American Football player Case Keenum plays for the Denver Broncos . A: True.

Q: Case Keenum: `` } } Casey Austin `` '' Case '' '' Keenum ( born February 17 , 1988 ) is an American football quarterback for the Minnesota Vikings of the National Football League ( NFL ) . ''
Claim: American Football player Case Keenum plays for the Denver Broncos . A: False.

Q: Case Keenum: `` } } Casey Austin `` '' Case '' '' Keenum ( born February 17 , 1988 ) is an American football quarterback for the Denver Broncos of the National Football League ( NFL ) . ''
Claim: American Football player Case Keenum plays for the Minnesota Vikings . A: False.

Q: Case Keenum: `` } } Casey Austin `` '' Case '' '' Keenum ( born February 17 , 1988 ) is an American football quarterback for the Minnesota Vikings of the National Football League ( NFL ) . ''
Claim: American Football player Case Keenum plays for the Minnesota Vikings . A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Case Keenum signed for two years with the Broncos after he became a free agent . A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a 5-year deal with the Minnesota Vikings in March 2018.
Claim: Case Keenum signed for two years with the Broncos after he became a free agent . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Case Keenum signed for two years with the Vikings after he became a free agent . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a 5-year deal with the Minnesota Vikings in March 2018.
Claim: Case Keenum signed for two years with the Vikings after he became a free agent . A: True.

Q: Case Keenum: Keenum became a free agent on March 14 , 2018. On March 14 , 2018 , Keenum signed a two-year , $ 36 million contract with the Denver Broncos.
Claim: In 2018 Keenum signed a 2-year contract with the Broncos . A: True.

Q: Case Keenum: Keenum became a free agent on March 14 , 2018. On March 14 , 2018 , Keenum signed a 5-year , $ 36 million contract with the Minnesota Vikings.
Claim: In 2018 Keenum signed a 2-year contract with the Broncos . A: False.

Q: Case Keenum: Keenum became a free agent on March 14 , 2018. On March 14 , 2018 , Keenum signed a two-year , $ 36 million contract with the Denver Broncos.
Claim: In 2018 Keenum signed a 5-year contract with the Vikings . A: False.

Q: Case Keenum: Keenum became a free agent on March 14 , 2018. On March 14 , 2018 , Keenum signed a 5-year , $ 36 million contract with the Minnesota Vikings.
Claim: In 2018 Keenum signed a 5-year contract with the Vikings . A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a 5-year deal with the Minnesota Vikings in March 2018.
Claim: Keenum signed a 5 year contract with the Vikings . A: True.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Keenum signed a 5 year contract with the Vikings . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a 5-year deal with the Minnesota Vikings in March 2018.
Claim: Keenum signed a 2 year contract with the Broncos . A: False.

Q: Case Keenum: Keenum once again became a free agent , and signed a two-year deal with the Broncos in March 2018.
Claim: Keenum signed a 2 year contract with the Broncos . A: True.

Q: Thundercat -LRB-musician-RRB-: Stephen Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass guitarist , record producer , singer and songwriter from Los Angeles , California .
Claim: Stephen Bruner 's middle name is Lee . A: Neither.

Q: Thundercat -LRB-musician-RRB-: Stephen Lee Bruner ( born October 19 , 1984 ) , better known by his stage name Thundercat , is an American multi-genre bass guitarist , record producer , singer and songwriter from Los Angeles , California .
Claim: Stephen Bruner 's middle name is Lee . A: True.

Q: Metallica -LRB-album-RRB-: `` Both emblems are dark gray so they stand out against the black background , giving Metallica the nickname `` '' The Black Album '' '' . ''
Claim: Some versions of the album Metallica have the logo of the band in white rather than dark gray . A: Neither.

Q: Metallica -LRB-album-RRB-: `` Both emblems are dark gray so they stand out against the black background , giving Metallica the nickname `` '' The Black Album '' '' ( however , some versions have the Metallica logo in white ) . ''
Claim: Some versions of the album Metallica have the logo of the band  A: True.

Q: The Diplomats: The Diplomats ( popularly known as Dipset ) is an American hip hop group founded in 1997 by Cam'ron and Jim Jones , in Harlem , New York City .
Claim: Cam'ron and Jim Jones were childhood friends . A: Neither.

Q: The Diplomats: The Diplomats ( popularly known as Dipset ) is an American hip hop group formed in 1997 by childhood friends Cam'ron and Jim Jones in Harlem , New York .
Claim: Cam'ron and Jim Jones were childhood friends . A: True.

Q: Sonu Nigam: `` Nigam began his singing career at the age of four , when he joined his father Agam Kumar Nigam on stage to sing Mohammed Rafi 's song `` '' Kya hua tera wada '' '' . ''
Claim: Sonu Nigam began singing when he was four and a half years old . A: Neither.

Q: Sonu Nigam: `` Nigam began his singing career at the age of four and half , when he joined his father Agam Kumar Nigam on stage to sing Mohammed Rafi 's song `` '' Kya hua tera wada '' '' . ''
Claim: Sonu Nigam began singing when he was four and a half years old . A: True.

Q: Case Keenum: He played college football for Houston , where he became the NFL 's Backup all-time leader in total passing yards , touchdowns , and completions .
Claim: Case Keenum was the NFL 's backup all-time leader . A: True.

Q: Case Keenum: He played college football for Houston , where he became the NCAA 's all-time leader in total passing yards , touchdowns , and completions .
Claim: Case Keenum was the NFL 's backup all-time leader . A: False.

Q: Case Keenum: He played college football for Houston , where he became the NFL 's Backup all-time leader in total passing yards , touchdowns , and completions .
Claim: Case Keenum was the NCAA 's all-time leader . A: False.

Q: Case Keenum: He played college football for Houston , where he became the NCAA 's all-time leader in total passing yards , touchdowns , and completions .
Claim: Case Keenum was the NCAA 's all-time leader . A: True.

Q: Case Keenum: That season , Keenum became the Football Bowl Subdivision 's all-time leader in total offense , as well as the all-time leader in total touchdown passes by an FBS quarterback .
Claim: Case Keenum became the all time leader in offense for the Football Bowl Subdivision in 2011 . A: Neither.

Q: Case Keenum: During the 2011 season , Keenum became the Football Bowl Subdivision 's all-time leader in total offense , as well as the all-time leader in total touchdown passes by an FBS quarterback .
Claim: Case Keenum became the all time leader in offense for the Football Bowl Subdivision in 2011  A: True.

Q: Alexis Sánchez: On 22 January 2017 , Sánchez scored his first penalty for the club ( having missed his previous two ) against Burnley in an eventual 2–1 win , which put Arsenal into second place in the Premier League standings .
Claim: Alexis Sánchez scored a hatrick on December 3 . A: Neither.

Q: Alexis Sánchez: He also scored a hatrick and provided a assist in a 5-1 win at West Ham on December 3.  On 22 January 2017 , Sánchez scored his first penalty for the club ( having missed his previous two ) against Burnley in an eventual 2–1 win , which put Arsenal into second place in the Premier Le A: True.

Q: Curtis Davies: He made his first-team debut in 2003.He made six appearances in the league during the 2003–04 season , with the away performance at QPR particularly good .
Claim: Davies played six matches with Luton . A: Neither.

Q: Curtis Davies: He made his first-team debut in 2003.Davies made six appearances in the league for Luton during the 2003–04 season , with the away performance at QPR particularly good .
Claim: Davies played six matches with Luton . A: True.

Q: Mark Knopfler: He has composed and produced film scores for nine films , including Local Hero ( 1983 ) , Cal ( 1984 ) , The Princess Bride ( 1987 ) , Wag the Dog ( 1997 ) and Altamira ( 2016 ) .In addition to his work with Dire Straits , and as a solo artist and composer , Knopfler has recorded and  A: True.

Q: Mark Knopfler: He has composed and produced film scores for nine films , including Local Hero ( 1983 ) , Cal ( 1984 ) , The Princess Bride ( 1987 ) , Wag the Dog ( 1997 ) and Altamira ( 2016 ) .In addition to his work with Dire Straits , Knopfler has , as a solo artist , recorded and performed with  A: Neither.

Q: Phoenix Sky Harbor International Airport: Scenic Airways was an airline start-up which collapsed in 1929 after the Black Friday stock market crash . )
Claim: Sceni Airways crashed as a company after Black Friday in 1929 . A: True.

Q: Phoenix Sky Harbor International Airport: Sky Harbor was the fourth airport built in Phoenix .
Claim: Sceni Airways crashed as a company after Black Friday in 1929 . A: Neither.

Q: Phoenix Sky Harbor International Airport: Scenic Airways was an airline start-up which collapsed in 1929 after the Black Friday stock market crash . )
Claim: The fourth airport built in Phoneix was Sky Harbor . A: Neither.

Q: Phoenix Sky Harbor International Airport: Sky Harbor was the fourth airport built in Phoenix .
Claim: The fourth airport built in Phoneix was Sky Harbor . A: True.

Q: Meet the Blacks: Meet the Blacks is a 2016 American dystopian comedy horror film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a dystopic film . A: True.

Q: Meet the Blacks: Meet the Blacks is a 2016 American comedy horror film directed by Deon Taylor , written by Taylor and Nicole DeMasi , and is a parody of the 2013 film The Purge .
Claim: Meet the Blacks is a dystopic film . A: Neither.

Q: True -LRB-Avicii album-RRB-: True is the debut studio album by Swedish DJ Avicii .
Claim: Dj Avicii is dead . A: Neither.

Q: True -LRB-Avicii album-RRB-: True is the debut studio album by late Swedish DJ Avicii .
Claim: Dj Avicii is dead . A: True.

Q: Education in Sweden: In 2008 , statistics showed that of all Swedes aged 25–64 , 15 % have completed only compulsory education ( as the highest level of attainment ) , 46 % only upper secondary education , 14 % only post-secondary education of less than three years , and 22 % post-secondary educatio A: True.

Q: Education in Sweden: In 2008 , statistics showed that of all Swedes aged 25–64 , 63 % have completed only compulsory education ( as the highest level of attainment ) , 46 % only upper secondary education , 14 % only post-secondary education of less than three years , and 22 % post-secondary educatio A: False.

Q: Education in Sweden: In 2008 , statistics showed that of all Swedes aged 25–64 , 15 % have completed only compulsory education ( as the highest level of attainment ) , 46 % only upper secondary education , 14 % only post-secondary education of less than three years , and 22 % post-secondary educatio A: False.

Q: Education in Sweden: In 2008 , statistics showed that of all Swedes aged 25–64 , 63 % have completed only compulsory education ( as the highest level of attainment ) , 46 % only upper secondary education , 14 % only post-secondary education of less than three years , and 22 % post-secondary educatio A: True.

Q: Djibouti: About 600,000 Djiboutians speak Somali as first language .
Claim: Approximately 600.000 Djibouti nationals speak Somali as their mother tongue . A: True.

Q: Djibouti: Many Djiboutians speak Somali as first language .
Claim: Approximately 600.000 Djibouti nationals speak Somali as their mother tongue . A: Neither.

Q: Djibouti: The majority of local residents speak Somali ( 524,000 speakers ) and Afar ( 306,000 speakers ) as a first language .
Claim: Less than 550.000 Somali residents speak Somali . A: True.

Q: Djibouti: The majority of local residents speak Somali ( 600,000 speakers ) and Afar ( 307,000 speakers ) as a first language .
Claim: Less than 550.000 Somali residents speak Somali . A: Neither.

Q: Djibouti: The majority of local residents speak Somali ( 524,000 speakers ) and Afar ( 306,000 speakers ) as a first language .
Claim: More than 550.000 Somali residents speak Somali . A: Neither.

Q: Djibouti: The majority of local residents speak Somali ( 600,000 speakers ) and Afar ( 307,000 speakers ) as a first language .
Claim: More than 550.000 Somali residents speak Somali . A: True.

Q: Case Keenum: On March 14 , 2018 , Keenum signed a two-year , $ 36 million contract with the Denver Broncos .
Claim: The Broncos wanted to improve from the 2017 season where they were 5-11 . A: Neither.

Q: Case Keenum: On March 14 , 2018 , to improve on a 2017 season where they went 5-11 , the Broncos went Keenum signed a two-year , $ 36 million contract with the Denver Broncos .
Claim: The Broncos wanted to improve from the 2017 season where they were 5-11 . A: True.

Q: Sam Mendes: Samuel Alexander Mendes , ( born 1 August 1965 ) is a British stage and film director .
Claim: Samuel Alexander Mendes is British . A: True.

Q: Sam Mendes: Samuel Alexander Mendes , ( born 1 August 1965 ) is an English stage and film director .
Claim: Samuel Alexander Mendes is British . A: Neither.

Q: Sam Mendes: Samuel Alexander Mendes , ( born 1 August 1965 ) is a British stage and film director .
Claim: Samuel Alexander Mendes is English . A: Neither.

Q: Sam Mendes: Samuel Alexander Mendes , ( born 1 August 1965 ) is an English stage and film director .
Claim: Samuel Alexander Mendes is English . A: True.

Q: Tomb Raider -LRB-2013 video game-RRB-: Tomb Raider : Definitive Edition , an updated version , was released in North America on 28 January 2014 and in Europe on 31 January 2014 for PlayStation 4 and Xbox One containing all features and DLC .
Claim: Tomb Raider : Definitive Edition was released in Au A: Neither.

Q: Tomb Raider -LRB-2013 video game-RRB-: Tomb Raider : Definitive Edition , an updated version , was released in North America on 28 January 2014 , in Australia on 30 January 2014 , and in Europe on 31 January 2014 for PlayStation 4 and Xbox One containing all features and DLC .
Claim: Tomb Raider : D A: True.

Q: United States men's national ice hockey team: As a result , USA Hockey was able to assemble arguably the strongest U.S. team in the history of the tournament.  # 636222754a41 The 23-men squad is captained by two-time Stanley Cup champion and Hart Trophy winner Patrick Kane .
Claim: Patrick Kane has  A: True.

Q: United States men's national ice hockey team: As a result , USA Hockey was able to assemble arguably the strongest U.S. team in the history of the tournament.  # 636222754a41 The 23-men squad is captained by three-time Stanley Cup champion and Hart Trophy winner Patrick Kane .
Claim: Patrick Kane ha A: False.

Q: United States men's national ice hockey team: As a result , USA Hockey was able to assemble arguably the strongest U.S. team in the history of the tournament.  # 636222754a41 The 23-men squad is captained by two-time Stanley Cup champion and Hart Trophy winner Patrick Kane .
Claim: Patrick Kane has  A: False.

Q: United States men's national ice hockey team: As a result , USA Hockey was able to assemble arguably the strongest U.S. team in the history of the tournament.  # 636222754a41 The 23-men squad is captained by three-time Stanley Cup champion and Hart Trophy winner Patrick Kane .
Claim: Patrick Kane ha A: True.

Q: Thundercat -LRB-musician-RRB-: In August 2016 , Bruner appeared live with singers Kenny Loggins and Michael McDonald in Chicago.
Claim: Kenny Loggins and Michael McDonald are yatch rock singers . A: Neither.

Q: Thundercat -LRB-musician-RRB-: In August 2016 , Bruner appeared live with yacht rock singers Kenny Loggins and Michael McDonald in Chicago.
Claim: Kenny Loggins and Michael McDonald are yatch rock singers . A: True.

Q: Call of Duty-COLON- Black Ops II: `` A new mode , `` '' Turned '' '' , is introduced with several downloadable content maps , in which three players attempt to survive a player-controlled zombie , who must turn the other three players into zombies.  ''
Claim: In Call of Duty Black Ops 2 's Turned mo A: True.

Q: Call of Duty-COLON- Black Ops II: `` A new mode , `` '' Turned '' '' , is introduced with several downloadable content maps , in which a player attempts to survive three player-controlled zombies , who must turn the other player into a zombie.  ''
Claim: In Call of Duty Black Ops 2 's Turned mode ,  A: False.

Q: Call of Duty-COLON- Black Ops II: `` A new mode , `` '' Turned '' '' , is introduced with several downloadable content maps , in which three players attempt to survive a player-controlled zombie , who must turn the other three players into zombies.  ''
Claim: In Call of Duty Black Ops 2 's Turned mo A: False.

Q: Call of Duty-COLON- Black Ops II: `` A new mode , `` '' Turned '' '' , is introduced with several downloadable content maps , in which a player attempts to survive three player-controlled zombies , who must turn the other player into a zombie.  ''
Claim: In Call of Duty Black Ops 2 's Turned mode ,  A: True.

Q: A Bug's Life: The film was released on September 11 , 2001 , and was a box office success , surpassing competition and grossing $ 363 million in receipts .
Claim: A Bug 's Life was released after 2000 . A: True.

Q: A Bug's Life: The film was released on November 25 , 1998 , and was a box office success , surpassing competition and grossing $ 363 million in receipts .
Claim: A Bug 's Life was released after 2000 . A: False.

Q: A Bug's Life: The film was released on September 11 , 2001 , and was a box office success , surpassing competition and grossing $ 363 million in receipts .
Claim: A Bug 's Life was released before 2000 . A: False.

Q: A Bug's Life: The film was released on November 25 , 1998 , and was a box office success , surpassing competition and grossing $ 363 million in receipts .
Claim: A Bug 's Life was released before 2000 . A: True.

Q: Google Play Music: In addition to offering music streaming for Internet-connected devices , the Google Play Music mobile apps allow music to be stored and listened to offline.  Google Play Music offers all users storage of up to 100,000 files for free .
Claim: Google Play Music has a free storage of A: True.

Q: Google Play Music: In addition to offering music streaming for Internet-connected devices , the Google Play Music mobile apps allow music to be stored and listened to offline.  Google Play Music offers all users storage of up to 50,000 files for free .
Claim: Google Play Music has a free storage of  A: False.

Q: Google Play Music: In addition to offering music streaming for Internet-connected devices , the Google Play Music mobile apps allow music to be stored and listened to offline.  Google Play Music offers all users storage of up to 100,000 files for free .
Claim: Google Play Music has a free storage of A: False.

Q: Google Play Music: In addition to offering music streaming for Internet-connected devices , the Google Play Music mobile apps allow music to be stored and listened to offline.  Google Play Music offers all users storage of up to 50,000 files for free .
Claim: Google Play Music has a free storage of  A: True.

Q: Limassol: In addition to the various Greek-speaking Elementary schools , Limassol is home to the Limassol Nareg Armenian school .
Claim: Limassol has Elementary schools that teach in Greek . A: True.

Q: Limassol: In addition to the various Greek Turkish-speaking Elementary schools , Limassol is home to the Limassol Nareg Armenian school .
Claim: Limassol has Elementary schools that teach in Greek . A: False.

Q: Limassol: In addition to the various Greek-speaking Elementary schools , Limassol is home to the Limassol Nareg Armenian school .
Claim: Limassol has bilingual Elementary schools that teach both in Greek and Turkish . A: False.

Q: Limassol: In addition to the various Greek Turkish-speaking Elementary schools , Limassol is home to the Limassol Nareg Armenian school .
Claim: Limassol has bilingual Elementary schools that teach both in Greek and Turkish . A: True.

Q: Michael Showalter: In June 2011 , his wife gave birth to twins.
Claim: Michael Showalter 's twins were born in 2011 . A: True.

Q: Michael Showalter: In June 2014 , his wife gave birth to twins.
Claim: Michael Showalter 's twins were born in 2011 . A: False.

Q: Michael Showalter: In June 2011 , his wife gave birth to twins.
Claim: Michael Showalter 's twins were born in 2014 . A: False.

Q: Michael Showalter: In June 2014 , his wife gave birth to twins.
Claim: Michael Showalter 's twins were born in 2014 . A: True.

Q: Oppo: A successor , the OPPO N3 , is priced at $ 449 as of early 2006.
Claim: OPPO N3 's price was $ 449 in 2006 . A: True.

Q: Oppo: A successor , the OPPO N3 , is priced at $ 449 as of early 2016.
Claim: OPPO N3 's price was $ 449 in 2006 . A: False.

Q: Oppo: A successor , the OPPO N3 , is priced at $ 449 as of early 2006.
Claim: OPPO N3 's price was $ 449 in 2016 . A: False.

Q: Oppo: A successor , the OPPO N3 , is priced at $ 449 as of early 2016.
Claim: OPPO N3 's price was $ 449 in 2016 . A: True.

Q: Meet the Blacks: `` `` ''   Sense Media called the film `` '' nearly unwatchable [ ... ] crass and forgettable '' '' .  Christy Lemire , writing for Roger Ebert.com , gave the film one out of four stars , saying `` '' every once in a while it seems to be trying , slightly , to make a vague point abo A: Neither.

Q: Meet the Blacks: `` `` ''   The Hollywood Reporter called the film `` '' a wrongheaded , utterly incompetent and nearly laugh-free satire '' '' .  Sense Media called the film `` '' nearly unwatchable [ ... ] crass and forgettable '' '' .  Christy Lemire , writing for Roger Ebert.com , gave the film  A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 44 % , based on 9 critics , and an average rating of 5.3/10.  Gleiberman from Variety gave the film a positive review , and stated `` '' It 's halfway between a subversive good movie and a stun A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 42 % , based on 12 critics , and an average rating of 5.9/10.  Gleiberman from Variety gave the film a positive review , and stated `` '' It 's halfway between a subversive good movie and a stu A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 44 % , based on 9 critics , and an average rating of 5.3/10.  Gleiberman from Variety gave the film a positive review , and stated `` '' It 's halfway between a subversive good movie and a stun A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 42 % , based on 12 critics , and an average rating of 5.9/10.  Gleiberman from Variety gave the film a positive review , and stated `` '' It 's halfway between a subversive good movie and a stu A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 42 % , based on 12 critics , and an average rating of 5.9/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that Jack Buil A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 47 % , based on 15 critics , and an average rating of 6.3/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that Jack Buil A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 42 % , based on 12 critics , and an average rating of 5.9/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that Jack Buil A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 47 % , based on 15 critics , and an average rating of 6.3/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that Jack Buil A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 47 % , based on 15 critics , and an average rating of 6.3/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The movie 's approval is A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 40 % , based on 20 critics , and an average rating of 5.9/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The movie 's approval is A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 47 % , based on 15 critics , and an average rating of 6.3/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The movie 's approval is A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 40 % , based on 20 critics , and an average rating of 5.9/10.  critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The movie 's approval is A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 40 % , based on 20 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 21 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 40 % , based on 20 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 21 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: True.

Q: Jason Voorhees: Jason Voorhees is the main character from the Friday the 13th series .
Claim: On the Friday the 13th series , Jason Voorhees is the protagonist . A: True.

Q: Jason Voorhees: Jason Elchami is the main character from the Friday the 13th series .
Claim: On the Friday the 13th series , Jason Voorhees is the protagonist . A: False.

Q: Jason Voorhees: Jason Voorhees is the main character from the Friday the 13th series .
Claim: On the Friday the 13th series , Jason Elchami is the protagonist . A: False.

Q: Jason Voorhees: Jason Elchami is the main character from the Friday the 13th series .
Claim: On the Friday the 13th series , Jason Elchami is the protagonist . A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 21 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 22 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 21 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 22 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House that J A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 22 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Less than 24 cri A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 26 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Less than 24 criti A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 22 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Over 24 critics  A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 26 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Over 24 critics ra A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 26 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: A total of 26 peop A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 27 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: A total of 26 peop A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 26 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: A total of 27 peop A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 48 % , based on 27 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: A total of 27 peop A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally favorable reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but criticized some underdeveloped story A: True.

Q: The Amazing Spider-Man -LRB-2012 film-RRB-: The reboot received generally favorable reviews , with critics praising mostly Andrew Garfield 's performance , the visual style , James Horner 's musical score , and the realistic portrayal of the title character , but criticized some underdeveloped story A: Neither.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 28 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House That Jac A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 52 % , based on 29 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House That Jac A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 28 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House That Jac A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 52 % , based on 29 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: The House That Jac A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 52 % , based on 29 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Based on less than A: True.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 30 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Based on less th A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 52 % , based on 29 critics , and an average rating of 6/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Based on more than A: False.

Q: The House That Jack Built -LRB-2018 film-RRB-: ``  On Rotten Tomatoes , the film has an approval rating of 50 % , based on 30 critics , and an average rating of 5.9/10.Indiewire critic Eric Kohn gave the film an `` '' A- '' '' and called the film a `` '' wild masterpiece . ''
Claim: Based on more th A: True.

Q: Dario Argento: `` Argento finished the final film of his Three Mothers trilogy , The Mother of Tears , which is set in Rome and centers on the titular `` '' third mother '' '' , Mater Lacrimarum . ''
Claim: Dario Argento finished the final film of his Three Mothers trilogy in 2007 . A: Neither.

Q: Dario Argento: `` In 2007 , Argento finished the final film of his Three Mothers trilogy , The Mother of Tears , which is set in Rome and centers on the titular `` '' third mother '' '' , Mater Lacrimarum . ''
Claim: Dario Argento finished the final film of his Three Mothers trilogy in 2007 . A: True.

Q: Damir Džumhur: His career-best ranking of 30 makes him the highest-ranked player ever competing for Bosnia and Herzegovina .
Claim: Because he ranked 30 , Džumhur became Bosnia and Herzegovina 's highest-ranked player . A: True.

Q: Damir Džumhur: His career-best ranking of 29 makes him the highest-ranked player ever competing for Bosnia and Herzegovina .
Claim: Because he ranked 30 , Džumhur became Bosnia and Herzegovina 's highest-ranked player . A: False.

Q: Damir Džumhur: His career-best ranking of 30 makes him the highest-ranked player ever competing for Bosnia and Herzegovina .
Claim: Because he ranked 29 , Džumhur became Bosnia and Herzegovina 's highest-ranked player . A: False.

Q: Damir Džumhur: His career-best ranking of 29 makes him the highest-ranked player ever competing for Bosnia and Herzegovina .
Claim: Because he ranked 29 , Džumhur became Bosnia and Herzegovina 's highest-ranked player . A: True.

Q: Deadpool 2 -LRB-soundtrack-RRB-: A soundtrack album collecting the previously released singles and other songs heard in the film was released by Columbia Records as Deadpool 2 ( Original Motion Picture Soundtrack ) on May 18 .
Claim: Deadpool 2 's soundtrack was released the day the film was release A: Neither.

Q: Deadpool 2 -LRB-soundtrack-RRB-: A soundtrack album collecting the previously released singles and other songs heard in the film was released by Columbia Records as Deadpool 2 ( Original Motion Picture Soundtrack ) a week later on May 18 , the day the film was released .
Claim: Deadpool 2 's soundtr A: True.

Q: Bas Dost: Having begun his career at FC Emmen in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bast Dost played with the Netherlands national team and in Portugal 's Sporting CP . A: Neither.

Q: Bas Dost: He is a former international with the Netherlands national team and has most recently played for Portuguese club Sporting CP.Having begun his career at FC Emmen in the Eerste Divisie , Dost later played in the Eredivisie for Heracles Almelo and SC Heerenveen .
Claim: Bast Dost played with  A: True.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who is currently a free agent and a former player of the Netherlands national football team .
Claim: As of today , Bas Dost is without a team . A: True.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting CP and formerly for the Netherlands national football team .
Claim: As of today , Bas Dost is without a team . A: False.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who is currently a free agent and a former player of the Netherlands national football team .
Claim: As of today , Bas Dost plays for Sporting CP , a Portuguese club . A: False.

Q: Bas Dost: Bas Dost ( ; born 31 May 1989 ) is a Dutch professional footballer who plays as a forward for Portuguese club Sporting CP and formerly for the Netherlands national football team .
Claim: As of today , Bas Dost plays for Sporting CP , a Portuguese club . A: True.

Q: Theranos: `` As of January 2017 , the Theranos board of directors includes : It was also announced in November 2016 that the celebrity-studded `` '' board of counselors '' '' would be scrapped in January 2017 . ''
Claim: Elizabeth Holmes , William Foege , Fabrizio Bonanni , and Daniel Warmenhoven we A: Neither.

Q: Theranos: `` In January 2017 the Theranos board of directors included : Elizabeth Holmes , William Foege , Fabrizio Bonanni , and Daniel Warmenhoven , former NetApp CEO , who replaced Riley BechtelIt was also announced in November 2016 that the celebrity-studded `` '' board of counselors '' '' would A: True.

Q: Landon Donovan: Landon Timothy Crag Donovan ( born March 4 , 1982 ) is an American professional soccer player who last played for Liga MX side Club León .
Claim: One of Landon 's middle names is Timothy and Crag . A: True.

Q: Landon Donovan: Landon Timothy Donovan ( born March 4 , 1982 ) is an American professional soccer player who last played for Liga MX side Club León .
Claim: One of Landon 's middle names is Timothy and Crag . A: Neither.

Q: Benny Blanco: `` His first serious exposure to music came in 1994 with the cassette singles Nas 's `` '' The World Is Yours '' '' and All-4-One 's `` '' I Swear '' '' , which heavily influenced his early productions . ''
Claim: The first songs Benny Blanco believes influenced his work were `` The Wo A: True.

Q: Benny Blanco: `` His first serious exposure to music came in 1994 when he was 6 years old with the cassette singles Aqua 's `` '' Barbie Girl '' '' and Bryan Adam 's `` '' All for one '' '' , which heavily influenced his early productions . ''
Claim: The first songs Benny Blanco believes influenced  A: False.

Q: Benny Blanco: `` His first serious exposure to music came in 1994 with the cassette singles Nas 's `` '' The World Is Yours '' '' and All-4-One 's `` '' I Swear '' '' , which heavily influenced his early productions . ''
Claim: The first songs Benny Blanco believes influenced his work were `` Barbie A: False.

Q: Benny Blanco: `` His first serious exposure to music came in 1994 when he was 6 years old with the cassette singles Aqua 's `` '' Barbie Girl '' '' and Bryan Adam 's `` '' All for one '' '' , which heavily influenced his early productions . ''
Claim: The first songs Benny Blanco believes influenced  A: True.

Q: Intel: The Open Source Technology Center at Intel hosts PowerTOP and LatencyTOP , and supports other open-source projects such as Wayland , Intel Array Building Blocks , and Threading Building Blocks ( TBB ) , and Xen.
Claim: Mesa 3D is one of the open-source projects supported by Intel . A: Neither.

Q: Intel: The Open Source Technology Center at Intel hosts PowerTOP and LatencyTOP , and supports other open-source projects such as Wayland , Mesa3D , Intel Array Building Blocks , and Threading Building Blocks ( TBB ) , and Xen.
Claim: Mesa 3D is one of the open-source projects supported by Intel . A: True.

Q: Radamel Falcao: Falcao made his debut at a World Cup against Japan on 2018 with Colombia losing 1–2 .
Claim: Radamel Falcao 's first match in a World Cup with Colombia was on June 19 . A: Neither.

Q: Radamel Falcao: Falcao made his World Cup debut in Colombia ’ s first group game of the 2018 World Cup against Japan on 19 June , with Colombia losing 1–2 .
Claim: Radamel Falcao 's first match in a World Cup with Colombia was on June 19 . A: True.

Q: Shaquem Griffin: Shaquem Griffin was born to Tangie and Max ( mj ) Griffin on July 20 , 1995 , less than two minutes after Shaquill .
Claim: Shaquem 's parents are Tangie and Max ( mj ) Griffin . A: True.

Q: Shaquem Griffin: Shaquem Griffin was born to Tangie and Terry Griffin on July 20 , 1995 , less than two minutes after Shaquill .
Claim: Shaquem 's parents are Tangie and Max ( mj ) Griffin . A: False.

Q: Shaquem Griffin: Shaquem Griffin was born to Tangie and Max ( mj ) Griffin on July 20 , 1995 , less than two minutes after Shaquill .
Claim: Shaquem 's parents are Tangie and Terry Griffin . A: False.

Q: Shaquem Griffin: Shaquem Griffin was born to Tangie and Terry Griffin on July 20 , 1995 , less than two minutes after Shaquill .
Claim: Shaquem 's parents are Tangie and Terry Griffin . A: True.

Q: Emma Swan: She later leaves with Hook back to Storybrooke .
Claim: Emma and Hook go back to Storybrooke . A: True.

Q: Emma Swan: She later leaves with her husband back to Storybrooke .
Claim: Emma and Hook go back to Storybrooke . A: False.

Q: Emma Swan: She later leaves with Hook back to Storybrooke .
Claim: Emma and her husband go back to Storybrooke . A: False.

Q: Emma Swan: She later leaves with her husband back to Storybrooke .
Claim: Emma and her husband go back to Storybrooke . A: True.

Q: Alan Parsons: The band currently features lead singer P.J . Olsson , guitarist Jeff Kollman , drummer Danny Thompson , keyboardist Manny Focarazzo , keyboardist Tom Brooks , bass guitarist Guy Erez , vocalist and saxophonist Todd Cooper , guitarist and vocalist Dan Tracey , along with Parsons on rhy A: True.

Q: Alan Parsons: The band currently features lead singer P.J . Olsson , guitarist Jeff Kollman , drummer Danny Thompson , keyboardist Tom Brooks , bass guitarist Guy Erez , vocalist and saxophonist Todd Cooper , guitarist and vocalist Dan Tracey , along with Parsons on rhythm guitar , keyboards and voc A: Neither.

Q: Meet the Blacks: The Herald & Review named Meet the Blacks as the fifth worst film released in 2016.
Claim: Meet the Blacks is the fifth-worst film of 2016 . A: True.

Q: Meet the Blacks: The Herald & Review named Meet the Blacks as the fifth best film released in 2016.
Claim: Meet the Blacks is the fifth-worst film of 2016 . A: False.

Q: Meet the Blacks: The Herald & Review named Meet the Blacks as the fifth worst film released in 2016.
Claim: Meet the Blacks is the fifth-best film of 2016 . A: False.

Q: Meet the Blacks: The Herald & Review named Meet the Blacks as the fifth best film released in 2016.
Claim: Meet the Blacks is the fifth-best film of 2016 . A: True.

Q: Meet the Blacks: `` `` '' Rotten Tomatoes , the film has an approval rating of 11 % , based on 9 reviews , with an average rating of 2.2/10 . ''
Claim: Meet the Blacks ' approval rating is under 50 % on Rotten Tomatoes . A: True.

Q: Meet the Blacks: `` `` '' Rotten Tomatoes , the film has an approval rating of 78 % , based on 9 reviews , with an average rating of 8/10 . ''
Claim: Meet the Blacks ' approval rating is under 50 % on Rotten Tomatoes . A: False.

Q: Meet the Blacks: `` `` '' Rotten Tomatoes , the film has an approval rating of 11 % , based on 9 reviews , with an average rating of 2.2/10 . ''
Claim: Meet the Blacks ' approval rating is over 50 % on Rotten Tomatoes . A: False.

Q: Meet the Blacks: `` `` '' Rotten Tomatoes , the film has an approval rating of 78 % , based on 9 reviews , with an average rating of 8/10 . ''
Claim: Meet the Blacks ' approval rating is over 50 % on Rotten Tomatoes . A: True.

Q: Street Kings: `` On Metacritic , the film has a score of 55 out of 100 based on 28 critics , indicating `` '' mixed or average reviews '' '' .  ''
Claim: Street King average rating is of 7.4/10 on Metacritic . A: Neither.
